<div fxLayout="column" fxFlexFill [empNgSpinnerHost]="spinner">

    <emp-ng-spinner #spinner [visible]="submitted">

    </emp-ng-spinner>

    <ng-container *ngIf="canEditVoucher">

      <div fxFlex="none" fxLayoutAlign="end center">

        <button
          class="btn-action"
          (click)="onAddVoucherEntryClicked()">
          Agregar movimiento
        </button>

        <button
          class="btn-action"
          [style.marginLeft.px]="8"
          (click)="onImportVoucherEntryClicked()">
          Importar movimientos
        </button>

      </div>

      <br>

    </ng-container>


    <emp-fa-voucher-entry-table fxFlex
      [voucherEntryList]="voucher.entries"
      [canDelete]="canEditVoucher"
      [canReviewVoucher]="voucher.actions?.reviewVoucher"
      (voucherEntryTableEvent)="onVoucherEntryTableEvent($event)">

    </emp-fa-voucher-entry-table>

</div>

<emp-fa-voucher-entry-editor *ngIf="displayVoucherEntryEditor"
  [voucher]="voucher"
  [voucherEntry]="selectedVoucherEntry"
  [readonly]="!canEditVoucher"
  (voucherEntryEditorEvent)="onVoucherEntryEditorEvent($event)">

</emp-fa-voucher-entry-editor>

<emp-fa-voucher-entries-importer *ngIf="displayVoucherEntriesImporter"
  [voucher]="voucher"
  (voucherEntriesImporterEvent)="onVoucherEntriesImporterEvent($event)">

</emp-fa-voucher-entries-importer>
