<div class="fx-column-container-fill" [empNgSpinnerHost]="spinner">

  <emp-ng-spinner #spinner [visible]="submitted">

  </emp-ng-spinner>

  <div class="fx-row-container fx-gap fx-space-between fx-items-center">

    <div class="fx-item-none">

      <button type="button"
        class="btn"
        (click)="onExportButtonClicked()">
        Exportar movimientos
      </button>

    </div>

    <div *ngIf="canEditEntries" class="fx-item-none">

      <button type="button"
        class="btn-action"
        (click)="onAddVoucherEntryClicked()">
        Agregar movimiento
      </button>

    </div>

  </div>

  <br>

  <emp-fa-voucher-entry-table class="fx-item"
    [voucherEntryList]="voucher.entries"
    [canDelete]="canEditEntries"
    [canReviewVoucher]="voucher.actions?.reviewVoucher"
    (voucherEntryTableEvent)="onVoucherEntryTableEvent($event)">

  </emp-fa-voucher-entry-table>

</div>

<emp-fa-voucher-entry-editor *ngIf="displayVoucherEntryEditor"
  [voucher]="voucher"
  [voucherEntry]="selectedVoucherEntry"
  [readonly]="!canEditEntries"
  (voucherEntryEditorEvent)="onVoucherEntryEditorEvent($event)">

</emp-fa-voucher-entry-editor>


<emp-ng-export-report-modal *ngIf="displayExportModal"
  title="Exportar movimientos"
  message="Se generará la exportación a Excel de los movimientos de la póliza."
  [fileUrl]="fileUrl"
  (exportReportModalEvent)="onExportReportModalEvent($event)">

</emp-ng-export-report-modal>
