<emp-ng-modal-window [config]="{width:'600px'}">

  <emp-ng-card
    title="Importador de archivos"
    hint="Herramienta para importar archivos con datos externos a SICOFIN."
    (cardClose)="onClose()">

    <div class="card-body-padding">

      <form #form="ngForm" empNgFormKeyDownEnter autocomplete="off" class="form-section">

        <div class="fx-column-container-fill fx-gap-half">

          <div class="fx-row-container fx-space-between">

            <div class="fx-item">

              <ng-container *ngIf="importTypeRequired">

                <label>Tipo:</label>

                <emp-ng-select name="importType"
                  [config]="{bindByValue: false, selectFirst: true}"
                  [(ngModel)]="formData.importType"
                  [items]="importTypeList"
                  [showError]="!formData.importType"
                  (changes)="onFilterChanges()">
                </emp-ng-select>

              </ng-container>

            </div>

            <div class="fx-item-none">

              <label>Fecha:</label>
              <emp-ng-datepicker name="fromDate"
                [(ngModel)]="formData.date"
                [showError]="!formData.date"
                (valueChange)="onFilterChanges()">

              </emp-ng-datepicker>

            </div>

          </div>

          <div class="fx-row-container sm-fx-column-container">

            <div class="fx-item">

              <div class="section-title"> {{multiFiles ? 'Archivos:' : 'Archivo:'}} </div>

              <div class="instruction-text" *ngIf="!!instructionMessage"> {{instructionMessage}} </div>

              <emp-ng-file-control *ngIf="commandExecuted && importerDatasets"
                [(fileControl)]="fileControlData"
                [config]="{filesTypes: filesTypesValid,
                           autoUpload: false,
                           maxFiles: multiFiles ? filesTotal : 1,
                           tagRequired: importTypeRequired,
                           tagDefault: tagDefault,
                           tagsList: tagList,
                           placeholder: fileControlPlaceholder,
                           textSave: 'Importar archivo'}"
                (fileControlEvent)="onFileControlEvent($event)">

              </emp-ng-file-control>

            </div>

          </div>

        </div>

      </form>

    </div>

  </emp-ng-card>

</emp-ng-modal-window>
