<form [formGroup]="form" [empNgSpinnerHost]="spinner" empNgFormKeyDownEnter
  autocomplete="off" class="form-section">

  <emp-ng-spinner #spinner [visible]="isLoading"></emp-ng-spinner>

  <div class="fx-column-container fx-gap-half">

    <div class="fx-row-container">

        <div class="fx-item-third">
          <label>Catálogo de cuentas:</label>
          <emp-ng-select
            formControlName="accountsChart"
            [items]="accountsChartMasterDataList"
            [showError]="formHelper.isControlInvalid(form.controls.accountsChart)"
            (changes)="onAccountsChartChanges($event)">
          </emp-ng-select>
        </div>

        <div class="fx-item-third">
          <label>Contabilidad:</label>
          <emp-ng-select
            formControlName="ledger"
            [items]="ledgerList"
            [showError]="formHelper.isControlInvalid(form.controls.ledger)"
            bindLabel="fullName"
            (changes)="onLedgerChanges($event)">
          </emp-ng-select>
        </div>

        <div class="fx-item-third">
          <label>Libro auxiliar:</label>
          <emp-ng-select
            formControlName="subledgerType"
            [items]="subledgerAccountsTypeList"
            [showError]="formHelper.isControlInvalid(form.controls.subledgerType)">
          </emp-ng-select>
        </div>

    </div>

    <div class="fx-row-container">

      <div class="fx-item-third">
        <label>Número:</label>
        <input empNgInteger
          type="text" class="text-box"
          formControlName="number"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.number)">
      </div>

      <div class="fx-item">
        <label>Nombre:</label>
        <input
          type="text" class="text-box"
          formControlName="name"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.name)">
      </div>

    </div>

    <div class="fx-row-container">

      <div class="fx-item">
        <label>Descripción:</label>
        <textarea class="text-area" empNgTextareaAutoresize [maxHeightTextarea]="82" rows="1"
          formControlName="description"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.description)">
        </textarea>
      </div>

    </div>

  </div>

  <mat-divider class="horizontal">

  </mat-divider>

  <div #rowFooter class="fx-row-container">

    <ng-container *ngIf="!isSaved">

      <div class="fx-item fx-end fx-items-center">

        <button (click)="onSubmitForm()"
          [class.btn]="!formHelper.isFormReady(form)"
          [class.btn-action]="formHelper.isFormReady(form)">
          Agregar
        </button>

      </div>

    </ng-container>

    <ng-container *ngIf="isSaved">

      <div class="fx-item fx-items-center" *ngIf="editionMode">

        <button *ngIf="!subledgerAccount.suspended"
          type="button" class="btn-warning"
          (click)="onSuspendButtonClicked()">
          Suspender
        </button>

        <button *ngIf="subledgerAccount.suspended"
          type="button" class="btn-action"
          (click)="onActiveButtonClicked()">
          Activar
        </button>

      </div>

      <div class="fx-item fx-end fx-items-center">

        <ng-container *ngIf="editionMode">

          <button
            [class.btn]="!formHelper.isFormReady(form)"
            [class.btn-action]="formHelper.isFormReady(form)"
            (click)="onSubmitForm()">
            Guardar
          </button>

          <button (click)="enableEditor(false)"
            class="btn-base uppercase">
            Descartar Cambios
          </button>

        </ng-container>

        <ng-container *ngIf="!editionMode">

          <button *empNgHasPermission="permissions.FEATURE_EDICION_AUXILIARES"
            class="btn-action"
            (click)="enableEditor(true)">
            Editar
          </button>

        </ng-container>

      </div>

    </ng-container>

  </div>

</form>
