<form [formGroup]="formHandler.form" empNgFormKeyDownEnter autocomplete="off" class="form-section">

  <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="0.75rem" fxLayoutGap.lt-md="0">

    <div fxLayout="row" fxLayout.lt-md="column">

      <div [fxFlex]="100/3">
        <label>Catálogo de cuentas:</label>
        <emp-ng-select
          [formControlName]="controls.accountsChartUID"
          [items]="accountsChartMasterDataList"
          [showError]="formHandler.showInvalidControl(controls.accountsChartUID)"
          (changes)="onAccountChartChanges()">
        </emp-ng-select>
      </div>

      <div fxFlex>

      </div>

      <div fxFlex="none" fxFlex.lt-md="none" *ngIf="!isSaved">

        <label [style.line-height]="'normal'">Fecha de alta:</label>
        <emp-ng-datepicker
          [formControlName]="controls.applicationDate"
          [showError]="formHandler.showInvalidControl(controls.applicationDate)">

        </emp-ng-datepicker>

      </div>

      <div fxFlex="none" fxFlex.lt-md="none" *ngIf="isSaved">

        <label [style.line-height]="'normal'">Fecha de alta:</label>
        <emp-ng-datepicker
          [formControlName]="controls.startDate"
          [showError]="formHandler.showInvalidControl(controls.startDate)">

        </emp-ng-datepicker>

      </div>

    </div>


    <div fxLayout="row" fxLayout.lt-md="column">

      <div [fxFlex]="100">
        <label>Cuenta:</label>
        <input type="text" class="text-box"
          [formControlName]="controls.accountNumber"
          [class.invalid-control]="formHandler.showInvalidControl(controls.accountNumber)">
      </div>

    </div>

    <div fxLayout="row" fxLayout.lt-md="column">

      <div [fxFlex]="100">
        <label>Descripción:</label>
        <textarea class="text-area" empNgTextareaAutoresize rows="1"
          [formControlName]="controls.name"
          [class.invalid-control]="formHandler.showInvalidControl(controls.name)">

        </textarea>
      </div>

    </div>

    <div fxLayout="row" fxLayout.lt-md="column">

      <div [fxFlex]="100">
        <label>Observaciones:</label>
        <textarea class="text-area" empNgTextareaAutoresize rows="1"
          [formControlName]="controls.description"
          [class.invalid-control]="formHandler.showInvalidControl(controls.description)">

        </textarea>
      </div>

    </div>

    <div fxLayout="row" fxLayout.lt-md="column">

      <div [fxFlex]="100/3">
        <label>Rol de la cuenta:</label>
        <emp-ng-select
          [config]="{bindByValue: false}"
          [formControlName]="controls.role"
          [items]="accountRoleList"
          [showError]="formHandler.showInvalidControl(controls.role) ||
                       formHandler.showInvalidControl(controls.mainRole)"
          [bindLabel]="null"
          (changes)="onRoleChanges($event)">
        </emp-ng-select>
      </div>

      <div [fxFlex]="100/3">
        <label>Tipo de cuenta:</label>
        <emp-ng-select
          [formControlName]="controls.accountTypeUID"
          [items]="selectedAccountChart?.accountTypes ?? []"
          [showError]="formHandler.showInvalidControl(controls.accountTypeUID)">
        </emp-ng-select>
      </div>

      <div [fxFlex]="100/3">
        <label>Naturaleza:</label>
        <emp-ng-select
          [config]="{bindByValue: false}"
          [formControlName]="controls.debtorCreditor"
          [items]="debtorCreditorTypesList"
          [showError]="formHandler.showInvalidControl(controls.debtorCreditor)"
          [bindLabel]="null">
        </emp-ng-select>
      </div>

    </div>

    <div fxLayout="row" fxLayout.lt-md="column">

      <div [fxFlex]="100/6">
        <mat-checkbox
          [formControlName]="controls.usesSector"
          (click)="$event.stopPropagation"
          (change)="onChecksChanges()">
          Maneja Sectores
        </mat-checkbox>
      </div>

      <div [fxFlex]="100/6">
        <mat-checkbox
          [formControlName]="controls.usesSubledger"
          (click)="$event.stopPropagation"
          (change)="onChecksChanges()">
          <span [class.warning-text]="formHandler.showInvalidControl(controls.usesSubledger)">
            Maneja Auxiliares
          </span>
        </mat-checkbox>
      </div>

    </div>

  </div>

</form>
