<form [formGroup]="form" empNgFormKeyDownEnter autocomplete="off" class="form-section">

  <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="0.75rem" fxLayoutGap.lt-md="0">

    <div fxLayout="row" fxLayout.lt-md="column">

      <div [fxFlex]="100/3">
        <label>Catálogo de cuentas:</label>
        <emp-ng-select
          formControlName="accountsChartUID"
          [items]="accountsChartMasterDataList"
          [showError]="formHelper.isControlInvalid(form.controls.accountsChartUID)"
          (changes)="onAccountChartChanges()">
        </emp-ng-select>
      </div>

      <div fxFlex>

      </div>

      <div fxFlex="none" fxFlex.lt-md="none" *ngIf="!isSaved">

        <label [style.line-height]="'normal'">Fecha de alta:</label>
        <emp-ng-datepicker
          formControlName="applicationDate"
          [showError]="formHelper.isControlInvalid(form.controls.applicationDate)">

        </emp-ng-datepicker>

      </div>

      <div fxFlex="none" fxFlex.lt-md="none" *ngIf="isSaved">

        <label [style.line-height]="'normal'">Fecha de alta:</label>
        <emp-ng-datepicker
          formControlName="startDate"
          [showError]="formHelper.isControlInvalid(form.controls.startDate)">

        </emp-ng-datepicker>

      </div>

    </div>


    <div fxLayout="row" fxLayout.lt-md="column">

      <div [fxFlex]="100">
        <label>Cuenta:</label>
        <input type="text" class="text-box"
          formControlName="accountNumber"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.accountNumber)">
      </div>

    </div>

    <div fxLayout="row" fxLayout.lt-md="column">

      <div [fxFlex]="100">
        <label>Descripción:</label>
        <textarea class="text-area" empNgTextareaAutoresize rows="1"
          formControlName="name"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.name)">

        </textarea>
      </div>

    </div>

    <div fxLayout="row" fxLayout.lt-md="column">

      <div [fxFlex]="100">
        <label>Observaciones:</label>
        <textarea class="text-area" empNgTextareaAutoresize rows="1"
          formControlName="description"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.description)">

        </textarea>
      </div>

    </div>

    <div fxLayout="row" fxLayout.lt-md="column">

      <div [fxFlex]="100/3">
        <label>Rol de la cuenta:</label>
        <emp-ng-select
          [config]="{bindByValue: false}"
          formControlName="role"
          [items]="accountRoleList"
          [showError]="formHelper.isControlInvalid(form.controls.role) ||
                       formHelper.isControlInvalid(form.controls.mainRole)"
          [bindLabel]="null"
          (changes)="onRoleChanges($event)">
        </emp-ng-select>
      </div>

      <div [fxFlex]="100/3">
        <label>Tipo de cuenta:</label>
        <emp-ng-select
          formControlName="accountTypeUID"
          [items]="selectedAccountChart?.accountTypes ?? []"
          [showError]="formHelper.isControlInvalid(form.controls.accountTypeUID)">
        </emp-ng-select>
      </div>

      <div [fxFlex]="100/3">
        <label>Naturaleza:</label>
        <emp-ng-select
          [config]="{bindByValue: false}"
          formControlName="debtorCreditor"
          [items]="debtorCreditorTypesList"
          [showError]="formHelper.isControlInvalid(form.controls.debtorCreditor)"
          [bindLabel]="null">
        </emp-ng-select>
      </div>

    </div>

    <div fxLayout="row" fxLayout.lt-md="column">

      <div [fxFlex]="100/6">
        <mat-checkbox
          formControlName="usesSector"
          (click)="$event.stopPropagation"
          (change)="onChecksChanges()">
          Maneja Sectores
        </mat-checkbox>
      </div>

      <div [fxFlex]="100/6">
        <mat-checkbox
          formControlName="usesSubledger"
          (click)="$event.stopPropagation"
          (change)="onChecksChanges()">
          <span [class.warning-text]="formHelper.isControlInvalid(form.controls.usesSubledger)">
            Maneja Auxiliares
          </span>
        </mat-checkbox>
      </div>

    </div>

  </div>

</form>
