<emp-ng-modal-window [config]="{width: '900px'}">

  <emp-ng-card
    [title]="title"
    [hint]="!isSaved && stepper.selectedIndex === 0 ?
            'Información de la cuenta a crear en SICOFIN' : accountNameText"
    (cardClose)="onClose()">

    <div [empNgSpinnerHost]="spinner">

      <emp-ng-spinner #spinner [visible]="isLoading || submitted">

      </emp-ng-spinner>

      <mat-stepper #stepper linear labelPosition="bottom">

        <mat-step #configStep *ngIf="showConfigStep"
          [stepControl]="accountEditionConfig.form"
          [editable]="!accountEdited">

          <ng-template matStepLabel>Configuración</ng-template>
          <ng-template matStepperIcon="edit"> <mat-icon>done</mat-icon> </ng-template>

          <div class="section-title"> Datos de la cuenta a modificar con el asistente</div>

          <div class="step-container">

            <emp-fa-account-edition-config #accountEditionConfig
              [account]="account"
              (accountEditionConfigEvent)="onAccountEditionConfigEvent($event)">

            </emp-fa-account-edition-config>


          </div>

          <mat-divider class="divider-stepper-margin"></mat-divider>

          <div class="fx-row-container">

            <div class="fx-item fx-items-center">

              <button class="btn"
                (click)="onDeleteAccountClicked()">
                Eliminar cuenta
              </button>

            </div>

            <div class="fx-item fx-end fx-items-center">

              <button matStepperNext
                [class.btn]="!isFormAccountEditionConfigValid"
                [class.btn-action]="isFormAccountEditionConfigValid"
                [style.marginRight.px]="8"
                (click)="accountEditionConfig.invalidateForm()">
                Siguiente
              </button>

            </div>

          </div>

        </mat-step>

        <mat-step #infoStep *ngIf="showInfoStep"
          [stepControl]="accountHeader.form" [editable]="!accountEdited">

          <ng-template matStepLabel>Información</ng-template>
          <ng-template matStepperIcon="edit"> <mat-icon>done</mat-icon> </ng-template>

          <div class="section-title"> Información general de la cuenta </div>

          <div class="step-container">

            <emp-fa-account-header #accountHeader
              [commandType]="commandType"
              [account]="account"
              [accountsChartMasterDataList]="accountsChartMasterDataList"
              [selectedAccountChart]="selectedAccountChart"
              [dataToUpdate]="dataToUpdateSelected"
              (accountHeaderEvent)="onAccountHeaderEvent($event)">

            </emp-fa-account-header>

          </div>

          <mat-divider class="divider-stepper-margin"></mat-divider>

          <div class="fx-row-container">

            <div class="fx-item fx-end fx-items-center">

              <button matStepperPrevious *ngIf="stepper.selectedIndex > 0"
                class="btn" [style.marginRight.px]="16" >
                Anterior
              </button>

              <button matStepperNext
                [class.btn]="!isFormAccountValid"
                [class.btn-action]="isFormAccountValid"
                [style.marginRight.px]="8"
                (click)="accountHeader.invalidateForm()">
                Siguiente
              </button>

            </div>

          </div>

        </mat-step>


        <mat-step #currenciesStep *ngIf="showCurrenciesStep"
          [stepControl]="accountCurrenciesTable.form" [editable]="!accountEdited">

          <ng-template matStepLabel>Monedas</ng-template>
          <ng-template matStepperIcon="edit"> <mat-icon>done</mat-icon> </ng-template>

          <div class="section-title"> Asignación de monedas </div>

          <div class="step-container">

            <emp-fa-account-items-table #accountCurrenciesTable
              itemType="currencies"
              [dataList]="selectedAccountChart?.currencies ?? []"
              [selectedList]="accountCurrenciesList"
              [changeSelectionRequired]="isSaved"
              (accountItemsTableEvent)="onAccountCurrenciesTableEvent($event)">

            </emp-fa-account-items-table>

          </div>

          <mat-divider class="divider-stepper-margin"></mat-divider>

          <div class="fx-row-container">

            <div class="fx-item fx-end fx-items-center">

              <button matStepperPrevious *ngIf="stepper.selectedIndex > 0"
                class="btn" [style.marginRight.px]="16" >
                Anterior
              </button>

              <button matStepperNext
                [class.btn]="!isFormCurrenciesValid"
                [class.btn-action]="isFormCurrenciesValid"
                [style.marginRight.px]="8"
                (click)="accountCurrenciesTable.invalidateForm()">
                Siguiente
              </button>

            </div>

          </div>

        </mat-step>


        <mat-step #sectorsStep *ngIf="showSectorsStep"
          [stepControl]="accountSectorsTable.form" [editable]="!accountEdited">

          <ng-template matStepLabel>Sectores</ng-template>
          <ng-template matStepperIcon="edit"> <mat-icon>done</mat-icon> </ng-template>

          <div class="section-title"> Asignación de sectores </div>

          <div class="step-container">

            <emp-fa-account-items-table #accountSectorsTable
              itemType="sectors"
              [dataList]="selectedAccountChart?.sectors ?? []"
              [selectedList]="accountSectorsList"
              [changeSelectionRequired]="isSaved"
              (accountItemsTableEvent)="onAccountSectorsTableEvent($event)">

            </emp-fa-account-items-table>

          </div>


          <mat-divider class="divider-stepper-margin"></mat-divider>

          <div class="fx-row-container">

            <div class="fx-item fx-end fx-items-center">

              <button matStepperPrevious *ngIf="stepper.selectedIndex > 0"
                class="btn" [style.marginRight.px]="16" >
                Anterior
              </button>

              <button matStepperNext
                [class.btn]="!isFormSectorsValid"
                [class.btn-action]="isFormSectorsValid"
                [style.marginRight.px]="8"
                (click)="accountSectorsTable.invalidateForm()">
                Siguiente
              </button>

            </div>

          </div>

        </mat-step>


        <mat-step #roleForSectorsStep *ngIf="showRoleForSectorsStep"
          [stepControl]="accountRoleForSectorsTable.form" [editable]="!accountEdited">

          <ng-template matStepLabel>Rol por sector</ng-template>
          <ng-template matStepperIcon="edit"> <mat-icon>done</mat-icon> </ng-template>

          <div class="section-title"> Sectores que se manejarán a nivel de auxiliar </div>

          <div class="step-container">

            <emp-fa-account-items-table #accountRoleForSectorsTable
              itemType="roles"
              [selectionRequired]="false"
              [dataList]="selectedSectorsList ?? []"
              [selectedList]="accountSectorsWithSubledgerAccountList"
              [selectionDisabled]="true"
              (accountItemsTableEvent)="onAccountRoleForSectorsTableEvent($event)">

            </emp-fa-account-items-table>

          </div>


          <mat-divider class="divider-stepper-margin"></mat-divider>

          <div class="fx-row-container">

            <div class="fx-item fx-end fx-items-center">

              <button matStepperPrevious *ngIf="stepper.selectedIndex > 0"
                class="btn" [style.marginRight.px]="16" >
                Anterior
              </button>

              <button matStepperNext
                [class.btn]="!isFormRoleForSectorsValid"
                [class.btn-action]="isFormRoleForSectorsValid"
                [style.marginRight.px]="8"
                (click)="accountRoleForSectorsTable.invalidateForm()">
                Siguiente
              </button>

            </div>

          </div>

        </mat-step>

        <mat-step #resumenStep [completed]="accountEdited">

          <ng-template matStepLabel>Confirmar</ng-template>
          <ng-template matStepperIcon="edit"> <mat-icon>done</mat-icon> </ng-template>

          <div class="section-title"> Confirmación de información de la cuenta </div>
          <div class="step-container">

            <ng-container *ngIf="isReadyForDryRun">

              Se analizará la información de la cuenta para realizar la operación
              <strong class="warning-text"> {{' ' + accountEditionTypeName}}</strong>: <br><br>

              <table [style.margin]="0">
                <tr>
                  <td class='nowrap'> Catálogo de cuentas: </td>
                  <td>
                    <strong>{{selectedAccountChart?.name}}</strong>
                  </td>
                </tr>
                <tr>
                  <td class='nowrap'> Cuenta: </td>
                  <td>
                    <strong> {{accountEditionCommand.accountFields?.accountNumber + ': ' + accountEditionCommand.accountFields?.name}}</strong>
                  </td>
                </tr>
                <tr>
                  <td class='nowrap'> Rol: </td>
                  <td>
                    <strong> {{accountRoleDescriptionFromCommand}}</strong>
                  </td>
                </tr>
                <tr>
                  <td class='nowrap'> {{isSaved ? 'Fecha de aplicación' : 'Fecha de alta:'}} </td>
                  <td>
                    <strong>{{accountEditionCommand.applicationDate | empDateTimeFormat }}</strong>
                  </td>
                </tr>
              </table>

              <br> ¿Analizo la cuenta?

            </ng-container>

            <ng-container *ngIf="executedDryRun && !accountEdited">

              <ng-container *ngIf="isDryRunResultValid">

                Se realizarán las siguientes acciones: <br><br>

                <div class="scrollable-container step-list-container">

                  <ul class="info-list">
                    <li *ngFor="let action of accountEditionResult.actions">{{action}}</li>
                  </ul>

                </div>

                <br>
                ¿Realizo las acciones?

              </ng-container>

              <ng-container *ngIf="!isDryRunResultValid">

                No es posible realizar lo operación
                <strong class="warning-text"> {{' ' + accountEditionTypeName}}</strong>. <br><br>


                <div class="scrollable-container step-list-container">

                  <ul class="info-list">
                    <li *ngFor="let error of accountEditionResult.issues">{{error}}</li>
                  </ul>

                </div>

              </ng-container>

            </ng-container>

            <ng-container *ngIf="accountEdited">

              Se realizaron las siguientes acciones: <br><br>

              <div class="scrollable-container step-list-container">

                <ul class="info-list">
                  <li *ngFor="let action of accountEditionResult.actions">{{action}}</li>
                </ul>

              </div>

              <br>
              <br>

              Operación
              <strong class="warning-text">
                {{' ' + accountEditionTypeName}}</strong>
              realizada correctamente.

              <br>
              <br>

              {{accountEditionResult.message}}

            </ng-container>

          </div>

          <mat-divider class="divider-stepper-margin"></mat-divider>

          <div class="fx-row-container">

            <div class="fx-item fx-end fx-items-center">

              <ng-container *ngIf="stepper.selectedIndex > 0">

                <button matStepperPrevious
                  class="btn" [style.marginRight.px]="8">
                  Anterior
                </button>

                <mat-divider vertical="true" class="vertical" [style.marginTop.px]="0">

                </mat-divider>

              </ng-container>

              <button
                [class.btn]="!isReadyForDryRun"
                [class.btn-action]="isReadyForDryRun"
                [style.marginRight.px]="16"
                (click)="onDryRunDataClicked()">
                Analizar cuenta
              </button>

              <button
                [class.btn]="!isDryRunResultValid || accountEdited "
                [class.btn-action]="isDryRunResultValid && !accountEdited"
                (click)="onEditAccountClicked()"
                [style.marginRight.px]="8">
                {{ isSaved ? 'Guardar cambios' : 'Agregar cuenta' }}
              </button>

            </div>

          </div>

        </mat-step>

      </mat-stepper>

    </div>

  </emp-ng-card>

</emp-ng-modal-window>
