<form [formGroup]="form" empNgFormKeyDownEnter autocomplete="off" class="form-section form-container">

  <div fxLayout="row" fxLayoutAlign="space-between">

    <div fxFlex="none">

      <label >
        <span [class.warning-text]="formHelper.isControlInvalid(form.controls.dataToUpdate)">
          ¿Qué se desea modificar en esta cuenta?:
        </span>
      </label>

      <br>

      <div fxLayout="column" fxLayoutGap="0.75rem">

        <mat-checkbox *ngFor="let data of accountDataToUpdateList;"
          [checked]="selection.isSelected(data)"
          (click)="$event.stopPropagation()"
          (change)="onDataToUpdateChanged(data)">
          {{data.name}}
        </mat-checkbox>

      </div>

    </div>

    <div fxFlex="none" fxFlex.lt-md="none">

      <label>Fecha de aplicación:</label>
      <emp-ng-datepicker
        formControlName="applicationDate"
        [minDate]="minDate"
        [maxDate]="maxDate"
        [showError]="formHelper.isControlInvalid(form.controls.applicationDate)"
        (valueChange)="onApplicationDateChanged()">

      </emp-ng-datepicker>

    </div>

  </div>

</form>
