<form [formGroup]="formHandler.form" empNgFormKeyDownEnter autocomplete="off" class="form-section">

  <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="0.75rem" fxLayoutGap.lt-md="0">

    <div fxLayout="row" fxLayout.lt-md="column">

      <div [fxFlex]="100/3">
        <label>Catálogo de cuentas:</label>
        <input type="text" class="text-box" [formControlName]="controls.accountsChart">
      </div>

      <div fxFlex fxLayoutAlign="end">
        <div fxFlex="100px">
          <label>Fecha de alta:</label>
          <input type="text" class="text-box" [formControlName]="controls.startDate">
        </div>

        <div fxFlex="100px">
          <label>Fecha de baja:</label>
          <input type="text" class="text-box" [formControlName]="controls.endDate">
        </div>

      </div>

    </div>

    <div fxLayout="row" fxLayout.lt-md="column">

      <div [fxFlex]="100">
        <label>Cuenta:</label>
        <input type="text" class="text-box" [formControlName]="controls.number">
      </div>

    </div>

    <div fxLayout="row" fxLayout.lt-md="column">

      <div [fxFlex]="100">
        <label>Descripción:</label>
        <textarea class="text-area" empNgTextareaAutoresize [maxHeightTextarea]="null" rows="1"
          [formControlName]="controls.name"
          [class.invalid-control]="formHandler.showInvalidControl(controls.name)">

        </textarea>
      </div>

    </div>

    <div fxLayout="row" fxLayout.lt-md="column">

      <div [fxFlex]="100">
        <label>Observaciones:</label>
        <textarea class="text-area" empNgTextareaAutoresize [maxHeightTextarea]="null" rows="1"
          [formControlName]="controls.description"
          [class.invalid-control]="formHandler.showInvalidControl(controls.description)">

        </textarea>
      </div>

    </div>

    <div fxLayout="row" fxLayout.lt-md="column">

      <div fxFlex>
        <label>Rol de la cuenta:</label>
        <input type="text" class="text-box" [formControlName]="controls.role">
      </div>

      <div [fxFlex]="100/3">
        <label>Tipo de cuenta:</label>
        <input type="text" class="text-box" [formControlName]="controls.type">
      </div>

      <div [fxFlex]="100/3">
        <label>Naturaleza:</label>
        <input type="text" class="text-box" [formControlName]="controls.debtorCreditor">
      </div>

    </div>

    <div fxLayout="row" fxLayout.lt-md="column">

      <div fxFlex="none">
        <mat-checkbox [formControlName]="controls.usesSector"> Maneja Sectores </mat-checkbox>
      </div>

      <div fxFlex="none">
        <mat-checkbox [formControlName]="controls.usesSubledger"> Maneja Auxiliares </mat-checkbox>
      </div>

    </div>

    <ng-container *empNgHasPermission="permissions.FEATURE_EDICION_CUENTAS">

      <mat-divider></mat-divider>

      <div fxLayout="row">

        <div fxFlex fxLayoutAlign="end">
          <button class="btn" (click)="onFixAccountNameButtonClicked()">
            Corregir descripción
          </button>

          <button class="btn-action" (click)="onUnpdateAccountButtonClicked()">
            Modificar cuenta
          </button>
        </div>

      </div>

    </ng-container>

  </div>

</form>


<emp-fa-account-edition-wizard *ngIf="displayAccountEditionWizard"
  [commandType]="accountEditionCommandType"
  [account]="account"
  (accountEditionWizardEvent)="onAccountEditionWizardEvent($event)">

</emp-fa-account-edition-wizard>
