<form [formGroup]="formHandler.form" empNgFormKeyDownEnter autocomplete="off" class="form-section">

  <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="0.75rem" fxLayoutGap.lt-md="0">

    <div fxLayout="row" fxLayout.lt-md="column">

      <div [fxFlex]="100/3">
        <label>Catálogo de cuentas:</label>
        <input type="text" class="text-box" [formControlName]="controls.accountsChart">
      </div>

      <div fxFlex fxLayoutAlign="end">
        <div fxFlex="100px">
          <label>Fecha de alta:</label>
          <input type="text" class="text-box" [formControlName]="controls.startDate">
        </div>

        <div fxFlex="100px">
          <label>Fecha de baja:</label>
          <input type="text" class="text-box" [formControlName]="controls.endDate">
        </div>

      </div>

    </div>


    <div fxLayout="row" fxLayout.lt-md="column">

      <div [fxFlex]="100">
        <label>Número de cuenta:</label>
        <input type="text" class="text-box" [formControlName]="controls.number">
      </div>

    </div>

    <div fxLayout="row" fxLayout.lt-md="column">

      <div [fxFlex]="100">
        <label>Nombre:</label>
        <textarea class="text-area" empNgTextareaAutoresize [maxHeightTextarea]="null" rows="1"
          [formControlName]="controls.name"
          [class.invalid-control]="formHandler.showInvalidControl(controls.name)">

        </textarea>
      </div>

    </div>

    <div fxLayout="row" fxLayout.lt-md="column">

      <div [fxFlex]="100">
        <label>Descripción:</label>
        <textarea class="text-area" empNgTextareaAutoresize [maxHeightTextarea]="null" rows="1"
          [formControlName]="controls.description"
          [class.invalid-control]="formHandler.showInvalidControl(controls.description)">

        </textarea>
      </div>

    </div>

    <div fxLayout="row" fxLayout.lt-md="column">

      <div fxFlex>
        <label>Rol de la cuenta:</label>
        <input type="text" class="text-box" [formControlName]="controls.role">
      </div>

      <div [fxFlex]="100/3">
        <label>Tipo de cuenta:</label>
        <input type="text" class="text-box" [formControlName]="controls.type">
      </div>

      <div [fxFlex]="100/3">
        <label>Naturaleza:</label>
        <input type="text" class="text-box" [formControlName]="controls.debtorCreditor">
      </div>

    </div>

    <ng-container *empNgHasPermission="permissions.FEATURE_EDICION_CUENTAS">

      <mat-divider></mat-divider>

      <div fxLayout="row" fxLayout.lt-md="column">

        <div [fxFlex]="100/3">
          <label>¿Qué se desea hacer con esta cuenta?:</label>
          <emp-ng-select [(ngModel)]="accountEditionTypeSelected"
            [ngModelOptions]="{standalone: true}"
            [items]="accountEditionTypeList">

          </emp-ng-select>
        </div>

        <div fxFlex="none" fxLayoutAlign="start end" [style.paddingBottom.px]="2">
          <button
            [class.btn]="accountEditionTypeSelected === null"
            [class.btn-action]="accountEditionTypeSelected !== null"
            (click)="onAccountEditionButtonClicked()">
            Ejecutar el asistente
          </button>
        </div>

      </div>

    </ng-container>

  </div>

</form>


<emp-fa-account-edition-wizard *ngIf="displayAccountEditionWizard"
  [accountEditionCommandType]="accountEditionTypeSelected"
  [account]="account"
  (accountEditionWizardEvent)="onAccountEditionWizardEvent($event)">

</emp-fa-account-edition-wizard>
