<form [formGroup]="form" empNgFormKeyDownEnter autocomplete="off" class="form-section">

  <div class="fx-column-container fx-gap-half">

    <div class="fx-row-container fx-space-between">

      <div class="fx-item-third sm-fx-item">
        <label>Catálogo de cuentas:</label>
        <input type="text" class="text-box" formControlName="accountsChart">
      </div>

      <div class="fx-item-none fx-row-container">
        <div class="fx-item-size" style="--size: 100px">
          <label>Fecha de alta:</label>
          <input type="text" class="text-box" formControlName="startDate">
        </div>

        <div class="fx-item-size" style="--size: 100px">
          <label>Fecha de baja:</label>
          <input type="text" class="text-box" formControlName="endDate">
        </div>

      </div>

    </div>

    <div class="fx-row-container sm-fx-column-container">

      <div class="fx-item-one">
        <label>Cuenta:</label>
        <input type="text" class="text-box" formControlName="number">
      </div>

    </div>

    <div class="fx-row-container sm-fx-column-container">

      <div class="fx-item-one">
        <label>Descripción:</label>
        <textarea class="text-area" empNgTextareaAutoresize [maxHeightTextarea]="null" rows="1"
          formControlName="name"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.name)">

        </textarea>
      </div>

    </div>

    <div class="fx-row-container sm-fx-column-container">

      <div class="fx-item-one">
        <label>Observaciones:</label>
        <textarea class="text-area" empNgTextareaAutoresize [maxHeightTextarea]="null" rows="1"
          formControlName="description"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.description)">

        </textarea>
      </div>

    </div>

    <div class="fx-row-container">

      <div class="fx-item-third">
        <label>Rol de la cuenta:</label>
        <input type="text" class="text-box" formControlName="role">
      </div>

      <div class="fx-item-third">
        <label>Tipo de cuenta:</label>
        <input type="text" class="text-box" formControlName="type">
      </div>

      <div class="fx-item-third">
        <label>Naturaleza:</label>
        <input type="text" class="text-box" formControlName="debtorCreditor">
      </div>

    </div>

    <div class="fx-row-container">

      <div class="fx-item-none">
        <mat-checkbox formControlName="usesSector"> Maneja Sectores </mat-checkbox>
      </div>

      <div class="fx-item-none">
        <mat-checkbox formControlName="usesSubledger"> Maneja Auxiliares </mat-checkbox>
      </div>

    </div>

    <ng-container *empNgHasPermission="permissions.FEATURE_EDICION_CUENTAS">

      <mat-divider class="horizontal-slim">

      </mat-divider>

      <div class="fx-row-container fx-end">

        <button type="button"
          class="btn"
          (click)="onFixAccountNameButtonClicked()">
          Corregir descripción
        </button>

        <button type="button"
          class="btn-action"
          (click)="onUnpdateAccountButtonClicked()">
          Modificar cuenta
        </button>

      </div>

    </ng-container>

  </div>

</form>


<emp-fa-account-edition-wizard *ngIf="displayAccountEditionWizard"
  [commandType]="accountEditionCommandType"
  [account]="account"
  (accountEditionWizardEvent)="onAccountEditionWizardEvent($event)">

</emp-fa-account-edition-wizard>
