<form #form="ngForm" empNgFormKeyDownEnter autocomplete="off" class="form-section form-container"
  [style.padding.px]="0" [style.margin.px]="0">

  <div class="fx-column-container fx-gap-half">

      <div class="fx-row-container fx-wrap">

        <div class="fx-item-none">

          <label>{{periodsRequired ? 'Período inicial:': 'Período:'}}</label>
          <emp-ng-date-range-picker name="initialPeriod"
            [(startDate)]="formData.initialPeriod.fromDate"
            [(endDate)]="formData.initialPeriod.toDate"
            [fixedEndDate]="initialPeriodFixedDate"
            [displaySelectionType]="false"
            [showError]="!formData.initialPeriod.fromDate ||
                         !formData.initialPeriod.toDate">

          </emp-ng-date-range-picker>

        </div>

        <div *ngIf="periodsRequired"
          class="fx-item-none">

          <label>Período final:</label>
          <emp-ng-date-range-picker name="finalPeriod" #finalPeriodRangePicker
            [(startDate)]="formData.finalPeriod.fromDate"
            [(endDate)]="formData.finalPeriod.toDate"
            [fixedEndDate]="finalPeriodFixedDate"
            [displaySelectionType]="false"
            [showError]="!formData.finalPeriod.fromDate ||
                         !formData.finalPeriod.toDate">

          </emp-ng-date-range-picker>

        </div>

        <div class="fx-item-quarter">

          <label>Ordenar por:</label>

          <emp-ng-select name="accountStatementOrder"
            [(ngModel)]="formData.accountStatementOrder"
            [items]="accountStatementOrderList"
            [showError]="!formData.accountStatementOrder">

          </emp-ng-select>

        </div>

        <div class="fx-item-none" [style.paddingTop.px]="13">

          <button title="Generar balanza"
            [class.btn-icon-action]="form.valid"
            [class.btn-icon]="form.invalid"
            [disabled]="form.invalid"
            (click)="onBuildAccountStatementClicked()">

            <mat-icon>search</mat-icon>

          </button>

        </div>

      </div>

  </div>

</form>

<mat-divider [style.margin]="'8px -8px'">

</mat-divider>
