<emp-ng-card title="Estado de cuenta"
  [hint]="cardHint"
  (cardClose)="onCloseButtonClicked()">

  <div [style.height.%]="100" [style.width.%]="100" [style.padding.px]="8">

    <div class="fx-column-container-fill" [empNgSpinnerHost]="spinner">

      <emp-ng-spinner #spinner [visible]="isLoading">

      </emp-ng-spinner>

      <emp-fa-account-statement-filter class="fx-item-none"
        [query]="query"
        [entry]="entry"
        (accountStatementFilterEvent)="onFilterEvent($event)">

      </emp-fa-account-statement-filter>

      <emp-ng-data-table class="fx-item"
        [dataTable]="accountStatement"
        [executed]="queryExecuted"
        [notQueryExecutedText]="'Cargando...'"
        [controlsAligned]="true"
        [clickableEntry]="true"
        [countOnlyEntries]="true"
        (dataTableEvent)="onDataTableEvent($event)">

      </emp-ng-data-table>

    </div>

  </div>

</emp-ng-card>


<emp-ng-export-report-modal *ngIf="displayExportModal"
  title="Exportar estado de cuenta"
  [fileUrl]="excelFileUrl"
  (exportReportModalEvent)="onExportReportModalEvent($event)">

</emp-ng-export-report-modal>


<emp-ng-file-print-preview
  title="Impresión de póliza"
  hint="Información de la póliza"
  [file]="voucherFile">

</emp-ng-file-print-preview>
