<form #form="ngForm" autocomplete="off" class="form-section form-container"
  [style.padding.px]="0" [style.margin.px]="0"
  (keydown.enter)="$event.preventDefault()">

  <div fxLayout="column" fxLayoutGap="0.5rem">

      <div fxLayout="row wrap">

        <div fxFlex="none">

          <label>{{periodsRequired ? 'Período inicial:': 'Período:'}}</label>
          <emp-ng-date-range-picker name="initialPeriod"
            [(startDate)]="formData.initialPeriod.fromDate"
            [(endDate)]="formData.initialPeriod.toDate"
            [fixedEndDate]="initialPeriodFixedDate"
            [displaySelectionType]="false"
            [showError]="!formData.initialPeriod.fromDate ||
                         !formData.initialPeriod.toDate">

          </emp-ng-date-range-picker>

        </div>

        <div fxFlex="none" *ngIf="periodsRequired">

          <label>Período final:</label>
          <emp-ng-date-range-picker name="finalPeriod" #finalPeriodRangePicker
            [(startDate)]="formData.finalPeriod.fromDate"
            [(endDate)]="formData.finalPeriod.toDate"
            [fixedEndDate]="finalPeriodFixedDate"
            [displaySelectionType]="false"
            [showError]="!formData.finalPeriod.fromDate ||
                         !formData.finalPeriod.toDate">

          </emp-ng-date-range-picker>

        </div>

        <div fxFlex="28px" [style.paddingTop.px]="13">

          <button [class.btn-icon-action]="form.valid"
            [class.btn-icon]="form.invalid"
            [disabled]="form.invalid"
            (click)="onBuildAccountStatementClicked()"
            title="Generar balanza">

            <mat-icon>search</mat-icon>

          </button>

        </div>

      </div>

  </div>

</form>

<mat-divider [style.margin]="'8px -8px'">

</mat-divider>
