<emp-ng-modal-window>

  <emp-ng-card
    [title]="title"
    hint='Información del proceso.'
    (cardClose)="onClose()">

    <div class="card-body-padding" [empNgSpinnerHost]="spinner">

      <emp-ng-spinner #spinner [visible]="submitted">

      </emp-ng-spinner>

      <form [formGroup]="form" empNgFormKeyDownEnter autocomplete="off" class="form-section">

        <div fxLayout="column" fxLayoutGap="0.5rem" fxLayoutGap.lt-md="0.5rem">

          <ng-container *ngIf="isRentabilidadType">

            <div fxLayout="row" fxLayout.lt-md="column">

              <div fxFlex>
                <label>Año:</label>
                <input type="text" class="text-box" empNgInteger
                  formControlName="year"
                  [class.invalid-control]="formHelper.isControlInvalid(form.controls.year)">
              </div>

            </div>

            <div fxLayout="row" fxLayout.lt-md="column">

              <div fxFlex>
                <label>Mes:</label>
                <input type="text" class="text-box" empNgInteger
                  formControlName="month"
                  [class.invalid-control]="formHelper.isControlInvalid(form.controls.month)">
              </div>

            </div>

            <div fxLayout="row" fxLayout.lt-md="column">

              <div fxFlex>
                <label>Metodología:</label>
                <input type="text" class="text-box" empNgInteger
                  formControlName="methodology"
                  [class.invalid-control]="formHelper.isControlInvalid(form.controls.methodology)">
              </div>

            </div>

          </ng-container>

          <ng-container *ngIf="isConciliacionSICType">

            <div fxLayout="row" fxLayout.lt-md="column">

              <div fxFlex="225px">

                <label>Período:</label>

                <emp-ng-date-range-picker
                  formControlName="period"
                  [displaySelectionType]="false"
                  [showError]="formHelper.isControlInvalid(form.controls.period)">

                </emp-ng-date-range-picker>

              </div>

            </div>

          </ng-container>

          <ng-container *ngIf="isExportacionSaldosMensualesType || isExportacionSaldosDiariosType">

            <div fxLayout="row" fxLayout.lt-md="column" *ngIf="isExportacionSaldosMensualesType">

              <div fxFlex>

                <label>Tipo de saldo:</label>

                <emp-ng-select
                  formControlName="storeInto"
                  [items]="storeBalancesIntoForMonthlyExportList"
                  [showError]="formHelper.isControlInvalid(form.controls.storeInto)">
                </emp-ng-select>

              </div>

            </div>

            <div fxLayout="row" fxLayout.lt-md="column">

              <div fxFlex="none">

                <label>Fecha:</label>

                <emp-ng-datepicker
                  formControlName="date"
                  [showError]="formHelper.isControlInvalid(form.controls.date)">

                </emp-ng-datepicker>

              </div>

            </div>

          </ng-container>

          <mat-divider class="horizontal-slim">

          </mat-divider>

          <div fxLayout="row">

            <div fxFlex fxLayoutAlign="end center">

              <button (click)="onExecuteExternalProcessClicked()"
                [class.btn]="!formHelper.isFormReady(form)"
                [class.btn-action]="formHelper.isFormReady(form)">
                Ejecutar
              </button>

            </div>

          </div>

        </div>

      </form>

    </div>

  </emp-ng-card>

</emp-ng-modal-window>
