<emp-ng-modal-window>

  <emp-ng-card
    [title]="title"
    hint='Información del proceso.'
    (cardClose)="onClose()">

    <div class="card-body-padding" [empNgSpinnerHost]="spinner">

      <emp-ng-spinner #spinner [visible]="submitted">

      </emp-ng-spinner>

      <form [formGroup]="formHandler.form" autocomplete="off" class="form-section"
          (keydown.enter)="$event.preventDefault()">

        <div fxLayout="column" fxLayoutGap="0.5rem" fxLayoutGap.lt-md="0.5rem">

          <ng-container *ngIf="isRentabilidadType">

            <div fxLayout="row" fxLayout.lt-md="column">

              <div fxFlex>
                <label>Año:</label>
                <input type="text" class="text-box" empNgInteger
                  [formControlName]="controls.anio"
                  [class.invalid-control]="formHandler.showInvalidControl(controls.anio)">
              </div>

            </div>

            <div fxLayout="row" fxLayout.lt-md="column">

              <div fxFlex>
                <label>Mes:</label>
                <input type="text" class="text-box" empNgInteger
                  [formControlName]="controls.mes"
                  [class.invalid-control]="formHandler.showInvalidControl(controls.mes)">
              </div>

            </div>

            <div fxLayout="row" fxLayout.lt-md="column">

              <div fxFlex>
                <label>Metodología:</label>
                <input type="text" class="text-box" empNgInteger
                  [formControlName]="controls.metodologia"
                  [class.invalid-control]="formHandler.showInvalidControl(controls.metodologia)">
              </div>

            </div>

          </ng-container>

          <ng-container *ngIf="isConciliacionSICType">

            <div fxLayout="row" fxLayout.lt-md="column">

              <div fxFlex="225px">

                <label>Período:</label>

                <emp-ng-date-range-picker
                  [formControlName]="controls.periodo"
                  [displaySelectionType]="false"
                  [showError]="formHandler.showInvalidControl(controls.periodo)">

                </emp-ng-date-range-picker>

              </div>

            </div>

          </ng-container>

          <mat-divider class="horizontal-slim">

          </mat-divider>

          <div fxLayout="row">

            <div fxFlex fxLayoutAlign="end center">

              <button (click)="onExecuteExternalProcessClicked()"
                [class.btn]="!formHandler.isValid"
                [class.btn-action]="formHandler.isValid">
                Ejecutar
              </button>

            </div>

          </div>

        </div>

      </form>

    </div>

  </emp-ng-card>

</emp-ng-modal-window>
