<div fxLayout="column" fxFlexFill [empNgSpinnerHost]="spinner">

  <emp-ng-spinner #spinner [visible]="submitted">

  </emp-ng-spinner>

  <div class="section-title"> Información general de la cuenta </div>

  <ng-container [ngSwitch]="accountsList?.uid">

    <emp-fa-conciliacion-derivados-entry-header *ngSwitchCase="AccountsListType.ConciliacionDerivados"
      [accountListEntry]="accountListEntry"
      [isSaved]="isSaved"
      (conciliacionDerivadosEntryHeaderEvent)="onConciliacionDerivadosEntryHeaderEvent($event)">

    </emp-fa-conciliacion-derivados-entry-header>

    <emp-fa-depreciacion-activo-fijo-entry-header *ngSwitchCase="AccountsListType.DepreciacionActivoFijo"
      [accountListEntry]="accountListEntry"
      [isSaved]="isSaved"
      (depreciacionActivoFijoEntryHeaderEvent)="onDepreciacionActivoFijoEntryHeaderEvent($event)">

    </emp-fa-depreciacion-activo-fijo-entry-header>

    <emp-fa-prestamos-interbancarios-entry-header *ngSwitchCase="AccountsListType.PrestamosInterbancarios"
      [accountListEntry]="accountListEntry"
      [isSaved]="isSaved"
      (prestamosInterbancariosEntryHeaderEvent)="onPrestamosInterbancariosEntryHeaderEvent($event)">

    </emp-fa-prestamos-interbancarios-entry-header>

    <emp-fa-swaps-cobertura-entry-header *ngSwitchCase="AccountsListType.SwapsCobertura"
      [accountListEntry]="accountListEntry"
      [isSaved]="isSaved"
      (swapsCoberturaEntryHeaderEvent)="onSwapsCoberturaEntryHeaderEvent($event)">

    </emp-fa-swaps-cobertura-entry-header>

  </ng-container>

</div>
