<emp-ng-spinner #spinner [visible]="isLoading"></emp-ng-spinner>

<div class="explorer" fxLayoutGap="32px">

  <div class="primary" [fxHide.lt-lg]="displayBalanceSetTabbedView">

    <emp-fa-stored-balance-sets-table
      [storedBalanceSetList]="storedBalanceSetList"
      [selectedStoredBalanceSet]="selectedStoredBalanceSet"
      (storedBalanceSetsTableEvent)="onStoredBalanceSetsTableEvent($event)">

    </emp-fa-stored-balance-sets-table>

  </div>

  <div class="secondary priority" *ngIf="displayBalanceSetTabbedView">

    <emp-fa-stored-balance-set-tabbed-view
      [storedBalanceSet]="selectedStoredBalanceSet"
      [ledgerList]="selectedAccountChart.ledgers"
      (storedBalanceSetTabbedViewEvent)="onStoredBalanceSetTabbedViewEvent($event)">

    </emp-fa-stored-balance-set-tabbed-view>

  </div>

</div>

<emp-fa-stored-balance-set-creator *ngIf="displayBalanceSetCreator"
  [accountsChartDefault]="selectedAccountChart"
  (storedBalanceSetCreatorEvent)="onStoredBalanceSetCreatorEvent($event)">

</emp-fa-stored-balance-set-creator>

<emp-fa-export-report-modal *ngIf="displayExportModal"
  title="Exportar saldos"
  [message]="'Se generará la exportación a Excel para ' + ( selectedStoredBalanceSet.name | lowercase )"
  [excelFileUrl]="excelFileUrl"
  (exportReportModalEvent)="onExportReportModalEvent($event)">

</emp-fa-export-report-modal>
