<div class="card card-border">

  <div class="card-header card-header-flat">

    <div class="card-title">
      Balanzas de comprobación

      <div class="card-hint" empNgProgressText
        loadingText="Cargando"
        [finalText]="cardHint"
        [isLoading]="isLoading">
      </div>

    </div>

  </div>

  <div class="card-body" [empNgSpinnerHost]="spinner">

    <div fxLayout="column" fxFlexFill>

      <emp-ng-spinner #spinner [visible]="isLoading">

      </emp-ng-spinner>

      <emp-fa-trial-balance-filter fxFlex="none"
        (trialBalanceFilterEvent)="onTrialBalanceFilterEvent($event)">

      </emp-fa-trial-balance-filter>

      <emp-fa-trial-balance-table fxFlex
        [trialBalance]="trialBalance">

      </emp-fa-trial-balance-table>

    </div>

  </div>

</div>
