<form [formGroup]="formHandler.form" [empNgSpinnerHost]="spinner" empNgFormKeyDownEnter
  autocomplete="off" class="form-section">

  <emp-ng-spinner #spinner [visible]="isLoading"></emp-ng-spinner>

  <div fxLayout="column" fxLayoutGap="0.75rem" fxLayoutGap.lt-md="0.75rem">

    <div fxLayout="row">

        <div [fxFlex]="200/3">
          <label>Nombre:</label>
          <input type="text" class="text-box"
            [formControlName]="controls.fullName"
            [class.invalid-control]="formHandler.showInvalidControl(controls.fullName)">
        </div>

        <div [fxFlex]="100/3">
          <label>Identificador:</label>
          <input type="text" class="text-box"
            [formControlName]="controls.userID"
            [class.invalid-control]="formHandler.showInvalidControl(controls.userID)">
        </div>

    </div>

    <div fxLayout="row">

      <div [fxFlex]="200/3">
        <label>Correo:</label>
        <input type="text" class="text-box"
          [formControlName]="controls.eMail"
          [class.invalid-control]="formHandler.showInvalidControl(controls.eMail)">
      </div>

      <div [fxFlex]="100/3">
        <label>Número de empleado:</label>
        <input type="text" class="text-box"
          [formControlName]="controls.employeeNo"
          [class.invalid-control]="formHandler.showInvalidControl(controls.employeeNo)">
      </div>

    </div>

    <div fxLayout="row">

      <div [fxFlex]="200/3">
        <label>Área de trabajo:</label>
        <emp-ng-select
          [formControlName]="controls.workareaUID"
          [items]="workareasList"
          [loading]="isLoading"
          [showError]="formHandler.showInvalidControl(controls.workareaUID)">
        </emp-ng-select>
      </div>

      <div [fxFlex]="100/3">
        <label>Puesto de trabajo:</label>
        <input type="text" class="text-box"
          [formControlName]="controls.jobPosition"
          [class.invalid-control]="formHandler.showInvalidControl(controls.jobPosition)">
      </div>

    </div>

  </div>


  <mat-divider class="horizontal" *ngIf="!isSaved || (isSaved && canEdit && !isDeleted)"></mat-divider>


  <div #rowFooter fxLayout="row">

    <ng-container *ngIf="!isSaved">

      <div fxFlex fxLayoutAlign="end center">

        <button
          [class.btn]="!formHandler.isValid"
          [class.btn-action]="formHandler.isValid"
          (click)="onSubmitButtonClicked()">
          Agregar
        </button>

      </div>

    </ng-container>

    <ng-container *ngIf="isSaved && canEdit && !isDeleted">

      <div fxFlex fxLayoutAlign="start center">

        <button *ngIf="!editionMode && canGeneratePassword"
          class="btn-action"
          (click)="onGeneratePasswordButtonClicked()">
          Generar contraseña
        </button>

        <button *ngIf="editionMode"
          type="button" class="btn-warning"
          (click)="onDeleteButtonClicked()">
          Dar de baja
        </button>

      </div>

      <div fxFlex fxLayoutAlign="end center">

        <button *ngIf="!editionMode"
          class="btn-action"
          (click)="enableEditor(true)">
          Editar
        </button>

        <ng-container *ngIf="editionMode">

          <button
            [class.btn]="!formHandler.isValid"
            [class.btn-action]="formHandler.isValid"
            (click)="onSubmitButtonClicked()">
            Guardar
          </button>

          <button
            class="btn-base uppercase"
            (click)="enableEditor(false)">
            Descartar Cambios
          </button>

        </ng-container>

      </div>

    </ng-container>

  </div>

</form>
