<div class="card card-border">

  <div class="card-header card-header-flat">

    <div class="card-title">
      Visualizador de reglas de agrupación

      <div class="card-hint" empNgProgressText
        loadingText="Cargando"
        [finalText]="cardHint"
        [isLoading]="isLoading">
      </div>

    </div>

  </div>

  <div class="card-body" [empNgSpinnerHost]="spinner">

    <div fxLayout="column" fxFlexFill>

      <emp-ng-spinner #spinner [visible]="isLoading">

      </emp-ng-spinner>

      <emp-fa-financial-concepts-filter fxFlex="none"
        (financialConceptsFilterEvent)="onFinancialConceptsFilterEvent($event)">

      </emp-fa-financial-concepts-filter>

      <emp-fa-data-table fxFlex
        [dataTable]="financialConceptData"
        [commandExecuted]="commandExecuted"
        [selectedEntry]="selectedFinancialConcept"
        (dataTableEvent)="onFinancialConceptsTableEvent($event)">

      </emp-fa-data-table>

    </div>

  </div>

</div>


<emp-fa-export-report-modal *ngIf="displayExportModal"
  [title]="'Exportar ' + financialConceptsGroupsName"
  [fileUrl]="excelFileUrl"
  (exportReportModalEvent)="onExportReportModalEvent($event)">

</emp-fa-export-report-modal>
