<form #form="ngForm" empNgFormKeyDownEnter autocomplete="off" class="form-section form-container">

  <div fxLayout="column" fxLayoutGap="0.5rem" fxLayoutGap.lt-md="0.5rem">

    <div fxLayout="row" fxLayout.lt-md="column">

      <div fxFlex="calc((100% - 156px) / 2)">

        <label>Catálogo de cuentas:</label>

        <emp-ng-select name="accountChart" required
          [config]="{bindByValue: false}"
          [(ngModel)]="financialConceptsForm.accountChart"
          [items]="accountsChartMasterDataList"
          [loading]="isLoading"
          [showError]="!financialConceptsForm.accountChart"
          (changes)="onAccountsChartChanges($event)">
        </emp-ng-select>

      </div>

      <div fxFlex="calc((100% - 156px) / 2)">

        <label>Agrupación:</label>

        <emp-ng-select name="financialConceptsGroup" required
          [config]="{bindByValue: false}"
          [(ngModel)]="financialConceptsForm.financialConceptsGroup"
          [items]="filteredGroupsList"
          [loading]="isLoading"
          [showError]="!financialConceptsForm.financialConceptsGroup">
        </emp-ng-select>

      </div>

      <div fxFlex="120px" fxFlex.lt-md="none" #date>

        <label>Fecha:</label>

        <emp-ng-datepicker name="date" disabled
          [(ngModel)]="financialConceptsForm.date">

        </emp-ng-datepicker>

      </div>

      <div fxFlex="36px" fxFlex.lt-md="none" [style.paddingTop.px]="12" [style.paddingBottom.px]="2">

        <button title="Consultar agrupaciones"
          [class.btn-icon]="form.invalid"
          [class.btn-icon-action]="form.valid"
          [disabled]="form.invalid"
          (click)="onSearchFinancialConceptsClicked()">

          <mat-icon>search</mat-icon>

        </button>

      </div>

    </div>

  </div>

</form>
