<form #form="ngForm" empNgFormKeyDownEnter autocomplete="off" class="form-section form-container">

  <div class="fx-column-container fx-gap-half">

    <div class="fx-row-container">

      <div [ngClass]="displayStatus ? 'fx-item-quarter' : 'fx-item-half'">

        <label>Catálogo de cuentas:</label>

        <emp-ng-select name="accountsChartUID" #accountsChartUID="ngModel" required
          [(ngModel)]="filter.accountsChartUID"
          [items]="accountsChartMasterDataList"
          [loading]="isLoading"
          [showError]="accountsChartUID.invalid"
          (changes)="onAccountChartChanges($event)">
        </emp-ng-select>

      </div>


      <div class="fx-item-quarter" *ngIf="displayStatus">

        <label>Estado:</label>

        <emp-ng-select name="status"
          [config]="{clearable: true}"
          [(ngModel)]="filter.status"
          [items]="voucherStatusList"
          [loading]="isLoading"
          placeholder="Todos">
        </emp-ng-select>

      </div>

      <div class="fx-item fx-items-end">

        <div class="input-search-container">

          <input type="text" name="keywords"
            class="text-box"
            placeholder="Buscar pólizas..."
            [(ngModel)]="filter.keywords"
            (keyup.enter)="onSearchVoucherClicked()"
            (keyup.escape)="filter.keywords = ''">

        </div>

      </div>

      <div class="fx-item-none fx-items-end" [style.paddingBottom.px]="2">

        <button title="Buscar"
          [class.btn-icon-action]="form.valid"
          [class.btn-icon]="!form.valid"
          [disabled]="!form.valid"
          (click)="onSearchVoucherClicked()">
          <mat-icon>search</mat-icon>

        </button>

      </div>

      <ng-container #filterOptionsSection>

        <mat-divider vertical="true" class="vertical">

        </mat-divider>

        <div class="fx-item-none fx-items-end" [style.paddingBottom.px]="2">

          <button class="btn-base"
            [style.width.px]="100"
            (click)="onShowFiltersClicked()">
            {{showFilters ? 'Ocultar' :'Mostrar'}} <mat-icon>filter_list</mat-icon>
          </button>

        </div>

      </ng-container>

    </div>


    <div #filterSection *ngIf="showFilters" [@empExpandCollapse]>

      <div class="fx-column-container fx-gap-half">

        <mat-divider class="horizontal-slim">

        </mat-divider>

        <div class="fx-row-container">

          <div class="fx-item-half">

            <label>Contabilidad:</label>

            <emp-ng-select name="ledger"
              [config]="{clearable: true}"
              [(ngModel)]="filter.ledgerUID"
              [items]="selectedAccountChart?.ledgers"
              bindLabel="fullName"
              placeholder="Todas">
            </emp-ng-select>

          </div>

          <div class="fx-item-half">

            <label>Tipo de póliza:</label>

            <emp-ng-select  name="voucherTypeUID"
              [config]="{clearable: true}"
              [(ngModel)]="filter.voucherTypeUID"
              [items]="voucherTypesList"
              [loading]="isLoading"
              placeholder="Todos">
            </emp-ng-select>

          </div>

        </div>

        <div class="fx-row-container sm-fx-wrap">

          <div class="fx-item-quarter sm-fx-item-half">

            <label>No. de pólizas:</label>

            <emp-ng-input-tags name="vouchersNumbers"
              [(ngModel)]="filter.vouchersNumbers">

            </emp-ng-input-tags>

          </div>

          <div class="fx-item-quarter sm-fx-item-half">

            <label>ID pólizas:</label>

            <emp-ng-input-tags name="vouchersIDs"
              [(ngModel)]="filter.vouchersID">

            </emp-ng-input-tags>

          </div>

          <div class="fx-item sm-fx-item-half">

            <label class="ellipsis">Concepto:</label>

            <input type="text" name="concept"
              class="text-box"
              [(ngModel)]="filter.concept"
              (keyup.escape)="filter.concept = ''">

          </div>

          <div class="fx-item-none">

            <label>Fechas de afectación:</label>

            <emp-ng-date-range-picker name="accountingDate"
              [(startDate)]="filter.fromAccountingDate"
              [(endDate)]="filter.toAccountingDate"
              [displaySelectionType]="false">

            </emp-ng-date-range-picker>

          </div>

        </div>

        <div class="fx-row-container sm-fx-wrap">

          <div class="fx-item-quarter sm-fx-item-half">

            <label>Con las cuentas:</label>

            <emp-ng-input-tags name="accounts"
              [(ngModel)]="filter.accounts">

            </emp-ng-input-tags>

          </div>

          <div class="fx-item-quarter sm-fx-item-half">

            <label>Con los auxiliares:</label>

            <emp-ng-input-tags name="subledgerAccounts"
              [(ngModel)]="filter.subledgerAccounts">

            </emp-ng-input-tags>

          </div>

          <div class="fx-item sm-fx-item-half">

            <label class="ellipsis">No. de verificaciones:</label>

            <emp-ng-input-tags name="verificationNumbers"
              [(ngModel)]="filter.verificationNumbers">

            </emp-ng-input-tags>

          </div>

          <div class="fx-item-none">

            <label>Fechas de elaboración:</label>

            <emp-ng-date-range-picker name="recordingDate"
              [(startDate)]="filter.fromRecordingDate"
              [(endDate)]="filter.toRecordingDate"
              [displaySelectionType]="false">

            </emp-ng-date-range-picker>

          </div>

        </div>

        <div class="fx-row-container">

          <div class="fx-item-half">

            <label>Tipo de transacción:</label>

            <emp-ng-select name="transactionTypeUID"
              [config]="{clearable: true}"
              [(ngModel)]="filter.transactionTypeUID"
              [items]="transactionTypesList"
              [loading]="isLoading"
              placeholder="Todos">
            </emp-ng-select>

          </div>

        </div>

        <div class="fx-row-container">

          <div class="fx-item-quarter fx-items-end">

            <emp-ng-select name="editorType"
              [style.width.%]="100"
              [(ngModel)]="filter.editorType"
              [items]="editorTypeList">
            </emp-ng-select>

          </div>

          <div class="fx-item-size" style="--size: calc(75% - 117px)">

            <label>Persona o cuenta de acceso:</label>

            <emp-ng-select-typeahead name="editorUID"
              [(ngModel)]="filter.editorUID"
              [config]="{ clearable: true }"
              [searcherAPI]="vouchersEditorsAPI"
              [initialValue]="selectedEditor"
              (changes)="onEditorChanges($event)"
              placeholder="Todos">

            </emp-ng-select-typeahead>

          </div>

          <ng-container #clearFilterSection>

            <mat-divider vertical="true" class="vertical">

            </mat-divider>

            <div class="fx-item-none fx-items-end" [style.paddingBottom.px]="2">

              <button
                [style.width.px]="100"
                class="btn-base"
                (click)="onClearFilters()">
                Limpiar <mat-icon>filter_list</mat-icon>
              </button>

            </div>

          </ng-container>

        </div>

      </div>

    </div>

  </div>

</form>
