<div class="list-header" *ngIf="displayHeader" style="padding: 6px 24px 6px 8px;">

  <div class="list-header-container">

    <div class="fx-row-container fx-gap-size fx-items-center sm-fx-gap" style="--gap-size: 32px">
      <div class="fx-item-size sm-fx-item-none" style="--size: 20px">
        <div *ngIf="voucherList.length > 0">

          <emp-ng-check-box-all
            [selection]="selection"
            [values]="voucherList"
            (selectionChange)="onClickVouchersCheckAll($event)">
          </emp-ng-check-box-all>

        </div>
      </div>

      <div class="fx-item-size sm-fx-item-none nowrap" style="--size: 15%">
        No. Póliza <br>
        Contabilidad <br>
        Origen
      </div>

      <div class="fx-item-size sm-fx-item-none" style="--size: 15%">
        Transacción <br>
        <span class="nowrap">Fecha de elaboración</span> <br>
        Elaboró
      </div>

      <div class="fx-item-size sm-fx-item-none" style="--size: 15%">
        Póliza <br>
        <span class="nowrap">Fecha de afectación</span> <br>
        Autorizó
      </div>

      <div class="fx-item"> Concepto </div>

      <div class="fx-item-size sm-fx-item-none" style="--size: 80px"> Estado </div>

    </div>

  </div>

</div>

<div *ngIf="!displayHeader"
  class="fx-row-container sm-fx-column-container fx-gap-size sm-fx-gap" style="--gap-size: 32px">

  <div class="fx-item-size sm-fx-item-none" style="--size: 20px">
    <mat-checkbox
      [checked]="selected"
      (click)="$event.stopPropagation()"
      (change)="onClickVoucherCheck()">
    </mat-checkbox>
  </div>

  <div class="fx-item-size sm-fx-item-none" style="--size: 15%">
    <div class="list-item-text-highlight nowrap"
      (click)="onVoucherClicked()">
      <strong><a>{{voucher.number}}</a></strong>
    </div>
    <div><strong>{{voucher.ledgerName}}</strong></div>
    <div>{{voucher.sourceName}}</div>
  </div>

  <div class="fx-item-size sm-fx-item-none" style="--size: 15%">
    <div class="list-item-text-highlight">{{voucher?.transactionTypeName}}</div>
    <div><strong>{{voucher?.recordingDate | empDateTimeFormat}}</strong></div>
    <div>{{voucher.elaboratedBy}}</div>
  </div>

  <div class="fx-item-size sm-fx-item-none" style="--size: 15%">
    <div class="list-item-text-highlight">{{voucher.voucherTypeName}}</div>
    <div><strong>{{voucher?.accountingDate | empDateTimeFormat}}</strong></div>
    <div>{{voucher.authorizedBy}}</div>
  </div>

  <div class="fx-item">
    <div>{{voucher.concept}}</div>
  </div>

  <div class="fx-item-size sm-fx-item-none" style="--size: 80px">
    <div>{{voucher.status}}</div>
  </div>

</div>
