<form #form="ngForm" autocomplete="off" class="form-section form-container"
  (keydown.enter)="$event.preventDefault()">

  <div fxLayout="column" fxLayoutGap="0.5rem" fxLayoutGap.lt-md="0">

    <div fxLayout="row">

      <div fxFlex="50">

        <label>Catálogo:</label>

        <emp-ng-select name="accountsChartUID" #accountsChartUID="ngModel" required
          [(ngModel)]="filter.accountsChartUID"
          [items]="accountsChartMasterDataList"
          [loading]="isLoading"
          [showError]="accountsChartUID.invalid"
          (changes)="onAccountChartChanges($event)">
        </emp-ng-select>

      </div>

      <div fxFlex fxLayoutAlign="start end">

        <div class="input-search-container">

          <input type="text" class="text-box" name="keywords"
            placeholder="Buscar pólizas..."
            [(ngModel)]="filter.keywords"
            (keyup.enter)="onSearchVoucherClicked()"
            (keyup.escape)="filter.keywords = ''">

        </div>

      </div>

      <div fxFlex="36px" fxLayoutAlign="space-around end" [style.paddingBottom.px]="2">

        <button title="Buscar"
          [class.btn-icon-action]="isFormValid"
          [class.btn-icon]="!isFormValid"
          [disabled]="!isFormValid"
          (click)="onSearchVoucherClicked()">
          <mat-icon>search</mat-icon>

        </button>

      </div>

      <ng-container #filterOptionsSection>

        <mat-divider vertical="true" class="vertical">

        </mat-divider>

        <div fxFlex="117px" fxLayoutAlign="space-around end" [style.paddingBottom.px]="2">

          <button class="btn-base" (click)="onShowFiltersClicked()" fxFlex="100%">
            {{showFilters ? 'Ocultar' :'Mostrar'}}
            <mat-icon [style.paddingLeft.px]="8">filter_list</mat-icon>
          </button>

        </div>

      </ng-container>

    </div>


    <div #filterSection *ngIf="showFilters" [@expandCollapse]>

      <mat-divider [style.marginBottom.px]="8" [style.marginRight.px]="8">

      </mat-divider>

      <div fxLayout="row" [style.marginBottom.px]="8">

        <div fxFlex="25">

          <label>No. póliza:</label>

          <input type="text" class="text-box" name="number"
            [(ngModel)]="filter.number"
            (keyup.escape)="filter.number = ''">

        </div>

        <div fxFlex="25">

          <label>Concepto:</label>

          <input type="text" class="text-box" name="concept"
            [(ngModel)]="filter.concept"
            (keyup.escape)="filter.concept = ''">

        </div>

        <div fxFlex="50">

          <label>Contabilidad:</label>

          <emp-ng-select name="ledger"
            [config]="{clearable: true}"
            [(ngModel)]="filter.ledgerUID"
            [items]="accountChartSelected?.ledgers"
            bindLabel="fullName"
            placeholder="Todas">
          </emp-ng-select>

        </div>

      </div>

      <div fxLayout="row" [style.marginBottom.px]="8">

        <div fxFlex="25">

          <label>Con la cuenta:</label>

          <input type="text" class="text-box" name="accountKeywords"
            [(ngModel)]="filter.accountKeywords"
            (keyup.escape)="filter.accountKeywords = ''">

        </div>

        <div fxFlex="25">

          <label>Con el auxiliar:</label>

          <input type="text" class="text-box" name="subledgerAccountKeywords"
            [(ngModel)]="filter.subledgerAccountKeywords"
            (keyup.escape)="filter.subledgerAccountKeywords = ''">

        </div>

        <ng-container #periodSection>

          <div fxFlex="none">

            <label>Periodo:</label>

            <emp-ng-date-range-picker name="period"
              [(startDate)]="filter.fromDate"
              [(endDate)]="filter.toDate"
              [displaySelectionType]="false">

            </emp-ng-date-range-picker>

          </div>

          <div fxFlex fxLayoutAlign="start end">

            <emp-ng-select name="dateSearchField"  #dateSearchField="ngModel" [fxFlex]="100"
              [(ngModel)]="filter.dateSearchField"
              [config]="{clearable: true}"
              [items]="dateSearchFieldList"
              [required]="isDateSearchFieldRequired"
              [showError]="dateSearchField.invalid">
            </emp-ng-select>

          </div>

        </ng-container>

      </div>

      <div fxLayout="row" [style.marginBottom.px]="8">

        <div fxFlex="50">

          <label>Tipo de transacción:</label>

          <emp-ng-select name="transactionTypeUID"
            [config]="{clearable: true}"
            [(ngModel)]="filter.transactionTypeUID"
            [items]="transactionTypesList"
            [loading]="isLoading"
            placeholder="Todos">
          </emp-ng-select>

        </div>

        <div fxFlex="50">

          <label>Tipo de póliza:</label>

          <emp-ng-select  name="voucherTypeUID"
            [config]="{clearable: true}"
            [(ngModel)]="filter.voucherTypeUID"
            [items]="voucherTypesList"
            [loading]="isLoading"
            placeholder="Todos">
          </emp-ng-select>

        </div>

      </div>


      <div fxLayout="row" [style.marginBottom.px]="8">

        <div fxFlex="25" fxLayoutAlign="start end">

          <emp-ng-select name="editorType" [fxFlex]="100"
            [(ngModel)]="filter.editorType"
            [items]="editorTypeList">
          </emp-ng-select>

        </div>

        <div fxFlex="calc(75% - 145px)">

          <label>Usuario:</label>

          <emp-ng-select name="editorUID"
            [config]="{clearable: true,
                       minTermLength: minTermLength,
                       typeToSearchText: 'Ingresar ' + minTermLength +' o más caracteres'}"
            [(ngModel)]="filter.editorUID"
            [items]="editorList$ | async"
            [typeahead]="editorInput$"
            [loading]="editorLoading"
            (changes)="onEditorChanges($event)"
            placeholder="Todos">

          </emp-ng-select>

        </div>

        <ng-container #clearFilterSection>

          <mat-divider vertical="true" class="vertical">

          </mat-divider>

          <div fxFlex="117px" fxLayoutAlign="space-around end" [style.paddingBottom.px]="2">

            <button class="btn-base" (click)="onClearFilters()" fxFlex="100%">
              Limpiar
              <mat-icon [style.paddingLeft.px]="8">filter_list</mat-icon>
            </button>

          </div>

        </ng-container>

      </div>

    </div>

  </div>

</form>
