<div class="card card-border">

  <div class="card-header card-header-flat">

    <div class="card-title">
      Explorador de pólizas
      <div class="card-hint" empNgProgressText
           loadingText="Cargando pólizas"
           [finalText]="hintText"
           [isLoading]="isLoading">
      </div>

    </div>

    <div class="card-header-options">

      <button *empNgHasPermission="permissionsToImportVouchers"
        class="btn"
        (click)="onClickImportVouchers()">
        Importar pólizas
      </button>

      <button *empNgHasPermission="permissionToCreateVoucher"
        class="btn-action" fxFlexOffset="1.5rem"
        (click)="onClickCreateVoucher()">
        Nueva póliza
      </button>

    </div>

  </div>

  <div class="card-body" [empNgSpinnerHost]="spinner">

    <div fxLayout="column" fxFlexFill>

      <emp-ng-spinner #spinner [visible]="isLoading">

      </emp-ng-spinner>

      <emp-fa-voucher-filter fxFlex="none"
        [voucherFilterData]="voucherFilterData"
        [(showFilters)]="showFilters"
        (voucherFilterEvent)="onChangeFilter($event)">

      </emp-fa-voucher-filter>


      <emp-fa-voucher-list fxFlex
        [voucherList]="voucherList"
        [selectedVoucher]="selectedVoucher"
        [textNotFound]="textNotFound"
        (voucherListEvent)="onVoucherListEvent($event)">

      </emp-fa-voucher-list>

  </div>

</div>
