
<div fxLayout="column" fxFlexFill>

  <div #controlsContainer *ngIf="voucherList.length > 0" fxFlex="none">

    <div *ngIf="selection.selected.length > 0" [@expandCollapse]>

      <mat-divider>

      </mat-divider>

      <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="16px" class="list-selection-header"
        [style.minHeight.px]="42">

          <div fxFlex="none">

            <div class="text-small-text" [style.marginRight.px]="8">

              ¿Qué debo hacer con
              <span *ngIf="selection.selected.length === 1">la póliza?</span>
              <span *ngIf="selection.selected.length > 1">las {{selection.selected.length}} pólizas?</span>

            </div>

          </div>

          <div fxFlex="none">

            <emp-ng-select name="operation"
              [config]="{selectFirst: true}"
              [(ngModel)]="operationSelected"
              [items]="operationsList">
            </emp-ng-select>

          </div>

          <div fxFlex="none">

            <button class="btn" (click)="onExecuteOperationClicked()">
              Ejecutar
            </button>

          </div>

          <div fxFlex> </div>

      </div>

    </div>

  </div>

  <div #headerContainer fxFlex="none">

    <emp-fa-voucher-list-item
      [displayHeader]="true"
      [selection]="selection"
      [voucherList]="voucherList">

    </emp-fa-voucher-list-item>

  </div>

  <div #listContainer fxFlex>

    <cdk-virtual-scroll-viewport itemSize="25">

        <div *ngFor="let voucher of voucherList"
          class="list-item" [class.list-item-selected]="isSelected(voucher)">

          <div class="list-item-container">

            <emp-fa-voucher-list-item
              [voucher]="voucher"
              [selected]="selection.isSelected(voucher)"
              (voucherListItemEvent)="onVoucherListItemEvent($event)">
            </emp-fa-voucher-list-item>

          </div>

        </div>

        <div *ngIf="voucherList.length === 0" class="text-not-found">
          {{textNotFound}}
        </div>

    </cdk-virtual-scroll-viewport>

  </div>

</div>
