
<div fxLayout="column" fxFlexFill>

  <div #controlsContainer *ngIf="voucherList.length > 0 && selection.selected.length > 0" fxFlex="none">

      <mat-divider>

      </mat-divider>

      <div fxLayout="row" fxLayoutAlign="space-between center" class="list-selection-header"
        [style.minHeight.px]="42">

        <ng-container *ngIf="selection.selected.length > 0">

          <div fxFlex="none">

            <div class="text-small-text" [style.marginRight.px]="8">

              ¿Qué debo hacer con
              <span *ngIf="selection.selected.length === 1">la póliza?</span>
              <span *ngIf="selection.selected.length > 1">las {{selection.selected.length}} pólizas?</span>

            </div>

          </div>

          <div fxFlex="180px">

            <emp-ng-select name="operation"
              [config]="{bindByValue: false, selectFirst: true}"
              [(ngModel)]="operationSelected"
              [items]="operationsList"
              (changes)="onOperationChanges($event)">
            </emp-ng-select>

          </div>

          <div fxFlex="calc(100% - 460px)" *ngIf="operationSelected?.assignToRequired">
          <!-- fxFlex="calc(100% - 570px)" -->
            <emp-ng-select name="editor"
              [config]="{bindByValue: false,
                        clearable: true,
                        minTermLength: minTermLength,
                        typeToSearchText: 'Ingresar ' + minTermLength +' o más caracteres'}"
              [(ngModel)]="editorSelected"
              [items]="editorList$ | async"
              [typeahead]="editorInput$"
              [loading]="editorLoading"
              [showError]="!operationValid"
              placeholder="Buscar usuario">

            </emp-ng-select>

          </div>

          <div fxFlex="98px">

            <button class="btn" (click)="onExecuteOperationClicked()">
              Ejecutar
            </button>

          </div>

        </ng-container>

        <div fxFlex>

          <!-- <mat-divider *ngIf="selection.selected.length > 0"
            vertical="true" class="vertical" [style.marginTop.px]="0">

          </mat-divider> -->

        </div>

        <!-- <div fxFlex="93px" fxLayoutAlign="end">

          <button class="btn" (click)="onExportButtonClicked()"> Exportar </button>

        </div> -->

      </div>

  </div>

  <div #headerContainer fxFlex="none">

    <emp-fa-voucher-list-item
      [displayHeader]="true"
      [selection]="selection"
      [voucherList]="voucherList">

    </emp-fa-voucher-list-item>

  </div>

  <div #listContainer fxFlex>

    <cdk-virtual-scroll-viewport itemSize="75">

        <div *cdkVirtualFor="let voucher of voucherList"
          class="list-item" [class.list-item-selected]="isSelected(voucher)">

          <div class="list-item-container">

            <emp-fa-voucher-list-item
              [voucher]="voucher"
              [selected]="selection.isSelected(voucher)"
              (voucherListItemEvent)="onVoucherListItemEvent($event)">
            </emp-fa-voucher-list-item>

          </div>

        </div>

        <div *ngIf="voucherList.length === 0" class="text-not-found">
          {{textNotFound}}
        </div>

    </cdk-virtual-scroll-viewport>

  </div>

</div>
