<div class="list-header" *ngIf="displayHeader" style="padding: 6px 24px 6px 8px;">

  <div class="list-header-container">

    <div fxLayout="row" fxLayoutGap="16px" fxLayoutGap.gt-xs="32px" fxLayoutAlign="start center">
      <div fxFlex="20px">
        <div *ngIf="voucherList.length > 0">

          <emp-ng-check-box-all
            [(selection)]="selection"
            [values]="voucherList">
          </emp-ng-check-box-all>

        </div>
      </div>

      <div fxFlex="15%" class="nowrap">
        No. Póliza <br>
        Contabilidad <br>
        Origen
      </div>

      <div fxFlex="15%">
        Transacción <br>
        <span class="nowrap">Fecha de elaboración</span> <br>
        Elaboró
      </div>

      <div fxFlex="15%">
        Póliza <br>
        <span class="nowrap">Fecha de afectación</span> <br>
        Autorizó
      </div>

      <div fxFlex> Concepto </div>

      <div fxFlex="80px"> Estado </div>

    </div>

  </div>

</div>

<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px" fxLayoutGap.gt-xs="32px" *ngIf="!displayHeader">

  <div fxFlex="20px">
    <mat-checkbox
      [checked]="selected"
      (click)="$event.stopPropagation()"
      (change)="onClickVoucherCheck()">
    </mat-checkbox>
  </div>

  <div fxFlex="15%">
    <div class="list-item-text-highlight nowrap" (click)="onVoucherClicked()">
      <strong><a>{{voucher.number}}</a></strong>
    </div>
    <div><strong>{{voucher.ledgerName}}</strong></div>
    <div>{{voucher.sourceName}}</div>
  </div>

  <div fxFlex="15%">
    <div class="list-item-text-highlight">{{voucher?.transactionTypeName}}</div>
    <div><strong>{{voucher?.recordingDate | dateTimeFormat}}</strong></div>
    <div>{{voucher.elaboratedBy}}</div>
  </div>

  <div fxFlex="15%">
    <div class="list-item-text-highlight">{{voucher.voucherTypeName}}</div>
    <div><strong>{{voucher?.accountingDate | dateTimeFormat}}</strong></div>
    <div>{{voucher.authorizedBy}}</div>
  </div>

  <div fxFlex>
    <div>{{voucher.concept}}</div>
  </div>

  <div fxFlex="80px">
    <div>{{voucher.status}}</div>
  </div>

</div>
