<emp-ng-spinner #spinner [visible]="isLoadingVoucher"></emp-ng-spinner>

<div class="explorer">

  <div class="primary" [class.std-hide]="displayVoucherTabbedView">

    <emp-fa-vouchers-explorer
      [displayStatus]="displayStatus"
      [voucherFilterData]="voucherFilterData"
      [voucherList]="voucherList"
      [selectedVoucher]="selectedVoucher"
      [isLoading]="isLoading"
      (vouchersExplorerEvent)="onVouchersExplorerEvent($event)">
    </emp-fa-vouchers-explorer>

  </div>

  <div class="secondary priority" *ngIf="displayVoucherTabbedView">

    <emp-fa-voucher-tabbed-view
      [voucher]="selectedVoucher"
      (voucherTabbedViewEvent)="onVoucherTabbedViewEvent($event)">

    </emp-fa-voucher-tabbed-view>

  </div>

</div>

<emp-ng-modal-window *ngIf="displayOptionModalSelected"
  [config]="{width: displayOptionModalSelected ===  'VouchersImporter' ? '760px' : '920px'}">

  <ng-container [ngSwitch]="displayOptionModalSelected">

    <emp-fa-voucher-creator *ngSwitchCase="'VoucherCreator'"
      (voucherCreatorEvent)="onVoucherCreatorEvent($event)">

    </emp-fa-voucher-creator>

    <emp-fa-vouchers-importer *ngSwitchCase="'VouchersImporter'"
      (vouchersImporterEvent)="onVouchersImporterEvent($event)">

    </emp-fa-vouchers-importer>

  </ng-container>

</emp-ng-modal-window>


<emp-ng-export-report-modal *ngIf="displayExportModal"
  [title]="exportModalTitle"
  [message]=" exportModalMessage"
  [fileUrl]="fileUrl"
  (exportReportModalEvent)="onExportReportModalEvent($event)">

</emp-ng-export-report-modal>


<emp-ng-file-preview
  title="Impresión de pólizas"
  hint="Información de las pólizas"
  [file]="vouchersToPrintFile">

</emp-ng-file-preview>
