<emp-ng-spinner #spinner [visible]="isLoadingVoucher"></emp-ng-spinner>

<div class="explorer" fxLayoutGap="32px">

  <div class="primary" [fxHide.xs.notebook]="displayVoucherTabbedView">

    <emp-fa-vouchers-explorer
      [voucherFilterData]="voucherFilterData"
      [voucherList]="voucherList"
      [selectedVoucher]="selectedVoucher"
      [isLoading]="isLoading"
      (vouchersExplorerEvent)="onVouchersExplorerEvent($event)">
    </emp-fa-vouchers-explorer>

  </div>

  <div class="secondary priority" *ngIf="displayVoucherTabbedView">

    <emp-fa-voucher-tabbed-view
      [voucher]="selectedVoucher"
      (voucherTabbedViewEvent)="onVoucherTabbedViewEvent($event)">

    </emp-fa-voucher-tabbed-view>

  </div>

</div>

<emp-ng-modal-window *ngIf="displayOptionModalSelected"
  [config]="{width: displayOptionModalSelected ===  'VouchersImporter' ? '760px' : '920px'}">

  <ng-container [ngSwitch]="displayOptionModalSelected">

    <emp-fa-voucher-creator *ngSwitchCase="'VoucherCreator'"
      (voucherCreatorEvent)="onVoucherCreatorEvent($event)">

    </emp-fa-voucher-creator>

    <emp-fa-vouchers-importer *ngSwitchCase="'VouchersImporter'"
      (vouchersImporterEvent)="onVouchersImporterEvent($event)">

    </emp-fa-vouchers-importer>

  </ng-container>

</emp-ng-modal-window>


<emp-fa-export-report-modal *ngIf="displayExportModal"
  title="Exportar pólizas"
  [fileUrl]="excelFileUrl"
  (exportReportModalEvent)="onExportReportModalEvent($event)">

</emp-fa-export-report-modal>
