<div class="explorer">

  <div class="primary" [fxHide.notebook]="displayFinancialReportBreakdown">

    <emp-fa-financial-report-viewer
      [selectedFinancialReportBreakdown]="selectedFinancialReportBreakdown"
      (financialReportViewerEvent)="onFinancialReportViewerEvent($event)">

    </emp-fa-financial-report-viewer>

  </div>

  <div class="secondary priority" *ngIf="displayFinancialReportBreakdown">

    <emp-fa-financial-report-breakdown-tabbed-view
      [financialReportBreakdown]="selectedFinancialReportBreakdown"
      (financialReportBreakdownTabbedViewEvent)="onFinancialReportBreakdownTabbedViewEvent($event)">

    </emp-fa-financial-report-breakdown-tabbed-view>

  </div>

</div>
