<emp-ng-modal-window [config]="{width:'600px'}">

  <emp-ng-card
    title="Editor de períodos"
    hint='Información de los calendarios con sus períodos.'
    (cardClose)="onClose()">

    <div class="card-body-padding" [empNgSpinnerHost]="spinner">

      <emp-ng-spinner #spinner [visible]="isLoading">

      </emp-ng-spinner>

      <form [formGroup]="formHandler.form" autocomplete="off" class="form-section" [style.paddingBottom.px]="4"
          (keydown.enter)="$event.preventDefault()">

        <div fxLayout="column" fxLayoutGap="0.5rem">

          <div fxLayout="row">

            <div fxFlex="100">

              <label>Calendario:</label>

              <emp-ng-select name="accountingCalendarUID"
                [(ngModel)]="accountingCalendarUID" [ngModelOptions]="{standalone: true}"
                [items]="accountingCalendarsList"
                (changes)="onAccountingCalendarChanges()">
              </emp-ng-select>

            </div>

          </div>

          <mat-divider class="horizontal-slim">

          </mat-divider>

          <div fxLayout="row" fxLayoutAlign="end center" [style.marginRight.px]="8">

            <div fxFlex>

              <input type="text" class="text-box" name="period"
                placeholder="Nombre del período"
                [formControlName]="controls.periodName">

            </div>


            <div fxFlex="none">

              <emp-ng-date-range-picker name="period"
                [formControlName]="controls.period">

              </emp-ng-date-range-picker>

            </div>

            <div fxFlex="none">

              <button title="Agregar"
                [class.btn-icon-action]="accountingCalendarSelected && isFormValid"
                [class.btn-icon]="!accountingCalendarSelected || !isFormValid"
                [disabled]="!accountingCalendarSelected || !isFormValid"
                (click)="onAddPeriodClicked()">

                <mat-icon>add</mat-icon>

              </button>

            </div>

          </div>

          <mat-divider class="horizontal-slim">

          </mat-divider>

          <div *ngIf="!accountingCalendarSelected || accountingCalendarSelected?.periods.length === 0 "
            class="instruction-text">
            {{!accountingCalendarSelected ? 'Seleccionar el calendario a editar.' :
              'No se han agregado fechas al calendario.'}}
          </div>

          <div *ngIf="accountingCalendarSelected?.periods.length > 0" [style.paddingRight.px]="8">

            <div fxLayout="column" fxLayoutGap="0.5rem" class="simple-list-container">

              <div *ngFor="let period of accountingCalendarSelected.periods"
                fxLayout="row" fxLayoutAlign="space-between center" class="simple-list-item">

                <div fxFlex="300px">
                  <strong>{{period.period}}</strong>
                </div>

                <div fxFlex="180px" class="detail text-align-center">
                  {{period.fromDate | dateTimeFormat}} - {{period.toDate | dateTimeFormat}}
                </div>

                <button fxFlex="24px" mat-icon-button (click)="onRemovePeriodClicked(period)">
                  <mat-icon title="Eliminar fecha"> delete </mat-icon>
                </button>

              </div>

            </div>

          </div>

        </div>

      </form>

    </div>

  </emp-ng-card>

</emp-ng-modal-window>
