<div class="explorer">

  <div class="primary">

    <emp-ng-imported-data-viewer
      dataType="valores externos"
      [showEditData]="hasPermissionToEditVariables"
      [showImportData]="hasPermissionToImportValues"
      [typeFieldConfig]="{show: true, required: true, list: externalVariableSetList}"
      [additionalFieldConfig]="{show: true, label: 'Incluir', required: false, multiple: false,
                                list: datasetModesList, defaultValue: DatasetModes.onlyLoadedValues}"
      [importTypeRequired]="true"
      [importerDatasets]="externalValuesDatasets"
      [query]="externalValuesQuery"
      [queryExecuted]="externalValuesQueryExecuted"
      [data]="externalValuesData"
      [exportationTypeDefault]="false"
      [fileUrl]="fileUrl"
      [isLoading]="isLoading"
      editDataButtonText="Editar variables"
      searchButtonText="Ver"
      (importedDataViewerEvent)="onImportedDataViewerEvent($event)">

    </emp-ng-imported-data-viewer>

  </div>

</div>


<emp-fa-external-variables-edition *ngIf="displayExternalVariablesEdition"
  (closeEvent)="displayExternalVariablesEdition = false">

</emp-fa-external-variables-edition>
