<form [formGroup]="form" empNgFormKeyDownEnter autocomplete="off" class="form-section">

  <div class="fx-column-container fx-gap-half">

    <div class="fx-row-container">

      <div class="fx-item-third">
        <label>Tipo de póliza:</label>
        <emp-ng-select
          formControlName="voucherTypeUID"
          [items]="isSpecialCase ? voucherSpecialCaseTypesList : voucherTypesList"
          [loading]="isLoading"
          [showError]="formHelper.isControlInvalid(form.controls.voucherTypeUID)"
          (changes)="onVoucherTypeChanges($event)">
        </emp-ng-select>
      </div>

      <div class="fx-item-third">
        <label>Tipo de contabilidad:</label>
        <emp-ng-select
          formControlName="accountsChartUID"
          [items]="accountsChartMasterDataList"
          [loading]="isLoading"
          [showError]="formHelper.isControlInvalid(form.controls.accountsChartUID)"
          (changes)="onAccountChartChanges($event)">
        </emp-ng-select>
      </div>

      <div class="fx-item-third">
        <label>Contabilidad:</label>
        <emp-ng-select
          [config]="{clearable: allowAllLedgersSelection}"
          formControlName="ledgerUID"
          [items]="accountChartSelected?.ledgers"
          bindLabel="fullName"
          [placeholder]="ledgerPlaceholder"
          [showError]="formHelper.isControlInvalid(form.controls.ledgerUID)">
        </emp-ng-select>
      </div>

    </div>


    <div class="fx-row-container">

      <div class="fx-item-one">
        <label>Concepto de la póliza:</label>
        <textarea class="text-area"
          empNgTextareaAutoresize [maxHeightTextarea]="82" rows="1"
          formControlName="concept"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.concept)">

        </textarea>
      </div>

    </div>


    <div class="fx-row-container">

      <div class="fx-item-third">
        <label>Origen de la transacción:</label>
        <emp-ng-select
          [config]="{ virtualScroll: true }"
          formControlName="functionalAreaId"
          [items]="functionalAreasList"
          [showError]="formHelper.isControlInvalid(form.controls.functionalAreaId)">
        </emp-ng-select>
      </div>

      <ng-container #accountingDateField>

        <div *ngIf="hasValueDate"
          class="fx-item-none">
          <label>Fecha valor:</label>
          <emp-ng-datepicker
            formControlName="accountingDate"
            [showError]="formHelper.isControlInvalid(form.controls.accountingDate)">

          </emp-ng-datepicker>
        </div>

        <div *ngIf="!hasValueDate"
          class="fx-item-size" style="--size: 126px">
          <label>Fecha de afectación:</label>
          <emp-ng-select
            formControlName="accountingDate"
            [items]="accountingDatesList"
            [loading]="isLoadingAccountingDates"
            [showError]="formHelper.isControlInvalid(form.controls.accountingDate)">

          </emp-ng-select>
        </div>

        <div class="fx-item-none fx-items-end"
          [style.paddingBottom.px]="2" [style.paddingRight.px]="8">
          <mat-checkbox
            [(ngModel)]="hasValueDate" [ngModelOptions]="{standalone: true}"
            [disabled]="!editionMode"
            (click)="$event.stopPropagation"
            (change)="onHasValueDateChange()">
            Tiene fecha valor
          </mat-checkbox>
        </div>

      </ng-container>

    </div>

  </div>

</form>
