<form [formGroup]="formHandler.form" autocomplete="off" class="form-section"
  (keydown.enter)="$event.preventDefault()">

  <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="0.75rem" fxLayoutGap.lt-md="0">

    <div fxLayout="row" fxLayout.lt-md="column">

      <div [fxFlex]="100/3">
        <label>Tipo de póliza:</label>
        <emp-ng-select
          [formControlName]="controls.voucherTypeUID"
          [items]="voucherTypesList"
          [loading]="isLoading"
          [showError]="formHandler.showInvalidControl(controls.voucherTypeUID)"
          (changes)="onVoucherTypeChanges($event)">
        </emp-ng-select>
      </div>

      <div [fxFlex]="100/3">
        <label>Tipo de contabilidad:</label>
        <emp-ng-select
          [formControlName]="controls.accountsChart"
          [items]="accountsChartMasterDataList"
          [loading]="isLoading"
          [showError]="formHandler.showInvalidControl(controls.accountsChart)"
          (changes)="onAccountChartChanges($event)">
        </emp-ng-select>
      </div>

      <div [fxFlex]="100/3">
        <label>Contabilidad:</label>
        <emp-ng-select
          [formControlName]="controls.ledgerUID"
          [items]="accountChartSelected?.ledgers"
          [placeholder]="accountChartSelected ? 'Seleccionar' : 'Seleccione el tipo de contabilidad'"
          [showError]="formHandler.showInvalidControl(controls.ledgerUID)"
          (changes)="onLedgerChanges($event)">
        </emp-ng-select>
      </div>

    </div>


    <div fxLayout="row" fxLayout.lt-md="column">

      <div [fxFlex]="100">
        <label>Concepto de la póliza:</label>
        <textarea class="text-area" empNgTextareaAutoresize rows="1"
          [formControlName]="controls.concept"
          [class.invalid-control]="formHandler.showInvalidControl(controls.concept)">

        </textarea>
      </div>

    </div>


    <div fxLayout="row" fxLayout.lt-md="column">

      <div [fxFlex]="100/3">
        <label>Origen de la transacción:</label>
        <emp-ng-select
          [formControlName]="controls.functionalAreaId"
          [items]="functionalAreasList"
          [showError]="formHandler.showInvalidControl(controls.functionalAreaId)">
        </emp-ng-select>
      </div>

      <div [fxFlex]="100/3">
        <label>Tipo de transacción:</label>
        <emp-ng-select
          [formControlName]="controls.transactionTypeUID"
          [items]="transactionTypesList"
          [showError]="formHandler.showInvalidControl(controls.transactionTypeUID)">
        </emp-ng-select>
      </div>

      <ng-container #accountingDateField>

        <div fxFlex="120px" fxFlex.lt-md="none" *ngIf="hasValueDate">
          <label>Fecha valor:</label>
          <emp-ng-datepicker
            [formControlName]="controls.accountingDate"
            [showError]="formHandler.showInvalidControl(controls.accountingDate)">

          </emp-ng-datepicker>
        </div>

        <div fxFlex="120px" fxFlex.lt-md="none" *ngIf="!hasValueDate">
          <label>Fecha de afectación:</label>
          <emp-ng-select
            [formControlName]="controls.accountingDate"
            [items]="accountingDatesList"
            [loading]="isLoadingAccountingDates"
            [showError]="formHandler.showInvalidControl(controls.accountingDate)">

          </emp-ng-select>
        </div>

        <div fxFlex="none" fxLayoutAlign="end center"
          [style.height.px]="28" [style.marginTop.px]="12" [style.paddingRight.px]="8">
          <mat-checkbox
            [(ngModel)]="hasValueDate" [ngModelOptions]="{standalone: true}"
            [disabled]="!editionMode"
            (click)="$event.stopPropagation"
            (change)="onHasValueDateChange()">
            Tiene fecha valor
          </mat-checkbox>
        </div>

      </ng-container>

    </div>

  </div>

</form>
