<form [formGroup]="formHandler.form" autocomplete="off" class="form-section">

  <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="0.75rem" fxLayoutGap.lt-md="0">

    <div fxLayout="row" fxLayout.lt-md="column">

      <div [fxFlex]="100/3">
        <label>Tipo de póliza:</label>
        <emp-ng-select
          [formControlName]="controls.voucherTypeUID"
          [items]="voucherTypesList"
          [loading]="isLoading"
          [showError]="formHandler.showInvalidControl(controls.voucherTypeUID)">
        </emp-ng-select>
      </div>

      <div [fxFlex]="100/3">
        <label>Tipo de contabilidad:</label>
        <emp-ng-select
          [formControlName]="controls.accountsChart"
          [items]="accountsChartMasterDataList"
          [loading]="isLoading"
          [showError]="formHandler.showInvalidControl(controls.accountsChart)"
          (changes)="onAccountChartChanges($event)">
        </emp-ng-select>
      </div>

      <div [fxFlex]="100/3">
        <label>Contabilidad:</label>
        <emp-ng-select
          [formControlName]="controls.ledgerUID"
          [items]="accountChartSelected?.ledgers"
          [placeholder]="accountChartSelected ? 'Seleccionar' : 'Seleccione el tipo de contabilidad'"
          [showError]="formHandler.showInvalidControl(controls.ledgerUID)"
          (changes)="onLedgerChanges($event)">
        </emp-ng-select>
      </div>

    </div>


    <div fxLayout="row" fxLayout.lt-md="column">

      <div [fxFlex]="100">
        <label>Concepto de la póliza:</label>
        <textarea class="text-area" empNgTextareaAutoresize rows="1"
          [formControlName]="controls.concept"
          [class.invalid-control]="formHandler.showInvalidControl(controls.concept)">

        </textarea>
      </div>

    </div>


    <div fxLayout="row" fxLayout.lt-md="column">

      <div [fxFlex]="100/3">
        <label>Origen de la transacción:</label>
        <emp-ng-select
          [formControlName]="controls.functionalAreaId"
          [items]="functionalAreasList"
          [showError]="formHandler.showInvalidControl(controls.functionalAreaId)">
        </emp-ng-select>
      </div>

      <div [fxFlex]="100/3">
        <label>Tipo de transacción:</label>
        <emp-ng-select
          [formControlName]="controls.transactionTypeUID"
          [items]="transactionTypesList"
          [showError]="formHandler.showInvalidControl(controls.transactionTypeUID)">
        </emp-ng-select>
      </div>

      <ng-container #accountingDateField>

        <div fxFlex="120px" fxFlex.lt-md="none" *ngIf="hasValueDate">
          <label>Fecha valor:</label>
          <emp-ng-datepicker
            [formControlName]="controls.accountingDate"
            [showError]="formHandler.showInvalidControl(controls.accountingDate)">

          </emp-ng-datepicker>
        </div>

        <div fxFlex="120px" fxFlex.lt-md="none" *ngIf="!hasValueDate">
          <label>Fecha de afectación:</label>
          <emp-ng-select
            [formControlName]="controls.accountingDate"
            [items]="accountingDatesList"
            [loading]="isLoadingAccountingDates"
            [showError]="formHandler.showInvalidControl(controls.accountingDate)">

          </emp-ng-select>
        </div>

        <div fxFlex="none" fxLayoutAlign="end center"
          [style.height.px]="28" [style.marginTop.px]="12" [style.paddingRight.px]="8">
          <mat-checkbox
            [(ngModel)]="hasValueDate" [ngModelOptions]="{standalone: true}"
            [disabled]="!editionMode"
            (click)="$event.stopPropagation"
            (change)="onHasValueDateChange()">
            Tiene fecha valor
          </mat-checkbox>
        </div>

      </ng-container>

    </div>

    <mat-divider class="horizontal" *ngIf="!(isSavedVoucher && !canEdit)"></mat-divider>

    <div fxLayout="row" *ngIf="!isSavedVoucher">

      <div fxFlex fxLayoutAlign="end center">

      </div>

    </div>

    <div fxLayout="row">

      <div fxFlex fxLayoutAlign="start center" *ngIf="isSavedVoucher && canEdit">
        <ng-container *ngIf="!editionMode">
          <button *ngIf="voucher.actions?.reviewVoucher"
            class="btn-action"
            (click)="onEventButtonClicked(eventType.REVIEW_VOUCHER_BUTTON_CLICKED)">
            Analizar póliza
          </button>
          <button *ngIf="voucher.actions?.sendToLedger"
            class="btn-action"
            (click)="onEventButtonClicked(eventType.SEND_TO_LEDGER_BUTTON_CLICKED)">
            Enviar al diario
          </button>
          <button *ngIf="voucher.actions?.sendToSupervisor"
            class="btn-action"
            (click)="onEventButtonClicked(eventType.SEND_TO_SUPERVISOR_BUTTON_CLICKED)">
            Enviar a supervisión
          </button>
        </ng-container>

        <button *ngIf="editionMode"
          type="button" class="btn-warning"
          (click)="onEventButtonClicked(eventType.DELETE_VOUCHER_CLICKED)">
          Eliminar
        </button>
      </div>

      <div fxFlex fxLayoutAlign="end center">
        <ng-container *ngIf="!editionMode && isSavedVoucher && canEdit">
          <button
            class="btn-action"
            (click)="onEventButtonClicked(eventType.ADD_VOUCHER_ENTRY_CLICKED)">
            Agregar movimiento
          </button>
          <button
            class="btn-action"
            (click)="onEventButtonClicked(eventType.IMPORT_VOUCHER_ENTRIES_BUTTON_CLICKED)">
            Importar movimientos
          </button>

          <mat-divider vertical="true" class="vertical" [style.marginTop.px]="0"></mat-divider>

          <button
            class="btn-action"
            (click)="enableEditor(true)">
            Editar
          </button>
        </ng-container>

        <ng-container *ngIf="editionMode">
          <button
            [class.btn]="!formHandler.isValid"
            [class.btn-action]="formHandler.isValid"
            (click)="submitForm()">
            Guardar
          </button>
          <button *ngIf="isSavedVoucher"
            class="btn-base uppercase"
            (click)="enableEditor(false)">
            Descartar Cambios
          </button>
        </ng-container>
      </div>

    </div>

  </div>

</form>
