<form [formGroup]="form" empNgFormKeyDownEnter autocomplete="off" class="form-section">

  <div class="fx-column-container fx-gap-half">

    <div class="fx-row-container">

      <div class="fx-item-size" style="--size: calc(100% - 252px)">
        <label>Cuenta:</label>
        <emp-ng-select
          [config]="{ minTermLength: accountMinTermLength,
                      virtualScroll: true,
                      typeToSearchText: 'Ingresar ' + accountMinTermLength +' o más caracteres'}"
          formControlName="accountNumber"
          [items]="accountList$ | async"
          [typeahead]="accountInput$"
          [loading]="accountLoading"
          [showError]="formHelper.isControlInvalid(form.controls.accountNumber)"
          bindValue="number"
          bindLabel="number"
          placeholder="Buscar cuenta">
          <ng-template #labelTemplate let-item="item">
            {{item.number}}: {{item.name}}
          </ng-template>
          <ng-template #optionTemplate let-item="item">
            <div class="item">
              <span class="item-highlight">{{item.number}}</span> <br>
              <span class="item-text-xs">{{item.name}}</span>
            </div>
          </ng-template>
        </emp-ng-select>
      </div>

      <div class="fx-item-none">
        <label>Fecha inicio:</label>
        <emp-ng-datepicker
          formControlName="startDate"
          [showError]="formHelper.isControlInvalid(form.controls.startDate)">
        </emp-ng-datepicker>
      </div>

      <div class="fx-item-none">
        <label>Fecha fin:</label>
        <emp-ng-datepicker
          formControlName="endDate"
          [showError]="formHelper.isControlInvalid(form.controls.endDate)">
        </emp-ng-datepicker>
      </div>

    </div>

  </div>


  <mat-divider class="horizontal">

  </mat-divider>


  <div #rowFooter class="fx-row-container">

    <ng-container *ngIf="!isSaved">

      <div class="fx-item fx-end fx-items-center">

        <button type="button"
          [class.btn]="!formHelper.isFormReady(form)"
          [class.btn-action]="formHelper.isFormReady(form)"
          (click)="onSubmitButtonClicked()">
          Agregar
        </button>

      </div>

    </ng-container>

    <ng-container *ngIf="isSaved">

      <div *ngIf="editionMode" class="fx-item fx-items-center">

        <button type="button"
          class="btn-warning"
          (click)="onDeleteButtonClicked()">
          Eliminar
        </button>

      </div>

      <div class="fx-item fx-end fx-items-center" >

        <ng-container *ngIf="editionMode">

          <button type="button"
            [class.btn]="!formHelper.isFormReady(form)"
            [class.btn-action]="formHelper.isFormReady(form)"
            (click)="onSubmitButtonClicked()">
            Guardar
          </button>

          <button type="button"
            class="btn-base uppercase"
            (click)="enableEditor(false)">
            Descartar Cambios
          </button>

        </ng-container>

        <ng-container *ngIf="!editionMode">

          <button type="button"
            class="btn-action"
            (click)="enableEditor(true)">
            Editar
          </button>

        </ng-container>

      </div>

    </ng-container>

  </div>

</form>
