<form [formGroup]="form" empNgFormKeyDownEnter autocomplete="off" class="form-section">

  <div class="fx-column-container fx-gap-half">

    <div class="fx-row-container">

      <div class="fx-item-size" style="--size: 252px">
        <label>Delegación:</label>
        <emp-ng-select
          formControlName="delegacionUID"
          [items]="ledgerIFRSList"
          [loading]="isLoading"
          [showError]="formHelper.isControlInvalid(form.controls.delegacionUID)"
          (changes)="onDelegacionUIDChanges()">

        </emp-ng-select>
      </div>

      <div class="fx-item-size" style="--size: calc(100% - 252px)">
        <label>Auxiliar Histórico:</label>
        <emp-ng-select
          [config]="{ minTermLength: auxiliarHistoricoMinTermLength,
                      virtualScroll: true,
                      typeToSearchText: 'Ingresar ' + auxiliarHistoricoMinTermLength +' o más caracteres'}"
          formControlName="auxiliarHistorico"
          [items]="auxiliarHistoricoList$ | async"
          [typeahead]="auxiliarHistoricoInput$"
          [loading]="auxiliarHistoricoLoading"
          [showError]="formHelper.isControlInvalid(form.controls.auxiliarHistorico)"
          bindValue="number"
          bindLabel="number"
          [placeholder]="form.controls.delegacionUID.valid ? 'Buscar auxiliar' : 'Seleccione la delegación'">
          <ng-template #labelTemplate let-item="item">
            {{item.number}}: {{item.name}}
          </ng-template>
          <ng-template #optionTemplate let-item="item">
            <div class="item">
              <span class="item-highlight">{{item.number}}</span> <br>
              <span class="item-text-xs">{{item.name}}</span>
            </div>
          </ng-template>
        </emp-ng-select>
      </div>


    </div>

    <div class="fx-row-container">

      <div class="fx-item-size" style="--size: 252px">
        <label>Tipo de Activo Fijo:</label>
        <emp-ng-select
          formControlName="tipoActivoFijoUID"
          [items]="tipoActivoFijoList"
          [loading]="isLoading"
          [showError]="formHelper.isControlInvalid(form.controls.tipoActivoFijoUID)">

        </emp-ng-select>
      </div>

      <div class="fx-item-size" style="--size: calc(100% - 252px)">
        <label>Auxiliar Revaluación:</label>
        <emp-ng-select
          [config]="{ clearable: true,
                      minTermLength: auxiliarRevaluacionMinTermLength,
                      virtualScroll: true,
                      typeToSearchText: 'Ingresar ' + auxiliarRevaluacionMinTermLength +' o más caracteres'}"
          formControlName="auxiliarRevaluacion"
          [items]="auxiliarRevaluacionList$ | async"
          [typeahead]="auxiliarRevaluacionInput$"
          [loading]="auxiliarRevaluacionLoading"
          [showError]="formHelper.isControlInvalid(form.controls.auxiliarRevaluacion)"
          bindValue="number"
          bindLabel="number"
          [placeholder]="form.controls.delegacionUID.valid ? 'Buscar auxiliar' : 'Seleccione la delegación'"
          (changes)="onAuxiliarRevaluacionChanges()">
          <ng-template #labelTemplate let-item="item">
            {{item.number}}: {{item.name}}
          </ng-template>
          <ng-template #optionTemplate let-item="item">
            <div class="item">
              <span class="item-highlight">{{item.number}}</span> <br>
              <span class="item-text-xs">{{item.name}}</span>
            </div>
          </ng-template>
        </emp-ng-select>
      </div>

    </div>

    <div class="fx-row-container">

      <div class="fx-item-size" style="--size: 252px">
        <label>Vida útil (meses):</label>
        <input type="text" empNgInteger
          class="text-box"
          formControlName="mesesDepreciacion"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.mesesDepreciacion)">
      </div>

      <div class="fx-item-size" style="--size: 126px">
        <label>Adquisición:</label>
        <emp-ng-datepicker
          formControlName="fechaAdquisicion"
          [showError]="formHelper.isControlInvalid(form.controls.fechaAdquisicion)">
        </emp-ng-datepicker>
      </div>

      <div class="fx-item-size" style="--size: 126px">
        <label>Inicio Depreciación:</label>
        <emp-ng-datepicker
          formControlName="fechaInicioDepreciacion"
          [showError]="formHelper.isControlInvalid(form.controls.fechaInicioDepreciacion)">
        </emp-ng-datepicker>
      </div>

      <div *ngIf="isMontoRevaluacionRequired" class="fx-item">
        <label>Monto revaluación:</label>
        <input type="text" empNgCurrency
          class="text-box text-align-right"
          formControlName="montoRevaluacion"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.montoRevaluacion)">
      </div>

    </div>

  </div>


  <mat-divider class="horizontal">

  </mat-divider>


  <div #rowFooter class="fx-row-container">

    <ng-container *ngIf="!isSaved">

      <div class="fx-item fx-end fx-items-center">

        <button type="button"
          [class.btn]="!formHelper.isFormReady(form)"
          [class.btn-action]="formHelper.isFormReady(form)"
          (click)="onSubmitButtonClicked()">
          Agregar
        </button>

      </div>

    </ng-container>

    <ng-container *ngIf="isSaved">

      <div *ngIf="editionMode" class="fx-item fx-items-center">

        <button type="button"
          class="btn-warning"
          (click)="onDeleteButtonClicked()">
          Eliminar
        </button>

      </div>

      <div class="fx-item fx-end fx-items-center">

        <ng-container *ngIf="editionMode">

          <button type="button"
            [class.btn]="!formHelper.isFormReady(form)"
            [class.btn-action]="formHelper.isFormReady(form)"
            (click)="onSubmitButtonClicked()">
            Guardar
          </button>

          <button type="button"
            class="btn-base uppercase"
            (click)="enableEditor(false)">
            Descartar Cambios
          </button>

        </ng-container>

        <ng-container *ngIf="!editionMode">

          <button type="button"
            class="btn-action"
            (click)="enableEditor(true)">
            Editar
          </button>

        </ng-container>

      </div>

    </ng-container>

  </div>

</form>
