<form #form="ngForm" empNgFormKeyDownEnter autocomplete="off" class="form-section form-container">

  <div class="fx-column-container fx-gap-half">

    <div class="fx-row-container">

      <div class="fx-item-half">

        <label>Catálogo de cuentas:</label>

        <emp-ng-select name="accountsChartUID" #accountsChartUID="ngModel" required
          [(ngModel)]="formData.accountsChartUID"
          [items]="accountsChartMasterDataList"
          [loading]="isLoading"
          [showError]="accountsChartUID.invalid"
          (changes)="onAccountChartChanges($event)">
        </emp-ng-select>

      </div>

      <div class="fx-item">

        <label>Sistema:</label>

        <emp-ng-select name="systemUID" #systemUID="ngModel" required
          [(ngModel)]="formData.systemUID"
          [items]="transactionalSystemsList"
          [loading]="isLoading"
          [showError]="systemUID.invalid">
        </emp-ng-select>

      </div>

      <div class="fx-item-none fx-items-end" [style.paddingBottom.px]="2">

        <button title="Buscar"
          [class.btn-icon-action]="form.valid && periodFieldsValid"
          [class.btn-icon]="form.invalid || !periodFieldsValid"
          [disabled]="form.invalid || !periodFieldsValid"
          (click)="onSearchTransactionSlipsClicked()">
          <mat-icon>search</mat-icon>

        </button>

      </div>

    </div>

    <div class="fx-row-container">

      <div class="fx-item-none">

        <label>Período:</label>

        <emp-ng-date-range-picker name="initialPeriod"
          [(startDate)]="formData.fromDate"
          [(endDate)]="formData.toDate"
          [displaySelectionType]="false"
          [showError]="!formData.fromDate || !formData.toDate">

        </emp-ng-date-range-picker>

      </div>

      <div class="fx-item fx-items-end">

        <emp-ng-select name="dateSearchField" #dateSearchField="ngModel" required
          [(ngModel)]="formData.dateSearchField"
          [items]="dateSearchFieldList"
          [showError]="dateSearchField.invalid"
          [style.width.%]="100">
        </emp-ng-select>

      </div>

      <div class="fx-item-quarter">

        <label>Estado:</label>

        <emp-ng-select name="status" #status="ngModel" required
          [(ngModel)]="formData.status"
          [items]="statusList"
          [loading]="isLoading"
          [showError]="status.invalid"
          (changes)="onStatusChanges($event)">
        </emp-ng-select>

      </div>

      <div class="fx-item-quarter sm-hide">

      </div>

    </div>

  </div>

</form>
