<div class="list-header" *ngIf="displayHeader">

  <div class="list-header-container">

    <div class="fx-row-container fx-gap-two fx-items-center sm-fx-gap-half">

      <div class="fx-item-size nowrap" style="--size: 10%">
        No. volante<br>
        Área
      </div>

      <div class="fx-item-size" style="--size: 15%">
        <span class="nowrap">Fecha de elaboración</span> <br>
        Elaboró
      </div>

      <div class="fx-item-size" style="--size: 15%">
        <span class="nowrap">Fecha de afectación</span> <br>
        Importe
      </div>

      <div class="fx-item"> Concepto </div>

      <div class="fx-item-size" style="--size: 80px"> Estado </div>

    </div>

  </div>

</div>

<div *ngIf="!displayHeader"
  class="fx-row-container sm-fx-column-container fx-gap-two sm-fx-gap-half">

  <div class="fx-item-size sm-fx-item" style="--size: 10%">
    <div class="list-item-text-highlight nowrap" (click)="onTransactionSlipClicked()">
      <strong><a>{{transactionSlip.slipNumber}}</a></strong>
    </div>
    <div>{{transactionSlip.functionalArea}}</div>
  </div>

  <div class="fx-item-size sm-fx-item" style="--size: 15%">
    <div><strong>{{transactionSlip?.recordingDate | empDateTimeFormat}}</strong></div>
    <div>{{transactionSlip.elaboratedBy}}</div>
  </div>

  <div class="fx-item-size sm-fx-item" style="--size: 15%">
    <div><strong>{{transactionSlip?.accountingDate | empDateTimeFormat}}</strong></div>
    <div>{{transactionSlip.controlTotal | number : '1.2-2'}}</div>
  </div>

  <div class="fx-item sm-fx-item">
    <div>{{transactionSlip.concept}}</div>
  </div>

  <div class="fx-item-size sm-fx-item" style="--size: 80px">
    <div>{{transactionSlip.statusName}}</div>
  </div>

</div>
