
<div class="fx-column-container-fill">

  <div #controlsContainer *ngIf="transactionSlipsList.length > 0"
    class="fx-item-none">

      <mat-divider>

      </mat-divider>

      <div class="fx-row-container fx-end fx-items-center list-selection-header"
        [style.minHeight.px]="42">

        <div class="fx-item-none">

          <button class="btn"
            (click)="onExportButtonClicked()">
            Exportar
          </button>

        </div>

      </div>

  </div>

  <div #headerContainer class="fx-item-none">

    <emp-fa-transaction-slips-list-item
      [displayHeader]="true">

    </emp-fa-transaction-slips-list-item>

  </div>

  <div #listContainer class="fx-item">

    <cdk-virtual-scroll-viewport itemSize="45">

        <div *cdkVirtualFor="let transactionSlip of transactionSlipsList"
          class="list-item" [class.list-item-selected]="transactionSlip.uid === selectedTransactionSlip.uid">

          <div class="list-item-container">

            <emp-fa-transaction-slips-list-item
              [transactionSlip]="transactionSlip"
              (transactionSlipsListItemEvent)="onTransactionSlipsListItemEvent($event)">
            </emp-fa-transaction-slips-list-item>

          </div>

        </div>

        <div *ngIf="transactionSlipsList.length === 0" class="text-not-found">
          {{textNotFound}}
        </div>

    </cdk-virtual-scroll-viewport>

  </div>

</div>
