<div fxLayout="column" fxFlexFill>

  <div fxLayout="row" fxLayoutAlign="space-between center"
    [style.paddingLeft.px]="2" [style.paddingRight.px]="2" [style.paddingBottom.px]="8">

    <div fxFlex fxLayoutAlign="start" class="text-small-text">

      {{this.transactionSlipEntryList.length | number }} registros encontrados.

    </div>

    <div fxFlex fxLayoutAlign="end">

      <button class="btn" (click)="onExportButtonClicked()"> Exportar </button>

    </div>

  </div>

  <div #tableContainer fxFlex [style.padding.px]="2">

    <cdk-virtual-scroll-viewport tvsItemSize="32" headerHeight="40">

      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="entryNumber">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let row">{{ row.entryNumber }}</td>
        </ng-container>

        <ng-container matColumnDef="account">
          <th mat-header-cell *matHeaderCellDef class="nowrap"> No. cuenta / Auxiliar</th>
          <td mat-cell *matCellDef="let row" class="nowrap">
            {{ row.accountNumber }}
            <br>
            <em>{{ row.subledgerAccount }}</em>
          </td>
        </ng-container>

        <ng-container matColumnDef="sector">
          <th mat-header-cell *matHeaderCellDef> Sec </th>
          <td mat-cell *matCellDef="let row">{{ row.sectorCode }}</td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef class="nowrap"> Descripción </th>
          <td mat-cell *matCellDef="let row">
            {{ row.description }}
          </td>
        </ng-container>

        <ng-container matColumnDef="functionalArea">
          <th mat-header-cell *matHeaderCellDef> Área </th>
          <td mat-cell *matCellDef="let row">{{ row.functionalArea }}</td>
        </ng-container>

        <ng-container matColumnDef="verificationNumber">
          <th mat-header-cell *matHeaderCellDef class="nowrap"> No. Operación </th>
          <td mat-cell *matCellDef="let row">{{ row.verificationNumber }}</td>
        </ng-container>

        <ng-container matColumnDef="currency">
          <th mat-header-cell *matHeaderCellDef> Moneda </th>
          <td mat-cell *matCellDef="let row" class="nowrap">{{ row.currencyCode }}</td>
        </ng-container>

        <ng-container matColumnDef="exchangeRate">
          <th mat-header-cell *matHeaderCellDef class="text-align-right nowrap"> T. de cambio </th>
          <td mat-cell *matCellDef="let row" class="text-align-right nowrap">
            {{ row.exchangeRate !== 0 ? (row.exchangeRate | number : '1.6-6') : ''}}
          </td>
        </ng-container>

        <ng-container matColumnDef="debit">
          <th mat-header-cell *matHeaderCellDef class="text-align-right"> Debe </th>
          <td mat-cell *matCellDef="let row" class="text-align-right">{{ row.debit | number : '1.2-2' }}</td>
        </ng-container>

        <ng-container matColumnDef="credit">
          <th mat-header-cell *matHeaderCellDef class="text-align-right"> Haber </th>
          <td mat-cell *matCellDef="let row" class="text-align-right">{{ row.credit | number : '1.2-2' }}</td>
        </ng-container>

        <ng-container matColumnDef="issuesCount">
          <th mat-header-cell *matHeaderCellDef class="text-align-right"> Errores </th>
          <td mat-cell *matCellDef="let row" class="text-align-right bold-text" [style.width.px]="80">
            <span *ngIf="!row.issues || row.issues.length === 0">-</span>
            <a *ngIf="row.issues.length > 0" class="tag-error" title="Mostrar errores"
              (click)="onShowErrorsClicked(row)">
              {{ row.issues.length | number }}
            </a>
          </td>
        </ng-container>

        <ng-container matColumnDef="notFoundMessage">
          <td mat-footer-cell *matFooterCellDef [attr.colspan]="displayedColumns.length">
            Este volante no tiene movimientos.
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="['notFoundMessage']" class="text-not-found"
          [hidden]="dataSource.data.length > 0"></tr>

      </table>

    </cdk-virtual-scroll-viewport>

  </div>

</div>

<emp-fa-export-report-modal *ngIf="displayExportModal"
  title="Exportar movimientos"
  message="Se generará la exportación a Excel de los movimientos del volante."
  [fileUrl]="fileUrl"
  (exportReportModalEvent)="onExportReportModalEvent($event)">

</emp-fa-export-report-modal>
