<form #form="ngForm" empNgFormKeyDownEnter autocomplete="off" class="form-section">

  <fieldset [disabled]="true">

    <div class="fx-column-container fx-gap-half">

      <div class="fx-row-container">

        <div class="fx-item-third">
          <label>Número de volante:</label>
          <input type="text" name="slipNumber" class="text-box" [value]="transactionSlip.slipNumber">
        </div>

        <div class="fx-item-third">
          <label>Estado:</label>
          <input type="text" name="statusName" class="text-box" [value]="transactionSlip.statusName">
        </div>

        <div class="fx-item-third fx-row-container fx-end">

          <div class="fx-item-size" style="--size: 120px">
            <label>Fecha de afectación:</label>
            <input type="text" name="accountingDate" class="text-box"
              [value]="transactionSlip.accountingDate | empDateTimeFormat">
          </div>

        </div>

      </div>

      <div class="fx-row-container">

        <div class="fx-item-one">
          <label>Concepto:</label>
          <textarea class="text-area" name="concept" empNgTextareaAutoresize rows="1"
            [value]="transactionSlip.concept">

          </textarea>
        </div>

      </div>

      <div class="fx-row-container">

        <div class="fx-item-third">
          <label>Área:</label>
          <input type="text" name="functionalArea" class="text-box"
            [value]="transactionSlip.functionalArea">
        </div>

        <div class="fx-item-third">
          <label>Elaboró:</label>
          <input type="text" name="elaboratedBy" class="text-box"
            [value]="transactionSlip.elaboratedBy">
        </div>

        <div class="fx-item">
          <label class="ellipsis">Número de operación:</label>
          <input type="text" name="verificationNumber" class="text-box"
            [value]="transactionSlip.verificationNumber">
        </div>

        <div class="fx-item-size fx-end" style="--size: 120px">
          <label>Fecha de elaboración:</label>
          <input type="text" name="recordingDate" class="text-box"
            [value]="transactionSlip.recordingDate | empDateTimeFormat">
        </div>

      </div>

      <div class="fx-row-container">

        <div class="fx-item-third">
          <label>Importe:</label>
          <input type="text" name="controlTotal" class="text-box"
            [value]="transactionSlip.controlTotal | number : '1.2-2'">
        </div>

        <div class="fx-item-third" *ngIf="displayVoucherData">
          <label>Póliza:</label>
          <input type="text" name="accountingVoucherId" class="text-box"
            [value]="transactionSlip.accountingVoucherId">
        </div>

      </div>

    </div>

  </fieldset>

</form>
