<div class="explorer">

  <div class="primary priority" [class.md-hide]="displayAccountChartTabbed">

    <emp-fa-accounts-chart-explorer #accountChartExplorer
      [selectedAccount]="selectedAccount"
      (accountsChartExplorerEvent)="onAccountsChartExplorerEvent($event)">

    </emp-fa-accounts-chart-explorer>

  </div>

  <div class="secondary" *ngIf="displayAccountChartTabbed">

    <emp-fa-account-tabbed-view
      [account]="selectedAccount"
      (accountTabbedViewEvent)="onAccountTabbedViewEvent($event)">

    </emp-fa-account-tabbed-view>

  </div>

</div>
