<form [formGroup]="form" empNgFormKeyDownEnter autocomplete="off" class="form-section"
  [style.paddingBottom.px]="isSaved ? 0 : 4">

  <div fxLayout="row" fxLayoutAlign="end center" [style.marginRight.px]="isSaved ? 0 : 8">

    <div fxFlex="160px">

      <input type="text" class="text-box" name="period"
        placeholder="Clave"
        formControlName="code"
        [class.invalid-control]="formHelper.isControlInvalid(form.controls.code)">

    </div>

    <div fxFlex>

      <input type="text" class="text-box" name="period"
        placeholder="Nombre de la variable"
        formControlName="name"
        [class.invalid-control]="formHelper.isControlInvalid(form.controls.name)">

    </div>

    <div fxFlex="none">

      <emp-ng-date-range-picker name="period"
        formControlName="period"
        [showError]="formHelper.isControlInvalid(form.controls.period)">

      </emp-ng-date-range-picker>

    </div>


    <button *ngIf="!isSaved" title="Agregar"
      fxFlex="none"
      [class.btn-icon-action]="canEdit && isFormValid"
      [class.btn-icon]="!canEdit || !isFormValid"
      (click)="onAddExternalVariableClicked()">

      <mat-icon> add </mat-icon>

    </button>


    <button *ngIf="isSaved" title="Cancelar"
      fxFlex="none" mat-icon-button
      (click)="onCancelEditionClicked()">

      <mat-icon> close </mat-icon>

    </button>


    <button *ngIf="isSaved" title="Guardar"
      fxFlex="none" mat-icon-button
      [color]="isFormValid ? 'primary' : null"
      [style.marginRight]="0"
      (click)="onUpdateExternalVariableClicked()">

      <mat-icon [color]="isFormValid ? 'primary' : null"> done </mat-icon>

    </button>

  </div>

</form>
