
<mat-divider class="horizontal-md">

</mat-divider>


<div *ngIf="!queryExecuted" class="instruction-text">
  Seleccionar los filtros.
</div>


<div *ngIf="queryExecuted && externalVariablesList.length === 0" class="instruction-text">
  No se han agregado variables al conjunto.
</div>


<div *ngIf="externalVariablesList.length > 0" [style.paddingRight.px]="8">

  <cdk-virtual-scroll-viewport itemSize="48" [style.height.px]="472">

    <div *ngFor="let variable of externalVariablesList"
      class="fx-row-container fx-space-between fx-items-center simple-list-item margin"
      [style.minHeight.px]="40">

      <ng-container
        *ngTemplateOutlet="externalVariablesSelected.uid === variable.uid ?
                           itemToEdit :
                           itemReadOnly; context: { variable: variable }">

      </ng-container>

    </div>

  </cdk-virtual-scroll-viewport>

</div>


<ng-template #itemToEdit let-variable="variable">

  <emp-fa-external-variable-editor
    [externalVariablesSetUID]="externalVariableSet.uid"
    [externalVariable]="variable"
    [canEdit]="true"
    [style.width.%]="100"
    (externalVariableEditorEvent)="onExternalVariableEditorEvent($event)">

  </emp-fa-external-variable-editor>

</ng-template>


<ng-template #itemReadOnly let-variable="variable">

  <div class="fx-item-size detail" style="--size: 150px">
    <strong>{{variable.code}}</strong>
  </div>

  <div class="fx-item">
    <strong>{{variable.name}}</strong>
  </div>

  <div class="fx-item-size detail text-align-center" style="--size: 180px">
    {{variable.startDate | empDateTimeFormat}} - {{variable.endDate | empDateTimeFormat}}
  </div>

  <div class="fx-item-size" style="--size: 24px">

  </div>

  <button mat-icon-button
    title="Editar"
    [style.marginRight.px]="8"
    (click)="onEditExternalVariableClicked(variable)">

    <mat-icon> edit </mat-icon>

  </button>

  <button mat-icon-button
    title="Eliminar"
    (click)="onRemoveExternalVariableClicked(variable)">

    <mat-icon> delete </mat-icon>

  </button>

</ng-template>
