<emp-ng-modal-window [config]="{width:'900px'}">

  <emp-ng-card
    [title]="title"
    hint='Información de la celda del reporte.'
    (cardClose)="onClose()">

    <div class="card-body-padding">

      <form [formGroup]="form" empNgFormKeyDownEnter autocomplete="off" class="form-section">

        <div class="fx-column-container fx-gap-half">

          <div #typeSection class="fx-row-container sm-fx-column-container" [style.marginBottom.rem]="0.75">

            <div class="fx-item-one">
              <label>Tipo de celda:</label>
              <mat-radio-group formControlName="type" (change)="onTypeChanged()">
                <mat-radio-button *ngFor="let type of fixedCellTypeList"
                  class="fx-item-third"
                  [value]="type.uid">
                  {{type.name}}
                </mat-radio-button>
              </mat-radio-group>
            </div>

          </div>

          <ng-container #financialConceptReferenceSection *ngIf="isConceptType">

            <div class="section-title"> Información del concepto de referencia </div>

            <div class="fx-row-container">

              <div class="fx-item-third">
                <label>Agrupación:</label>
                <emp-ng-select
                  formControlName="group"
                  [items]="financialReportConfig.financialConceptGroups"
                  [showError]="formHelper.isControlInvalid(form.controls.group)">
                </emp-ng-select>
              </div>

              <div class="fx-item-two-third">
                <label>Concepto:</label>
                <emp-ng-select
                  formControlName="concept"
                  [items]="conceptList"
                  [loading]="isLoading"
                  [config]="{virtualScroll: true, searchableFields: ['code', 'name']}"
                  [showError]="formHelper.isControlInvalid(form.controls.concept)"
                  bindLabel="code">
                  <ng-template #labelTemplate let-item="item">
                    ({{item.code}}) {{item.name}}
                  </ng-template>
                  <ng-template #optionTemplate let-item="item">
                    ({{item.code}}) {{item.name}}
                  </ng-template>
                </emp-ng-select>
              </div>

            </div>

            <div class="fx-row-container">

              <div class="fx-item-third">
                <label>Campo:</label>
                <emp-ng-select
                  formControlName="dataField"
                  [items]="financialReportConfig.dataFields"
                  [showError]="formHelper.isControlInvalid(form.controls.dataField)"
                  bindLabel="uid">
                </emp-ng-select>
              </div>

            </div>

          </ng-container>

          <ng-container #labelSection *ngIf="isLabelType">

            <div class="section-title"> Información de la etiqueta </div>

            <div class="fx-row-container">

              <div class="fx-item-one">
                <label>Etiqueta:</label>
                <input type="text" class="text-box"
                  formControlName="label"
                  [class.invalid-control]="formHelper.isControlInvalid(form.controls.label)">
              </div>

            </div>

          </ng-container>

          <ng-container #generalFieldsSection>

            <div class="section-title"> Información general </div>

            <div class="fx-row-container">

              <div class="fx-item-third">
                <label>Formato:</label>
                <emp-ng-select
                  formControlName="format"
                  [items]="formatList"
                  [config]="{bindByValue: false}"
                  [bindLabel]="null"
                  [showError]="formHelper.isControlInvalid(form.controls.format)">

                  <ng-template #optionTemplate let-item="item">
                    <div [class]="item" [style.width.%]="100">{{item}}</div>
                  </ng-template>

                </emp-ng-select>
              </div>

              <div class="fx-item-none">
                <label>Fecha inicial:</label>
                <emp-ng-datepicker
                  formControlName="startDate"
                  [showError]="formHelper.isControlInvalid(form.controls.startDate)">
                </emp-ng-datepicker>
              </div>

              <div class="fx-item-none">
                <label>Fecha final:</label>
                <emp-ng-datepicker
                  formControlName="endDate"
                  [showError]="formHelper.isControlInvalid(form.controls.endDate)">
                </emp-ng-datepicker>
              </div>

            </div>

          </ng-container>

          <ng-container #rowFooter>

            <mat-divider class="horizontal-slim">

            </mat-divider>

            <div class="fx-row-container">

              <div class="fx-item fx-items-center" *ngIf="isSaved">

                <button type="button"
                  class="btn-warning"
                  (click)="onRemoveCellClicked()">
                  Eliminar
                </button>

              </div>

              <div class="fx-item fx-end fx-items-center">

                <button type="button"
                  [class.btn]="!formHelper.isFormReady(form)"
                  [class.btn-action]="formHelper.isFormReady(form)"
                  (click)="onSubmitDataClicked()">
                  {{isSaved ? 'Guardar' : 'Agregar'}}
                </button>

              </div>

            </div>

          </ng-container>

        </div>

      </form>

    </div>

  </emp-ng-card>

</emp-ng-modal-window>
