<emp-ng-modal-window [config]="{width:'900px'}">

  <emp-ng-card
    [title]="isSaved ? 'Editar columna del reporte' : 'Agregar columna al reporte'"
    hint='Información de la columna del reporte.'
    (cardClose)="onClose()">

    <div class="card-body-padding">

      <form [formGroup]="form" empNgFormKeyDownEnter autocomplete="off" class="form-section">

        <div class="fx-column-container fx-gap-half">

          <div #typeSection class="fx-row-container sm-fx-column-container" [style.marginBottom.rem]="0.75">

            <div class="fx-item-one">
              <label>Tipo de columna:</label>
              <mat-radio-group formControlName="type"
                (change)="onTypeChanged()">
                <mat-radio-button *ngFor="let type of fixedColumnTypeList"
                  class="fx-item-third"
                  [value]="type.uid">
                  {{type.name}}
                </mat-radio-button>
              </mat-radio-group>
            </div>

          </div>

          <div class="section-title"> Información general </div>

          <div #generalFieldsSection class="fx-row-container sm-fx-column-container">

            <div class="fx-item-half">
              <label>Nombre:</label>
              <input type="text" class="text-box"
                formControlName="name"
                [class.invalid-control]="formHelper.isControlInvalid(form.controls.name)">
            </div>

            <div class="fx-item-none">
              <label>Fecha inicial:</label>
              <emp-ng-datepicker
                formControlName="startDate"
                [showError]="formHelper.isControlInvalid(form.controls.startDate)">
              </emp-ng-datepicker>
            </div>

            <div class="fx-item-none">
              <label>Fecha final:</label>
              <emp-ng-datepicker
                formControlName="endDate"
                [showError]="formHelper.isControlInvalid(form.controls.endDate)">
              </emp-ng-datepicker>
            </div>

            <div class="fx-item fx-items-end" [style.padding-bottom.px]="2">

              <mat-checkbox name="isHide"
                formControlName="isHide"
                (click)="$event.stopPropagation">
                Ocultar columna
              </mat-checkbox>

            </div>

          </div>


          <ng-container #formulaSection *ngIf="isFormulaType">

            <div class="fx-row-container">

              <div class="fx-item-one">
                <label>Fórmula:</label>
                <input type="text" class="text-box"
                  formControlName="formula"
                  [class.invalid-control]="formHelper.isControlInvalid(form.controls.formula)">
              </div>

            </div>

          </ng-container>


          <ng-container #positingFieldsSection *ngIf="displayPositingSection">

            <div class="fx-row-container">

              <div class="fx-item-third">
                <label>Posición:</label>
                <emp-ng-select
                  formControlName="positioningRule"
                  [items]="positioningRuleList"
                  [showError]="formHelper.isControlInvalid(form.controls.positioningRule)"
                  (changes)="onPositioningRuleChanged()">
                </emp-ng-select>
              </div>

              <div *ngIf="displayPositioningOffset" class="fx-item-two-third fx-items-end">
                <emp-ng-select class="fx-item-one"
                  formControlName="positioningOffsetUID"
                  bindValue="column"
                  [items]="financialReportColumnsList"
                  [config]="{searchableFields: ['column', 'title']}"
                  [showError]="formHelper.isControlInvalid(form.controls.positioningOffsetUID)">
                  <ng-template #labelTemplate let-item="item">
                    ({{item.column}}) {{item.title}}
                  </ng-template>
                  <ng-template #optionTemplate let-item="item">
                    ({{item.column}}) {{item.title}}
                  </ng-template>
                </emp-ng-select>
              </div>

              <div *ngIf="displayPosition" class="fx-item-sixth fx-items-end">

                <input type="text" class="text-box text-align-right"
                  formControlName="position"
                  [class.invalid-control]="formHelper.isControlInvalid(form.controls.position)">

              </div>

            </div>

          </ng-container>


          <ng-container #footerSection>

            <mat-divider class="horizontal-slim">

            </mat-divider>

            <div class="fx-row-container">

              <div class="fx-item fx-end fx-items-center">

                <button type="button"
                  [class.btn]="!formHelper.isFormReady(form)"
                  [class.btn-action]="formHelper.isFormReady(form)"
                  (click)="onSubmitDataClicked()">
                  {{isSaved ? 'Guardar' : 'Agregar'}}
                </button>

              </div>

            </div>

          </ng-container>

        </div>

      </form>

    </div>

  </emp-ng-card>

</emp-ng-modal-window>
