<div *ngIf="!displayMenu" class="designer-button">

  <ng-container *ngTemplateOutlet="content">

  </ng-container>

</div>


<div *ngIf="displayMenu" class="designer-button"
  #triggerActionMenu="matMenuTrigger"
  [matMenuTriggerFor]="actionMenu"
  [class.designer-button-active]="triggerActionMenu.menuOpen">

  <ng-container *ngTemplateOutlet="content">

  </ng-container>

</div>

<ng-template #content>

  <ng-content>

  </ng-content>

</ng-template>


<mat-menu #actionMenu="matMenu">

  <ng-template matMenuContent>

    <button mat-menu-item empNgContextMenuDisabled (click)="onInsertItemClicked()">
      Insertar
      <span *ngIf="itemType === 'row'">nuevo renglón</span>
      <span *ngIf="itemType === 'column'">nueva columna</span>
    </button>

    <mat-divider> </mat-divider>

    <button mat-menu-item empNgContextMenuDisabled (click)="onUpdateItemClicked()">
      Editar
      <span *ngIf="itemType === 'row'">renglón</span>
      <span *ngIf="itemType === 'column'">columna</span>
    </button>

    <button mat-menu-item empNgContextMenuDisabled (click)="onRemoveItemClicked()">
      Eliminar
      <span *ngIf="itemType === 'row'">renglón</span>
      <span *ngIf="itemType === 'column'">columna</span>
    </button>

  </ng-template>

</mat-menu>
