<form #form="ngForm" empNgFormKeyDownEnter autocomplete="off" class="form-section form-container">

  <div class="fx-column-container fx-gap-half">

    <div class="fx-row-container">

      <div class="fx-item-half">

        <label>Lista de cuentas:</label>

        <emp-ng-select name="type" #type="ngModel" required
          [config]="{bindByValue: false, selectFirst: true}"
          [(ngModel)]="formData.type"
          [items]="accountsLists"
          [loading]="isLoading"
          [showError]="type.invalid">

        </emp-ng-select>

      </div>

      <div class="fx-item fx-items-end">

        <div class="input-search-container">

          <input type="text" class="text-box" name="keywords" #keywords="ngModel"
            placeholder="Buscar cuentas..."
            [(ngModel)]="formData.keywords"
            [class.invalid-control]="keywords.invalid"
            (keyup.escape)="onClearKeyword()"
            (keyup.enter)="onSearchClicked()">

        </div>

      </div>

      <div class="fx-item-none fx-end fx-items-end" [style.paddingBottom.px]="2">

        <button title="Consultar cuentas"
          [class.btn-icon]="!isFormValid"
          [class.btn-icon-action]="isFormValid"
          (click)="onSearchClicked()">

          <mat-icon>search</mat-icon>

        </button>

      </div>

    </div>

  </div>

</form>
