<div class="card card-border">

  <div class="card-header card-header-flat">

    <div class="card-title">
      Visualizador de listas de cuentas

      <div class="card-hint" empNgProgressText
        loadingText="Cargando"
        [finalText]="cardHint"
        [isLoading]="isLoading">
      </div>

    </div>

    <div class="card-header-options">

      <button
        [class.btn]="!queryExecuted"
        [class.btn-action]="queryExecuted"
        (click)="onCreateAccountClicked()">
        Agregar cuenta
      </button>

    </div>

  </div>

  <div class="card-body" [empNgSpinnerHost]="spinner">

    <div class="fx-column-container-fill">

      <emp-ng-spinner #spinner [visible]="isLoading">

      </emp-ng-spinner>

      <emp-fa-accounts-lists-filter class="fx-item-none"
        (accountsListsFilterEvent)="onAccountsListsFilterEvent($event)">

      </emp-fa-accounts-lists-filter>

      <emp-ng-data-table class="fx-item"
        [dataTable]="accountsListData"
        [executed]="queryExecuted"
        [selectedEntry]="selectedAccountsListEntry"
        [notQueryExecutedText]="isLoading ? 'Cargando...' : 'No se ha invocado la consulta.'"
        (dataTableEvent)="onAccountsListsTableEvent($event)">

      </emp-ng-data-table>

    </div>

  </div>

</div>
