<emp-ng-modal-window [config]="{width:'900px'}">

  <emp-ng-card
    [title]="editionMode ? 'Editar regla de integración' : 'Agregar regla a la integración'"
    hint='Información de la regla de integración.'
    (cardClose)="onClose()">

    <div class="card-body-padding">

      <form [formGroup]="form" [empNgSpinnerHost]="spinner" empNgFormKeyDownEnter
        autocomplete="off" class="form-section">

        <emp-ng-spinner #spinner [visible]="isLoadingDataLists || submitted"></emp-ng-spinner>

        <div class="fx-column-container fx-gap-half">

          <div #typeSection class="fx-row-container sm-fx-column-container">

            <div class="fx-item-one">
              <label>Tipo de agrupación:</label>
              <mat-radio-group formControlName="entryType"
                (change)="onEntryTypeChanged()">
                <mat-radio-button *ngFor="let type of financialConceptEntryTypeList" [value]="type.uid"
                  class="fx-item-third">
                  {{type.name}}
                </mat-radio-button>
              </mat-radio-group>
            </div>

          </div>

          <ng-container #financialConceptReferenceSection *ngIf="isFinancialConceptReferenceType">

            <div class="section-title"> Información del concepto de referencia </div>

            <div class="fx-row-container">

              <div class="fx-item-third">
                <label>Agrupación:</label>
                <emp-ng-select
                  formControlName="referencedGroup"
                  [items]="referencedGroupList"
                  [loading]="isLoadingDataLists"
                  [showError]="formHelper.isControlInvalid(form.controls.referencedGroup)">
                </emp-ng-select>
              </div>

              <div class="fx-item-two-third">
                <label>Concepto:</label>
                <emp-ng-select
                  formControlName="referencedFinancialConcept"
                  [items]="referencedFinancialConceptList"
                  [loading]="isLoadingReferencedFinancialConcepts"
                  [config]="{virtualScroll: true, bindByValue: false, searchableFields: ['code', 'name']}"
                  [showError]="formHelper.isControlInvalid(form.controls.referencedFinancialConcept)"
                  bindLabel="code">
                  <ng-template #labelTemplate let-item="item">
                    ({{item.code}}) {{item.name}}
                  </ng-template>
                  <ng-template #optionTemplate let-item="item">
                    ({{item.code}}) {{item.name}}
                  </ng-template>
                </emp-ng-select>
              </div>

            </div>

          </ng-container>

          <ng-container #externalVariableSection *ngIf="isExternalVariableType">

            <div class="section-title"> Información del valor externo </div>

            <div class="fx-row-container">

              <div class="fx-item-third">
                <label>Conjunto:</label>
                <emp-ng-select
                  formControlName="externalVariableSet"
                  [items]="selectedGroup.externalVariablesSets"
                  [showError]="formHelper.isControlInvalid(form.controls.externalVariableSet)">
                </emp-ng-select>
              </div>

              <div class="fx-item-two-third">
                <label>Valor externo:</label>
                <emp-ng-select
                  formControlName="externalVariable"
                  [items]="externalVariableList"
                  [loading]="isLoadingExternalVariable"
                  [config]="{virtualScroll: true, searchableFields: ['code', 'name']}"
                  [showError]="formHelper.isControlInvalid(form.controls.externalVariable)"
                  bindLabel="code"
                  bindValue="code">
                  <ng-template #labelTemplate let-item="item">
                    ({{item.code}}) {{item.name}}
                  </ng-template>
                  <ng-template #optionTemplate let-item="item">
                    ({{item.code}}) {{item.name}}
                  </ng-template>
                </emp-ng-select>
              </div>

            </div>

          </ng-container>

          <ng-container #accountSection *ngIf="isAccountType">

            <div class="section-title"> Información de la cuenta </div>

              <div class="fx-row-container">

                <div class="fx-item-two-third">
                  <label>Cuenta:</label>
                  <emp-ng-select
                    [config]="{ bindByValue: false,
                                clearable: true,
                                minTermLength: accountMinTermLength,
                                virtualScroll: true,
                                typeToSearchText: 'Ingresar ' + accountMinTermLength +' o más caracteres'}"
                    formControlName="account"
                    [items]="accountList$ | async"
                    [typeahead]="accountInput$"
                    [loading]="accountLoading"
                    [showError]="formHelper.isControlInvalid(form.controls.account)"
                    bindValue="id"
                    placeholder="Buscar cuenta"
                    (clear)="onClearAccount()">
                    <ng-template #labelTemplate let-item="item">
                      {{item.number}}: {{item.name}}
                    </ng-template>
                    <ng-template #optionTemplate let-item="item">
                      <div class="item">
                        <span class="item-highlight">{{item.number}}</span> <br>
                        <span class="item-text-xs">{{item.name}}</span>
                      </div>
                    </ng-template>
                  </emp-ng-select>
                </div>

                <div class="fx-item-third">
                  <label>Sector:</label>
                  <emp-ng-select
                    [config]="{clearable: true}"
                    formControlName="sector"
                    [items]="selectedAccountChart?.sectors"
                    bindValue="code"
                    bindLabel="code"
                    placeholder="Todos">
                  </emp-ng-select>
                </div>

              </div>

              <div class="fx-row-container">

                <div class="fx-item-two-third">
                  <label>Auxiliar:</label>
                  <emp-ng-select #subledgerAccount
                    [config]="{ bindByValue: false,
                                clearable: true,
                                minTermLength: subledgerAccountMinTermLength,
                                typeToSearchText: 'Ingresar ' + subledgerAccountMinTermLength +' o más caracteres',
                                virtualScroll: true }"
                    formControlName="subledgerAccount"
                    [items]="subledgerAccountList$ | async"
                    [typeahead]="subledgerAccountInput$"
                    [loading]="subledgerAccountLoading"
                    placeholder="Todos"
                    (clear)="onClearSubledgerAccount()">

                    <ng-template #labelTemplate let-item="item">
                      {{item.number}} {{item.name ? ' | ' + item.name : ''}}
                    </ng-template>

                    <ng-template #optionTemplate let-item="item">
                      <div class="item">
                        <div class="fx-items-center">
                          <span class="item-highlight">{{item.number}}</span>
                          <span *ngIf="item.suspended" class="tag tag-error tag-small">Suspendido</span>
                        </div>
                        <span class="item-text-xs">{{item.name}}</span>
                      </div>
                    </ng-template>
                  </emp-ng-select>
                </div>

                <div class="fx-item-third">
                  <label>Moneda:</label>
                  <emp-ng-select
                    [config]="{clearable: true}"
                    formControlName="currency"
                    [items]="selectedAccountChart?.currencies"
                    bindLabel="fullName"
                    bindValue="code"
                    placeholder="Todas">
                  </emp-ng-select>
                </div>

              </div>

          </ng-container>

          <ng-container #generalFieldsSection>

            <div class="section-title"> Información general </div>

            <div class="fx-row-container">

              <div class="fx-item-third">
                <label>Operador:</label>
                <emp-ng-select
                  formControlName="operator"
                  [items]="operatorList"
                  [showError]="formHelper.isControlInvalid(form.controls.operator)">
                </emp-ng-select>
              </div>

              <div class="fx-item-third">
                <label>Regla de cálculo:</label>
                <emp-ng-select
                  formControlName="calculationRule"
                  [items]="selectedGroup?.calculationRules ?? []"
                  [config]="{bindByValue: false}"
                  [bindLabel]="null"
                  [showError]="formHelper.isControlInvalid(form.controls.calculationRule)">
                </emp-ng-select>
              </div>

              <div class="fx-item-third">
                <label>Columna:</label>
                <emp-ng-select
                  formControlName="dataColumn"
                  [items]="selectedGroup?.dataColumns ?? []"
                  [config]="{bindByValue: false}"
                  [bindLabel]="null"
                  [showError]="formHelper.isControlInvalid(form.controls.dataColumn)">
                </emp-ng-select>
              </div>

            </div>

          </ng-container>

          <div #positionSection class="fx-row-container">

            <div class="fx-item-third">
              <label>Posición:</label>
              <emp-ng-select
                formControlName="positioningRule"
                [items]="positioningRuleList"
                [showError]="formHelper.isControlInvalid(form.controls.positioningRule)"
                (changes)="onPositioningRuleChanged()">
              </emp-ng-select>
            </div>

            <div class="fx-item-two-third fx-items-end" *ngIf="displayPositioningOffsetConcept">
              <emp-ng-select
                formControlName="positioningOffsetEntryUID"
                [items]="financialConcept.integration"
                [config]="{searchableFields: ['itemCode', 'itemName']}"
                [showError]="formHelper.isControlInvalid(form.controls.positioningOffsetEntryUID)"
                [placeholder]="!!form.controls.referencedGroup.value ? 'Seleccionar' : 'Seleccionar la agrupación'"
                [style.width.%]="100">
                <ng-template #labelTemplate let-item="item">
                  ({{item.itemCode}}) {{item.itemName}}
                </ng-template>
                <ng-template #optionTemplate let-item="item">
                  ({{item.itemCode}}) {{item.itemName}}
                </ng-template>
              </emp-ng-select>
            </div>

            <div class="fx-item-sixth fx-items-end" *ngIf="displayPosition">

              <input type="text" class="text-box text-align-right" empNgInteger
                formControlName="position">

            </div>

          </div>

          <ng-container #rowFooter *ngIf="!readonly">

            <mat-divider class="horizontal-slim"></mat-divider>

            <div class="fx-row-container">

              <div class="fx-item fx-end fx-items-center">

                <button
                  [class.btn]="!formHelper.isFormReady(form)"
                  [class.btn-action]="formHelper.isFormReady(form)"
                  (click)="onSubmitDataClicked()">
                  {{editionMode ? 'Guardar' : 'Agregar'}}
                </button>

              </div>

            </div>

          </ng-container>

        </div>

      </form>

    </div>

  </emp-ng-card>

</emp-ng-modal-window>
