
<div class="fill-table-container" [style.width.%]="100">

  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="itemCode">
      <th mat-header-cell *matHeaderCellDef class="nowrap"> Clave / Cuenta</th>
      <td mat-cell *matCellDef="let row" class="nowrap">{{ row.itemCode }}</td>
    </ng-container>

    <ng-container matColumnDef="itemName">
      <th mat-header-cell *matHeaderCellDef> Descripción </th>
      <td mat-cell *matCellDef="let row">{{ row.itemName }}</td>
    </ng-container>

    <ng-container matColumnDef="typeName">
      <th mat-header-cell *matHeaderCellDef> Tipo </th>
      <td mat-cell *matCellDef="let row">{{ getFinancialConceptEntryTypeName(row.type) }}</td>
    </ng-container>

    <ng-container matColumnDef="groupName">
      <th mat-header-cell *matHeaderCellDef class="nowrap"> Definido en </th>
      <td mat-cell *matCellDef="let row">{{ row.group?.name }}</td>
    </ng-container>

    <ng-container matColumnDef="subledgerAccount">
      <th mat-header-cell *matHeaderCellDef class="nowrap"> Auxiliar </th>
      <td mat-cell *matCellDef="let row">{{ row.subledgerAccount }}</td>
    </ng-container>

    <ng-container matColumnDef="sectorCode">
      <th mat-header-cell *matHeaderCellDef> Sector </th>
      <td mat-cell *matCellDef="let row">{{ row.sectorCode }}</td>
    </ng-container>

    <ng-container matColumnDef="operator">
      <th mat-header-cell *matHeaderCellDef> Operador </th>
      <td mat-cell *matCellDef="let row">{{ row.operator }}</td>
    </ng-container>

    <ng-container matColumnDef="actionDelete">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let row" class="column-action">
        <button mat-icon-button>
          <mat-icon title="Eliminar regla" (click)="onRemoveButtonClicked($event, row)">
            delete
          </mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onUpdateButtonClicked(row)"
      [ngClass]="{'item-type-summary': row.type === 'Agrupation',
                  'selectable-row': canEdit}"></tr>

  </table>

  <div *ngIf="dataSource.data.length === 0" class="text-not-found">
    Este concepto no tiene cuentas u otros conceptos que lo integren.
  </div>

</div>
