<emp-ng-modal-window [config]="{width:'900px'}">

  <emp-ng-card
    [title]="editionMode ? 'Editar regla de integración' : 'Agregar regla a la integración'"
    hint='Información de la regla de integración.'
    (cardClose)="onClose()">

    <div class="card-body-padding">

      <form [formGroup]="formHandler.form" [empNgSpinnerHost]="spinner" empNgFormKeyDownEnter
        autocomplete="off" class="form-section">

        <emp-ng-spinner #spinner [visible]="isLoading"></emp-ng-spinner>

        <div fxLayout="column" fxLayoutGap="0.75rem" fxLayoutGap.lt-md="0.75rem">

          <div #typeSection fxLayout="row" fxLayout.lt-md="column" [style.marginBottom.rem]="0.75">

            <div fxFlex="100">
              <label>Tipo de agrupación:</label>
              <mat-radio-group [formControlName]="controls.entryType"
                (change)="onEntryTypeChanged()">
                <mat-radio-button *ngFor="let type of financialConceptEntryTypeList" [value]="type.uid"
                  [fxFlex]="100/3" [style.marginLeft]="0">
                  {{type.name}}
                </mat-radio-button>
              </mat-radio-group>
            </div>

          </div>

          <ng-container #financialConceptReferenceSection *ngIf="isFinancialConceptReferenceType">

            <div class="section-title"> Información del concepto de referencia </div>

            <div fxLayout="row">

              <div [fxFlex]="100/3">
                <label>Agrupación:</label>
                <emp-ng-select
                  [formControlName]="controls.referencedGroup"
                  [items]="referencedGroupList"
                  [showError]="formHandler.showInvalidControl(controls.referencedGroup)">
                </emp-ng-select>
              </div>

              <div [fxFlex]="200/3">
                <label>Concepto:</label>
                <emp-ng-select
                  [formControlName]="controls.referencedFinancialConcept"
                  [items]="referencedFinancialConceptList"
                  [loading]="isLoadingReferencedFinancialConcepts"
                  [config]="{virtualScroll: true, bindByValue: false, searchableFields: ['code', 'name']}"
                  [showError]="formHandler.showInvalidControl(controls.referencedFinancialConcept)"
                  bindLabel="code">
                  <ng-template #labelTemplate let-item="item">
                    ({{item.code}}) {{item.name}}
                  </ng-template>
                  <ng-template #optionTemplate let-item="item">
                    ({{item.code}}) {{item.name}}
                  </ng-template>
                </emp-ng-select>
              </div>

            </div>

          </ng-container>

          <ng-container #externalVariableSection *ngIf="isExternalVariableType">

            <div class="section-title"> Información del valor externo </div>

            <div fxLayout="row">

              <div [fxFlex]="100/3">
                <label>Conjunto:</label>
                <emp-ng-select
                  [formControlName]="controls.externalVariableSet"
                  [items]="selectedGroup.externalVariablesSets"
                  [showError]="formHandler.showInvalidControl(controls.externalVariableSet)">
                </emp-ng-select>
              </div>

              <div [fxFlex]="200/3">
                <label>Valor externo:</label>
                <emp-ng-select
                  [formControlName]="controls.externalVariable"
                  [items]="externalVariableList"
                  [loading]="isLoadingExternalVariable"
                  [config]="{virtualScroll: true, searchableFields: ['code', 'name']}"
                  [showError]="formHandler.showInvalidControl(controls.externalVariable)"
                  bindLabel="code"
                  bindValue="code">
                  <ng-template #labelTemplate let-item="item">
                    ({{item.code}}) {{item.name}}
                  </ng-template>
                  <ng-template #optionTemplate let-item="item">
                    ({{item.code}}) {{item.name}}
                  </ng-template>
                </emp-ng-select>
              </div>

            </div>

          </ng-container>

          <ng-container #accountSection *ngIf="isAccountType">

            <div class="section-title"> Información de la cuenta </div>

              <div fxLayout="row">

                <div [fxFlex]="200/3">
                  <label>Cuenta:</label>
                  <emp-ng-select
                    [config]="{ bindByValue: false,
                                clearable: true,
                                minTermLength: accountMinTermLength,
                                virtualScroll: true,
                                typeToSearchText: 'Ingresar ' + accountMinTermLength +' o más caracteres'}"
                    [formControlName]="controls.account"
                    [items]="accountList$ | async"
                    [typeahead]="accountInput$"
                    [loading]="accountLoading"
                    [showError]="formHandler.showInvalidControl(controls.account)"
                    bindValue="id"
                    placeholder="Buscar cuenta"
                    (clear)="onClearAccount()">
                    <ng-template #labelTemplate let-item="item">
                      {{item.number}}: {{item.name}}
                    </ng-template>
                    <ng-template #optionTemplate let-item="item">
                      <div class="item">
                        <span class="item-highlight">{{item.number}}</span> <br>
                        <span class="item-text-xs">{{item.name}}</span>
                      </div>
                    </ng-template>
                  </emp-ng-select>
                </div>

                <div [fxFlex]="100/3">
                  <label>Sector:</label>
                  <emp-ng-select
                    [config]="{clearable: true}"
                    [formControlName]="controls.sector"
                    [items]="selectedAccountChart?.sectors"
                    bindValue="code"
                    bindLabel="code"
                    placeholder="Todos">
                  </emp-ng-select>
                </div>

              </div>

              <div fxLayout="row">

                <div [fxFlex]="200/3">
                  <label>Auxiliar:</label>
                  <emp-ng-select #subledgerAccount
                    [config]="{ bindByValue: false,
                                clearable: true,
                                minTermLength: subledgerAccountMinTermLength,
                                typeToSearchText: 'Ingresar ' + subledgerAccountMinTermLength +' o más caracteres',
                                virtualScroll: true }"
                    [formControlName]="controls.subledgerAccount"
                    [items]="subledgerAccountList$ | async"
                    [typeahead]="subledgerAccountInput$"
                    [loading]="subledgerAccountLoading"
                    placeholder="Todos"
                    (clear)="onClearSubledgerAccount()">

                    <ng-template #labelTemplate let-item="item">
                      {{item.number}} {{item.name ? ' | ' + item.name : ''}}
                    </ng-template>

                    <ng-template #optionTemplate let-item="item">
                      <div class="item">
                        <div fxLayoutAlign="start center">
                          <span class="item-highlight">{{item.number}}</span>
                          <span *ngIf="item.suspended" class="tag-error tag-small">Suspendido</span>
                        </div>
                        <span class="item-text-xs">{{item.name}}</span>
                      </div>
                    </ng-template>
                  </emp-ng-select>
                </div>

                <div [fxFlex]="100/3">
                  <label>Moneda:</label>
                  <emp-ng-select
                    [config]="{clearable: true}"
                    [formControlName]="controls.currency"
                    [items]="selectedAccountChart?.currencies"
                    bindLabel="fullName"
                    bindValue="code"
                    placeholder="Todas">
                  </emp-ng-select>
                </div>

              </div>

          </ng-container>

          <ng-container #generalFieldsSection>

            <div class="section-title"> Información general </div>

            <div fxLayout="row">

              <div [fxFlex]="100/3">
                <label>Operador:</label>
                <emp-ng-select
                  [formControlName]="controls.operator"
                  [items]="operatorList"
                  [showError]="formHandler.showInvalidControl(controls.operator)">
                </emp-ng-select>
              </div>

              <div [fxFlex]="100/3">
                <label>Regla de cálculo:</label>
                <emp-ng-select
                  [formControlName]="controls.calculationRule"
                  [items]="selectedGroup?.calculationRules ?? []"
                  [config]="{bindByValue: false}"
                  [bindLabel]="null"
                  [showError]="formHandler.showInvalidControl(controls.calculationRule)">
                </emp-ng-select>
              </div>

              <div [fxFlex]="100/3">
                <label>Columna:</label>
                <emp-ng-select
                  [formControlName]="controls.dataColumn"
                  [items]="selectedGroup?.dataColumns ?? []"
                  [config]="{bindByValue: false}"
                  [bindLabel]="null"
                  [showError]="formHandler.showInvalidControl(controls.dataColumn)">
                </emp-ng-select>
              </div>

            </div>

          </ng-container>

          <div #positionSection fxLayout="row">

            <div [fxFlex]="100/3">
              <label>Posición:</label>
              <emp-ng-select
                [formControlName]="controls.positioningRule"
                [items]="positioningRuleList"
                [showError]="formHandler.showInvalidControl(controls.positioningRule)"
                (changes)="onPositioningRuleChanged()">
              </emp-ng-select>
            </div>

            <div [fxFlex]="200/3" fxLayoutAlign="start end" *ngIf="displayPositioningOffsetConcept">
              <emp-ng-select [fxFlex]="100"
                [formControlName]="controls.positioningOffsetEntryUID"
                [items]="financialConcept.integration"
                [config]="{searchableFields: ['itemCode', 'itemName']}"
                [showError]="formHandler.showInvalidControl(controls.positioningOffsetEntryUID)"
                [placeholder]="!!formHandler.getControl(controls.referencedGroup).value ? 'Seleccionar' : 'Seleccionar la agrupación'">
                <ng-template #labelTemplate let-item="item">
                  ({{item.itemCode}}) {{item.itemName}}
                </ng-template>
                <ng-template #optionTemplate let-item="item">
                  ({{item.itemCode}}) {{item.itemName}}
                </ng-template>
              </emp-ng-select>
            </div>

            <div [fxFlex]="100/6" fxLayoutAlign="start end" *ngIf="displayPosition">

              <input type="text" class="text-box text-align-right" empNgInteger
                [formControlName]="controls.position">

            </div>

          </div>

          <ng-container #rowFooter *ngIf="!readonly">

            <mat-divider class="horizontal"></mat-divider>

            <div fxLayout="row">

              <div fxFlex fxLayoutAlign="end center">

                <button
                  [class.btn]="!formHandler.isReadyForSubmit"
                  [class.btn-action]="formHandler.isReadyForSubmit"
                  (click)="onSubmitDataClicked()">
                  {{editionMode ? 'Guardar' : 'Agregar'}}
                </button>

              </div>

            </div>

          </ng-container>

        </div>

      </form>

    </div>

  </emp-ng-card>

</emp-ng-modal-window>
