<div class="explorer" fxLayoutGap="32px">

  <div class="primary">

    <emp-fa-imported-data-viewer
      dataType="conciliaciones"
      [typeRequired]="true"
      [importTypeRequired]="true"
      [multiFiles]="true"
      [typeList]="reconciliationTypeList"
      [importerDatasets]="reconciliationDatasets"
      [data]="reconciliationDataResult"
      [excelFileUrl]="excelFileUrl"
      [isLoading]="isLoading"
      (importedDataViewerEvent)="onImportedDataViewerEvent($event)">

    </emp-fa-imported-data-viewer>

  </div>

</div>
