<div class="explorer">

  <div class="primary">

    <emp-fa-imported-data-viewer
      dataType="conciliaciones"
      [permissionForOptions]="permissionToImport"
      [typeFieldConfig]="{show: true, required: true, list: reconciliationTypeList}"
      [importTypeRequired]="true"
      [multiFiles]="true"
      [importerDatasets]="reconciliationDatasets"
      [command]="reconciliationCommand"
      [commandExecuted]="reconciliationCommandExecuted"
      [data]="reconciliationDataTable"
      [exportationTypeDefault]="false"
      [fileUrl]="fileUrl"
      [isLoading]="isLoading"
      (importedDataViewerEvent)="onImportedDataViewerEvent($event)">

    </emp-fa-imported-data-viewer>

  </div>

</div>
