<div class="explorer">

  <div class="primary">

    <emp-ng-imported-data-viewer
      dataType="conciliaciones"
      [showImportData]="hasPermissionToImport"
      [typeFieldConfig]="{show: true, required: true, list: reconciliationTypeList}"
      [importTypeRequired]="true"
      [multiFiles]="true"
      [importerDatasets]="reconciliationDatasets"
      [query]="reconciliationCommand"
      [queryExecuted]="reconciliationCommandExecuted"
      [data]="reconciliationDataTable"
      [exportationTypeDefault]="false"
      [fileUrl]="fileUrl"
      [isLoading]="isLoading"
      (importedDataViewerEvent)="onImportedDataViewerEvent($event)">

    </emp-ng-imported-data-viewer>

  </div>

</div>
