<form #form="ngForm" empNgFormKeyDownEnter autocomplete="off" class="form-section form-container">

  <div class="fx-column-container fx-gap-half">

    <div class="fx-row-container sm-fx-column-container">

      <div class="fx-item-half sm-fx-item">

        <label>Catálogo de cuentas:</label>

        <emp-ng-select name="accountsChartUID" required
          [(ngModel)]="query.accountsChartUID"
          [items]="accountsChartMasterDataList"
          [loading]="isLoading"
          [showError]="!query.accountsChartUID"
          (changes)="onAccountsChartChanges($event)">
        </emp-ng-select>

      </div>

      <div class="fx-item-size sm-fx-item"
        [ngStyle]="{'--size': 'calc(50% - ' + (selectedReportType?.show.datePeriod ? '261px' : '156px') + ')' }">

        <label>Reporte:</label>

        <emp-ng-select name="reportType" required
          [(ngModel)]="query.reportType"
          [items]="filteredReportTypeList"
          [showError]="!query.reportType"
          (changes)="onReportTypeChanges($event)">
        </emp-ng-select>

      </div>

      <div class="fx-item-size sm-fx-item-none"
        [ngStyle]="{'--size': showField.datePeriod ? '225px' : '120px'}">

        <ng-container *ngIf="showField.singleDate">

          <label>Fecha:</label>

          <emp-ng-datepicker name="date" required
            [(ngModel)]="query.toDate"
            [showError]="!query.toDate">

          </emp-ng-datepicker>

        </ng-container>

        <ng-container *ngIf="showField.datePeriod">

          <label>Período:</label>

          <emp-ng-date-range-picker name="period"
            [(startDate)]="query.fromDate"
            [(endDate)]="query.toDate"
            [showError]="!query.fromDate ||
                         !query.toDate">

          </emp-ng-date-range-picker>

        </ng-container>

      </div>

      <div class="fx-item-none fx-items-end" [style.paddingBottom.px]="2">

        <button title="Generar reporte"
          [class.btn-icon]="form.invalid || !isPeriodValid"
          [class.btn-icon-action]="form.valid && isPeriodValid"
          [disabled]="form.invalid || !isPeriodValid"
          (click)="onBuildReportClicked()">

          <mat-icon>search</mat-icon>

        </button>

      </div>

    </div>

  </div>

</form>
