<div class="explorer" fxLayoutGap="32px">

  <div class="primary">

    <emp-ng-card
      title="Panel de control"
      hint="Seleccione una opción."
      [showCardHeaderFlat]="true"
      [disableClose]="true">

        <div class="card-info-container"
          fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-between">

          <div *empNgHasPermission="permissions.FEATURE_ACCOUNTING_CALENDARS_EDITION"
            class="card-info" fxFlex="0 1 calc(50% - 8px)" fxFlex.lt-md="100" fxLayoutAlign="space-around center">
            <div fxFlex>
              <span class="card-info-title">Períodos</span>
              <span class="card-info-hint">Edición de fechas de los calendarios.</span>
            </div>

            <button class="btn-primary" fxFlex="120px"
              (click)="displayAccountingCalendarsEditor = true">
              Períodos
            </button>

          </div>

          <div *empNgHasPermission="permissions.FEATURE_EXTERNAL_PROCESS_EXECUTION"
            class="card-info" fxFlex="0 1 calc(50% - 8px)" fxFlex.lt-md="100" fxLayoutAlign="space-around center">
            <div fxFlex>
              <span class="card-info-title">Rentabilidad</span>
              <span class="card-info-hint">Ejecución de proceso de rentabilidad.</span>
            </div>
            <button class="btn-primary" fxFlex="120px"
              (click)="openExternalProcessesEditor(externalProcessTypes.Rentabilidad)">
              Rentabilidad
            </button>
          </div>

          <div *empNgHasPermission="permissions.FEATURE_EXTERNAL_PROCESS_EXECUTION"
            class="card-info" fxFlex="0 1 calc(50% - 8px)" fxFlex.lt-md="100" fxLayoutAlign="space-around center">
            <div fxFlex>
              <span class="card-info-title">Concilación de cartera</span>
              <span class="card-info-hint">Ejecución de proceso de concilación de cartera.</span>
            </div>
            <button class="btn-primary" fxFlex="120px"
              (click)="openExternalProcessesEditor(externalProcessTypes.ConciliacionSIC)">
              Concilación
            </button>
          </div>

        </div>

    </emp-ng-card>

  </div>

</div>


<emp-fa-accounting-calendars-editor *ngIf="displayAccountingCalendarsEditor"
  (closeEvent)="displayAccountingCalendarsEditor = false">

</emp-fa-accounting-calendars-editor>


<emp-fa-external-process-submitter *ngIf="displayExternalProcessesEditor"
  [externalProcessType]="externalProcessType"
  (closeEvent)="closeExternalProcessesEditor()">

</emp-fa-external-process-submitter>
