<div class="explorer">

  <div class="primary">

    <emp-ng-card
      title="Panel de control"
      hint="Seleccionar una opción."
      [showCardHeaderFlat]="true"
      [disableClose]="true">

        <div class="card-info-container fx-row-container fx-wrap fx-space-between
                    md-fx-column-container">

          <ng-container *ngFor="let option of controlPanelOptionList">

            <div *empNgHasPermission="option.permission"
              class="card-info
                     fx-row-container fx-space-around fx-items-center
                     fx-item-half-margin md-fx-item">

              <div class="fx-item">

                <span class="card-info-title">{{option.title}}</span>
                <span class="card-info-hint">{{option.description}}</span>

              </div>

              <button class="btn-primary" [style.minWidth.px]="120"
                (click)="onClickControlPanelOption(option)">
                {{option.actionTitle}}
              </button>

            </div>

          </ng-container>

        </div>

    </emp-ng-card>

  </div>

</div>

<emp-ng-change-password-modal *ngIf="displayChangePasswordModal"
  (closeEvent)="displayChangePasswordModal = false">

</emp-ng-change-password-modal>


<emp-fa-accounting-calendars-editor *ngIf="displayAccountingCalendarsEditor"
  (closeEvent)="displayAccountingCalendarsEditor = false">

</emp-fa-accounting-calendars-editor>


<emp-fa-external-process-submitter *ngIf="displayExternalProcessesEditor"
  [externalProcessType]="externalProcessType"
  (closeEvent)="onCloseExternalProcessSubmitterEvent()">

</emp-fa-external-process-submitter>


<emp-fa-locked-up-balances-modal *ngIf="displayLockedUpBalancesModal"
  (lockedUpBalancesModalEvent)="displayLockedUpBalancesModal = false">

</emp-fa-locked-up-balances-modal>


<emp-fa-operations-log-modal *ngIf="displayOperationsLogModal"
  (closeEvent)="displayOperationsLogModal = false">

</emp-fa-operations-log-modal>
