<emp-ng-modal-window [config]="{width:'550px'}">

  <emp-ng-card
    title="Cambiar contraseña"
    hint='Ingrese la información requerida para actualizar la contraseña.'
    (cardClose)="onClose()">

    <div class="card-body-padding" [empNgSpinnerHost]="spinner">

      <emp-ng-spinner #spinner [visible]="submitted">

      </emp-ng-spinner>

      <form [formGroup]="formHandler.form" empNgFormKeyDownEnter autocomplete="off" class="form-section">

        <div fxLayout="column" fxLayoutGap="0.5rem" fxLayoutGap.lt-md="0.5rem">

          <div fxFlex>
            <label for="userID">Usuario:</label>
            <input type="text" id="userID" name="userID" autocomplete="off" class="text-box"
              [formControlName]="controls.userID"
              [class.invalid-control]="formHandler.showInvalidControl(controls.userID)">
          </div>

          <div fxFlex>
            <label for="currentPassword">Contraseña actual:</label>
            <input [type]="showPassword ? 'text' : 'password'"
              id="current-password" name="current-password" autocomplete="current-password" class="text-box"
              [formControlName]="controls.currentPassword"
              [class.invalid-control]="formHandler.showInvalidControl(controls.currentPassword)">
          </div>

          <br>

          <mat-divider class="horizontal-slim">

          </mat-divider>

          <br>

          <div fxFlex>
            <label for="new-password">Nueva contraseña:</label>
            <input [type]="showPassword ? 'text' : 'password'"
              id="new-password" name="newPassword" autocomplete="new-password" class="text-box"
              [formControlName]="controls.newPassword"
              [class.invalid-control]="formHandler.showInvalidControl(controls.newPassword)">
          </div>

          <div fxFlex>
            <label for="confirmNewPassword">
              Confirmar nueva contraseña:
              <span class="warning-text" *ngIf="formHandler.form.errors?.matchOther">
                (Las contraseñas no coinciden)
              </span>
            </label>
            <input [type]="showPassword ? 'text' : 'password'"
              id="confirmNewPassword" name="confirmNewPassword" autocomplete="new-password" class="text-box"
              [formControlName]="controls.confirmNewPassword"
              [class.invalid-control]="formHandler.showInvalidControl(controls.confirmNewPassword) ||
                                       formHandler.form.errors?.matchOther">
          </div>

          <mat-checkbox [checked]="showPassword"
            (click)="$event.stopPropagation"
            (change)="showPassword = !showPassword">
            Mostrar contraseñas
          </mat-checkbox>

          <ng-container *ngIf="formHandler.getControl(controls.newPassword).errors">
            <br>
            <div class="inline-info">{{textInfo}}</div>
          </ng-container>


          <mat-divider class="horizontal-slim">

          </mat-divider>


          <div fxLayout="row">

            <div fxFlex fxLayoutAlign="end center">

              <button type="submit"
                [class.btn]="!formHandler.isValid"
                [class.btn-action]="formHandler.isValid"
                (click)="onUpdateCredentialsClicked()">
                Cambiar contraseña
              </button>

            </div>

          </div>

        </div>

      </form>

    </div>

  </emp-ng-card>

</emp-ng-modal-window>
