<emp-ng-modal-window [config]="{width:'1024px'}">

  <emp-ng-card
    [title]="editionMode ? 'Editar movimiento' : 'Agregar movimiento'"
    hint='Información del movimiento.'
    (cardClose)="onClose()">

    <div class="card-body-padding">

      <form [formGroup]="form" [empNgSpinnerHost]="spinner" empNgFormKeyDownEnter
        autocomplete="off" class="form-section">

        <emp-ng-spinner #spinner [visible]="isLoading"></emp-ng-spinner>

        <div class="fx-column-container">

          <div #rowTopButtons *ngIf="!readonly"
            class="fx-row-container fx-end"
            [style.marginBottom.rem]="1.25" [style.height.px]="28">

            <div *ngIf="!cloneMode" class="fx-item-none" >

              <button *ngIf="!editionMode"
                class="btn-base"
                (click)="onCopyOfLastVoucherEntryClicked()">
                Copiar datos del último movimiento
              </button>

              <button *ngIf="editionMode"
                class="btn-base"
                (click)="onCloneVoucherEntryClicked()">
                Clonar movimiento
              </button>

            </div>

          </div>

          <div #rowFields class="fx-row-container fx-item-one">

            <div #column1 class="fx-column-container fx-gap-half fx-item-size" style="--size: 55%">

              <div class="fx-row-container">

                <div class="fx-item-one">
                  <label>Movimiento:</label>
                  <emp-ng-select
                    formControlName="voucherEntryType"
                    [items]="voucherEntryTypeList"
                    [showError]="formHelper.isControlInvalid(form.controls.voucherEntryType)">
                  </emp-ng-select>
                </div>

              </div>

              <div class="fx-row-container">

                <div class="fx-item-size" style="--size: calc(100% - 85px)">
                  <label>Cuenta:</label>
                  <emp-ng-select
                    [config]="{ bindByValue: false,
                                clearable: true,
                                minTermLength: ledgerAccountMinTermLength,
                                typeToSearchText: 'Ingresar ' + ledgerAccountMinTermLength +' o más caracteres'}"
                    formControlName="ledgerAccount"
                    [items]="ledgerAccountList$ | async"
                    [typeahead]="ledgerAccountInput$"
                    [loading]="ledgerAccountLoading"
                    [showError]="formHelper.isControlInvalid(form.controls.ledgerAccount)"
                    (clear)="onClearLedgerAccount()"
                    (changes)="onLedgerAccountChanges($event)"
                    bindValue="id"
                    placeholder="Buscar cuenta">
                    <ng-template #labelTemplate let-item="item">
                      {{item.number}}: {{item.name}}
                    </ng-template>
                    <ng-template #optionTemplate let-item="item">
                      <div class="item">
                        <span class="item-highlight">{{item.number}}</span> <br>
                        <span class="item-text-xs">{{item.name}}</span>
                      </div>
                    </ng-template>
                  </emp-ng-select>
                </div>

                <div class="fx-item-size" style="--size: 85px">
                  <label>Sector:</label>
                  <emp-ng-select
                    formControlName="sector"
                    [items]="ledgerAccountSelected.sectors"
                    [placeholder]="placeholderSector"
                    [showError]="formHelper.isControlInvalid(form.controls.sector)"
                    [title]="placeholderSector"
                    (changes)="onSectorChanges($event)"
                    bindValue="id"
                    bindLabel="code">
                  </emp-ng-select>
                </div>

              </div>

              <div class="fx-row-container">

                <div class="fx-item-one">
                  <label>Auxiliar:</label>
                  <emp-ng-select #subledgerAccount
                    [config]="{ bindByValue: false,
                                clearable: true,
                                minTermLength: subledgerAccountMinTermLength,
                                typeToSearchText: 'Ingresar ' + subledgerAccountMinTermLength +' o más caracteres',
                                virtualScroll: true }"
                    formControlName="subledgerAccount"
                    [items]="subledgerAccountList$ | async"
                    [typeahead]="subledgerAccountInput$"
                    [loading]="subledgerAccountLoading"
                    [placeholder]="placeholderSubledgerAccount"
                    [showError]="formHelper.isControlInvalid(form.controls.subledgerAccount)"
                    (clear)="onClearSubledgerAccount()"
                    bindValue="id">

                    <ng-template #labelTemplate let-item="item">
                      {{item.number}} {{item.name ? ' | ' + item.name : ''}}
                    </ng-template>

                    <ng-template #optionTemplate let-item="item">
                      <div class="item">
                        <div class="fx-items-center">
                          <span class="item-highlight">{{item.number}}</span>
                          <span *ngIf="item.suspended" class="tag tag-error tag-small">Suspendido</span>
                        </div>
                        <span class="item-text-xs">{{item.name}}</span>
                      </div>
                    </ng-template>

                    <ng-template #footerTemplate>
                      <button *ngIf="subledgerAccountRequired"
                        class="btn"
                        (click)="subledgerAccount.select.close(); onCreateSubledgerAccountClicked()">
                        Agregar Auxiliar
                      </button>
                    </ng-template>
                  </emp-ng-select>
                </div>

              </div>

              <div class="fx-row-container">

                <div class="fx-item-one">
                  <label>Moneda:</label>
                  <emp-ng-select
                    formControlName="currency"
                    [items]="ledgerAccountSelected.currencies"
                    [placeholder]="placeholderCurrency"
                    [showError]="formHelper.isControlInvalid(form.controls.currency)"
                    (changes)="onCurrencyChanges()">
                  </emp-ng-select>
                </div>

              </div>

              <div class="fx-row-container">

                <div class="fx-item-one">
                  <label>Monto de la operación:</label>
                  <input type="text" empNgCurrency
                    class="text-box text-align-right"
                    formControlName="amount"
                    [class.invalid-control]="formHelper.isControlInvalid(form.controls.amount)"
                    (change)="onCalculateBaseCurrencyAmount()">
                </div>

              </div>

              <div class="fx-row-container">

                <div class="fx-item-one">
                  <label>Tipo de cambio:</label>
                  <input type="text" empNgCurrency
                    class="text-box"
                    [empNgCurrencyFractionDigitMin]="6" [empNgCurrencyFractionDigitMax]="6"
                    formControlName="exchangeRate"
                    [placeholder]="!currencySelected ? 'Seleccionar la moneda' : ''"
                    [ngClass]="!currencySelected ? 'text-align-left' : 'text-align-right'"
                    [class.invalid-control]="formHelper.isControlInvalid(form.controls.exchangeRate)"
                    (change)="onCalculateBaseCurrencyAmount()">
                </div>

              </div>

              <div class="fx-row-container">

                <div class="fx-item-one">
                  <label>Monto en moneda base:</label>
                  <input type="text" empNgCurrency
                    class="text-box text-align-right"
                    formControlName="baseCurrencyAmount"
                    [class.invalid-control]="formHelper.isControlInvalid(form.controls.baseCurrencyAmount)">
                </div>

              </div>

            </div>

            <div #column2 class="fx-column-container fx-gap-half fx-item-size" style="--size: 45%">

              <div class="fx-row-container">

                <div class="fx-item-one">
                  <label>Área de responsabilidad:</label>
                  <emp-ng-select
                    [config]="{ clearable: true, virtualScroll: true, showTooltip: true }"
                    formControlName="responsibilityArea"
                    [items]="functionalAreasList"
                    [showError]="formHelper.isControlInvalid(form.controls.responsibilityArea)">
                  </emp-ng-select>
                </div>

              </div>

              <div class="fx-row-container">

                <div class="fx-item-one">
                  <label>
                    Concepto presupuestal:
                    <span class="warning-text">
                      {{formHelper.isControlInvalid(form.controls.budgetConcept) ?
                      '(máximo 6 dígitos permitidos)' : ''}}
                    </span>
                  </label>
                  <input type="text" empNgInteger
                    class="text-box"
                    formControlName="budgetConcept"
                    [class.invalid-control]="formHelper.isControlInvalid(form.controls.budgetConcept)">
                </div>

              </div>

              <div class="fx-row-container">

                <div class="fx-item-one">
                  <label>Tipo de evento:</label>
                  <emp-ng-select
                    [config]="{ clearable: true }"
                    formControlName="eventType"
                    [items]="eventTypesList"
                    [showError]="formHelper.isControlInvalid(form.controls.eventType)">
                  </emp-ng-select>
                </div>

              </div>

              <div class="fx-row-container">

                <div class="fx-item">
                  <label>
                    Número de verificación:
                    <span class="warning-text">
                      {{formHelper.isControlInvalid(form.controls.verificationNumber) ?
                      '(máximo 6 dígitos permitidos)' : ''}}
                    </span>
                  </label>
                  <input type="text" class="text-box" empNgInteger
                    formControlName="verificationNumber"
                    [class.invalid-control]="formHelper.isControlInvalid(form.controls.verificationNumber)">
                </div>

              </div>

              <div class="fx-row-container fx-space-between">

                <div class="fx-item-none">
                  <ng-container *ngIf="displayDateAndConcept">
                    <label>Fecha:</label>
                    <emp-ng-datepicker
                      formControlName="date"
                      [showError]="formHelper.isControlInvalid(form.controls.date)">
                    </emp-ng-datepicker>
                  </ng-container>
                </div>

                <div class="fx-item-none fx-items-end"
                  [style.paddingBottom.px]="2" [style.marginRight.px]="8">
                  <mat-checkbox empNgStopPropagation
                    [(ngModel)]="displayDateAndConcept"
                    [disabled]="readonly"
                    [ngModelOptions]="{standalone: true}"
                    (change)="onDisplayDateAndConceptClicked()">
                    Fecha y concepto
                  </mat-checkbox>
                </div>

              </div>

              <div *ngIf="displayDateAndConcept"
                class="fx-item-size fx-row-container" style="--size: 95px">

                <div class="fx-item-one">
                  <label>
                    Concepto:
                    <span class="warning-text">
                      {{formHelper.isControlInvalid(form.controls.concept) ?
                      '(máximo 255 caracteres permitidos)' : ''}}
                    </span>
                  </label>
                  <textarea class="text-area" empNgTextareaAutoresize [maxHeightTextarea]="82" rows="1"
                    formControlName="concept"
                    [class.invalid-control]="formHelper.isControlInvalid(form.controls.concept)">
                  </textarea>
                </div>

              </div>

            </div>

          </div>

          <ng-container *ngIf="!readonly">

            <mat-divider class="horizontal">

            </mat-divider>

            <div #rowFooter class="fx-row-container">

              <div class="fx-item fx-end fx-items-center">

                <button
                  [class.btn]="!formHelper.isFormReady(form)"
                  [class.btn-action]="formHelper.isFormReady(form)"
                  (click)="onSubmitForm()">
                  {{editionMode ? 'Guardar' : 'Agregar'}}
                </button>

              </div>

            </div>

          </ng-container>

        </div>

      </form>

    </div>

  </emp-ng-card>

</emp-ng-modal-window>

<emp-fa-subledger-account-creator *ngIf="displaySubledgerAccountCreator"
  [accountsChartUID]="voucher.accountsChart.uid"
  [ledgerUID]="voucher.ledger.uid"
  (subledgerAccountCreatorEvent)="onSubledgerAccountCreatorEvent($event)">

</emp-fa-subledger-account-creator>
