<emp-ng-modal-window [config]="{width:'900px'}">

  <emp-ng-card
    [title]="editionMode ? 'Editar movimiento' : 'Agregar movimiento'"
    hint='Información del movimiento.'
    (cardClose)="onClose()">

    <div class="card-body-padding">

      <form [formGroup]="formHandler.form" [empNgSpinnerHost]="spinner"
        autocomplete="off" class="form-section" (keydown.enter)="$event.preventDefault()">

        <emp-ng-spinner #spinner [visible]="isLoading"></emp-ng-spinner>

        <div fxLayout="column">

          <div #rowTopButtons fxLayout="row" fxLayoutAlign="end" *ngIf="!readonly"
            [style.marginBottom.rem]="1.25" [style.height.px]="28">

            <div fxFlex="none" *ngIf="!cloneMode">

              <button *ngIf="!editionMode"
                class="btn-base"
                (click)="onCopyOfLastVoucherEntryClicked()">
                Copiar datos del último movimiento
              </button>

              <button *ngIf="editionMode"
                class="btn-base"
                (click)="onCloneVoucherEntryClicked()">
                Clonar movimiento
              </button>

            </div>

          </div>

          <div #rowFields fxLayout="row" fxFlex="100" >

            <div #column1 fxLayout="column" fxFlex="55" fxLayoutGap="0.75rem" fxLayoutGap.lt-md="0.75rem">

              <div fxLayout="row">

                <div [fxFlex]="100">
                  <label>Movimiento:</label>
                  <emp-ng-select
                    [formControlName]="controls.voucherEntryType"
                    [items]="voucherEntryTypeList"
                    [showError]="formHandler.showInvalidControl(controls.voucherEntryType)">
                  </emp-ng-select>
                </div>

              </div>

              <div fxLayout="row">

                <div fxFlex="calc(100% - 85px)">
                  <label>Cuenta:</label>
                  <emp-ng-select
                    [config]="{ bindByValue: false,
                                clearable: true,
                                minTermLength: ledgerAccountMinTermLength,
                                typeToSearchText: 'Ingrese ' + ledgerAccountMinTermLength +' o más caracteres'}"
                    [formControlName]="controls.ledgerAccount"
                    [items]="ledgerAccountList$ | async"
                    [typeahead]="ledgerAccountInput$"
                    [loading]="ledgerAccountLoading"
                    [showError]="formHandler.showInvalidControl(controls.ledgerAccount)"
                    (clear)="onClearLedgerAccount()"
                    (changes)="onLedgerAccountChanges($event)"
                    bindValue="id"
                    placeholder="Buscar cuenta">
                    <ng-template #labelTemplate let-item="item">
                      {{item.number}}: {{item.name}}
                    </ng-template>
                    <ng-template #optionTemplate let-item="item">
                      <div class="item">
                        <span class="item-highlight">{{item.number}}</span> <br>
                        <span class="item-text-xs">{{item.name}}</span>
                      </div>
                    </ng-template>
                  </emp-ng-select>
                </div>

                <div fxFlex="85px">
                  <label>Sector:</label>
                  <emp-ng-select
                    [formControlName]="controls.sector"
                    [items]="ledgerAccountSelected.sectors"
                    [placeholder]="placeholderSector"
                    [showError]="formHandler.showInvalidControl(controls.sector)"
                    [title]="placeholderSector"
                    (changes)="onSectorChanges($event)"
                    bindValue="id"
                    bindLabel="code">
                  </emp-ng-select>
                </div>

              </div>

              <div fxLayout="row">

                <div [fxFlex]="100">
                  <label>Auxiliar:</label>
                  <emp-ng-select #subledgerAccount
                    [config]="{ bindByValue: false,
                                clearable: true,
                                minTermLength: subledgerAccountMinTermLength,
                                typeToSearchText: 'Ingrese ' + subledgerAccountMinTermLength +' o más caracteres',
                                virtualScroll: true }"
                    [formControlName]="controls.subledgerAccount"
                    [items]="subledgerAccountList$ | async"
                    [typeahead]="subledgerAccountInput$"
                    [loading]="subledgerAccountLoading"
                    [placeholder]="placeholderSubledgerAccount"
                    [showError]="formHandler.showInvalidControl(controls.subledgerAccount)"
                    (clear)="onClearSubledgerAccount()"
                    bindValue="id">

                    <ng-template #labelTemplate let-item="item">
                      {{item.number}} {{item.name ? ' | ' + item.name : ''}}
                    </ng-template>

                    <ng-template #optionTemplate let-item="item">
                      <div class="item">
                        <span class="item-highlight">{{item.number}}</span> <br>
                        <span class="item-text-xs">{{item.name}}</span>
                      </div>
                    </ng-template>

                    <ng-template #footerTemplate>
                      <button *ngIf="subledgerAccountRequired" class="btn"
                        (click)="subledgerAccount.select.close(); onCreateSubledgerAccountClicked()">
                        Agregar Auxiliar
                      </button>
                    </ng-template>
                  </emp-ng-select>
                </div>

              </div>

              <div fxLayout="row">

                <div [fxFlex]="100">
                  <label>Moneda:</label>
                  <emp-ng-select
                    [formControlName]="controls.currency"
                    [items]="ledgerAccountSelected.currencies"
                    [placeholder]="placeholderCurrency"
                    [showError]="formHandler.showInvalidControl(controls.currency)">
                  </emp-ng-select>
                </div>

              </div>

              <div fxLayout="row">

                <div [fxFlex]="100">
                  <label>Monto de la operación:</label>
                  <input type="text" class="text-box text-align-right" empNgCurrency
                    empNgCurrencyDisplaySymbol=""
                    [formControlName]="controls.amount"
                    [class.invalid-control]="formHandler.showInvalidControl(controls.amount)"
                    (change)="onCalculateBaseCurrencyAmountClicked()">
                </div>

              </div>

              <div fxLayout="row">

                <div [fxFlex]="100">
                  <label><a class="link" (click)="onExchangeRateClicked()">Tipo de cambio:</a></label>
                  <input type="text" class="text-box text-align-right" empNgCurrency
                    empNgCurrencyDisplaySymbol=""
                    [empNgCurrencyFractionDigit]="6"
                    [formControlName]="controls.exchangeRate"
                    [class.invalid-control]="formHandler.showInvalidControl(controls.exchangeRate)"
                    (change)="onCalculateBaseCurrencyAmountClicked()">
                </div>

              </div>

              <div fxLayout="row">

                <div [fxFlex]="100">
                  <label>Monto en moneda base:</label>
                  <input type="text" class="text-box text-align-right" empNgCurrency
                    empNgCurrencyDisplaySymbol=""
                    [formControlName]="controls.baseCurrencyAmount"
                    [class.invalid-control]="formHandler.showInvalidControl(controls.baseCurrencyAmount)">
                </div>

              </div>

            </div>

            <div #column2 fxLayout="column" fxFlex="45" fxLayoutGap="0.75rem" fxLayoutGap.lt-md="0.75rem">

              <div fxLayout="row">

                <div [fxFlex]="100">
                  <label>Area de responsabilidad:</label>
                  <emp-ng-select
                    [config]="{ clearable: true }"
                    [formControlName]="controls.responsibilityArea"
                    [items]="functionalAreasList"
                    [showError]="formHandler.showInvalidControl(controls.responsibilityArea)">
                  </emp-ng-select>
                </div>

              </div>

              <div fxLayout="row">

                <div [fxFlex]="100">
                  <label>
                    Concepto presupuestal:
                    <span class="warning-text">
                      {{formHandler.showInvalidControl(controls.budgetConcept) ?
                      '(máximo 6 caracteres permitidos)' : ''}}
                    </span>
                  </label>
                  <input type="text" class="text-box"
                    [formControlName]="controls.budgetConcept"
                    [class.invalid-control]="formHandler.showInvalidControl(controls.budgetConcept)">
                </div>

              </div>

              <div fxLayout="row">

                <div [fxFlex]="100">
                  <label>Tipo de evento:</label>
                  <emp-ng-select
                    [config]="{ clearable: true }"
                    [formControlName]="controls.eventType"
                    [items]="eventTypesList"
                    [showError]="formHandler.showInvalidControl(controls.eventType)">
                  </emp-ng-select>
                </div>

              </div>

              <div fxLayout="row">

                <div fxFlex>
                  <label>
                    Número de verificación:
                    <span class="warning-text">
                      {{formHandler.showInvalidControl(controls.verificationNumber) ?
                      '(máximo 6 caracteres permitidos)' : ''}}
                    </span>
                  </label>
                  <input type="text" class="text-box"
                    [formControlName]="controls.verificationNumber"
                    [class.invalid-control]="formHandler.showInvalidControl(controls.verificationNumber)">
                </div>

              </div>

              <div fxLayout="row" fxLayoutAlign="space-between">

                <div fxFlex="none">
                  <ng-container *ngIf="displayDateAndConcept">
                    <label>Fecha:</label>
                    <emp-ng-datepicker
                      [formControlName]="controls.date"
                      [showError]="formHandler.showInvalidControl(controls.date)">
                    </emp-ng-datepicker>
                  </ng-container>
                </div>

                <div fxFlex="none" fxFlexAlign="center"
                  [style.paddingTop.px]="12" [style.height.px]="42" [style.marginRight.px]="8">
                  <mat-checkbox
                    [(ngModel)]="displayDateAndConcept"
                    [disabled]="readonly"
                    [ngModelOptions]="{standalone: true}"
                    (click)="$event.stopPropagation"
                    (change)="onDisplayDateAndConceptClicked()">
                    Fecha y concepto
                  </mat-checkbox>
                </div>

              </div>

              <div *ngIf="displayDateAndConcept" fxLayout="row" fxFlex="95px">

                <div [fxFlex]="100">
                  <label>
                    Concepto:
                    <span class="warning-text">
                      {{formHandler.showInvalidControl(controls.concept) ?
                      '(máximo 255 caracteres permitidos)' : ''}}
                    </span>
                  </label>
                  <textarea class="text-area" empNgTextareaAutoresize [maxHeightTextarea]="82" rows="1"
                    [formControlName]="controls.concept"
                    [class.invalid-control]="formHandler.showInvalidControl(controls.concept)">
                  </textarea>
                </div>

              </div>

            </div>

          </div>

          <ng-container *ngIf="!readonly">

            <mat-divider class="horizontal"></mat-divider>

            <div #rowFooter fxLayout="row">

              <div fxFlex fxLayoutAlign="end center">

                <button (click)="onSubmitForm()"
                  [class.btn]="!formHandler.isValid"
                  [class.btn-action]="formHandler.isValid">
                  {{editionMode ? 'Editar' : 'Agregar'}}
                </button>

              </div>

            </div>

          </ng-container>

        </div>

      </form>

    </div>

  </emp-ng-card>

</emp-ng-modal-window>

<emp-fa-subledger-account-creator *ngIf="displaySubledgerAccountCreator"
  [ledger]="voucherLedger"
  (subledgerAccountCreatorEvent)="onSubledgerAccountCreatorEvent($event)">

</emp-fa-subledger-account-creator>
