<div class="list-header" *ngIf="displayHeader">

  <div class="list-header-container">

    <div class="fx-row-container fx-gap-size" style="--gap-size: 8px">

      <div class="fx-item-size" [ngStyle]="{'--size': widthByMaxLevel + 'px'}"> Cuenta </div>

      <div *ngIf="showSectors" class="fx-item-size" style="--size: 22px"> Sct </div>

      <div class="fx-item list-header-column-border-shadow"> Descripción </div>

      <div class="fx-item-size" style="--size: 7%"> Rol </div>

      <div class="fx-item-size" style="--size: 4%"> Sector </div>

      <div class="fx-item-size" style="--size: 4%"> Auxiliar </div>

      <div class="fx-item-size" style="--size: 10%"> Tipo </div>

      <div class="fx-item-size" style="--size: 7%"> Naturaleza </div>

      <div class="fx-item-size" style="--size: 10%"> Alta / Baja </div>

    </div>

  </div>

</div>

<div class="fx-row-container fx-gap-size" style="--gap-size: 8px" *ngIf="!displayHeader">

  <div class="fx-item-size" [ngStyle]="{'--size': widthByMaxLevel + 'px'}">
    <div class="list-item-name nowrap"
         (click)="onAccountClicked()">
      {{account.role === 'Sumaria' ? '&nbsp;' : '*'}}
      <a>{{account.number}}</a>
    </div>
  </div>

  <div *ngIf="showSectors" class="fx-item-size" style="--size: 22px">
    <div>{{account.sector}}</div>
  </div>

  <div class="fx-item list-item-column-border-shadow">
    <div class="border-left"></div>
    <div [style.marginLeft.px]="marginLeftByLevel"
         [ngClass]="{'list-item-deleted': account.obsolete}">{{account.name}}</div>
  </div>

  <div class="fx-item-size" style="--size: 7%">
    <div class="nowrap">{{account.role}}</div>
  </div>

  <div class="fx-item-size" style="--size: 4%">
    <div>{{account.usesSector ? "Sí": "No"}}</div>
  </div>

  <div class="fx-item-size" style="--size: 4%">
    <div>{{account.usesSubledger ? "Sí": "No"}}</div>
  </div>

  <div class="fx-item-size" style="--size: 10%">
    <div>{{account.type.name}}</div>
  </div>

  <div class="fx-item-size" style="--size: 7%">
    <div class="nowrap">{{account.debtorCreditor}}</div>
  </div>

  <div class="fx-item-size" style="--size: 10%">
    <div>{{account.startDate | empDateTimeFormat}}</div>
    <div *ngIf="account.obsolete">{{account.endDate | empDateTimeFormat}}</div>
  </div>

</div>
