<div class="list-selection-header">

  <div class="fx-column-container fx-gap-half">

    <div class="fx-row-container fx-space-between fx-items-center">

      <div class="text-small-text fx-item">

        {{accountsChart.accounts.length}} cuentas encontradas

      </div>

      <div class="fx-item-none">

        <div class="fx-item fx-end" [style.marginRight.px]="8">

          <button type="button"
            class="btn"
            (click)="onExportButtonClicked()">
            Exportar
          </button>

        </div>

      </div>

    </div>

  </div>

</div>
