<form #form="ngForm" empNgFormKeyDownEnter autocomplete="off" class="form-section form-container">

  <div class="fx-column-container fx-gap-half">

    <div class="fx-row-container">

      <div class="fx-item-half">

        <label>Catálogo de cuentas:</label>

        <emp-ng-select
          [config]="{bindByValue: false}"
          [(ngModel)]="accountChartSelected" name="accountsChartUID"
          [items]="accountsChartMasterDataList"
          [loading]="isLoading"
          (changes)="onAccountChartChanges($event)"
          required>
        </emp-ng-select>

      </div>

      <div class="fx-item fx-items-end">

        <div class="input-search-container">

          <input type="text" name="keywords"
            class="text-box"
            placeholder="Buscar cuentas..."
            [(ngModel)]="accountsSearch.keywords"
            (keyup.enter)="onSearchAccountsChartClicked()"
            (keyup.escape)="onClearKeyword()">

        </div>

      </div>

      <div class="fx-item-none fx-items-end" [style.paddingBottom.px]="2">

        <button type="button"
          title="Buscar"
          class="btn-icon-action"
          [disabled]="form.invalid"
          (click)="onSearchAccountsChartClicked()">
          <mat-icon>search</mat-icon>
        </button>

      </div>

      <ng-container #filterOptionsSection>

        <mat-divider vertical="true" class="vertical">

        </mat-divider>

        <div class="fx-item-none fx-items-end" [style.paddingBottom.px]="2">

          <button class="btn-base"
            [style.width.px]="100"
            (click)="onShowFiltersClicked()">
            {{showFilters ? 'Ocultar' :'Mostrar'}} <mat-icon>filter_list</mat-icon>
          </button>

        </div>

      </ng-container>

    </div>

    <div #filterSection *ngIf="showFilters" [@expandCollapse]>

      <mat-divider class="horizontal-md">

      </mat-divider>

      <div class="fx-row-container" [style.marginBottom.px]="8">

        <div class="fx-item-half">

          <label>Grupo de contabilidades:</label>

          <emp-ng-select
            [config]="{clearable: true}"
            [(ngModel)]="accountsSearch.ledgerGroup" name="ledger"
            name="ledgerGroup"
            [items]="[]"
            placeholder="Todos">
          </emp-ng-select>

        </div>

        <div class="fx-item">

          <label>Contabilidad:</label>

          <emp-ng-select
            [config]="{clearable: true, multiple: false}"
            [(ngModel)]="accountsSearch.ledger" name="ledger"
            [items]="accountChartSelected?.ledgers"
            bindLabel="fullName"
            placeholder="Todos">
          </emp-ng-select>

        </div>

      </div>

      <div class="fx-row-container" [style.marginBottom.px]="8">

        <div class="fx-item-quarter">

          <label>De la cuenta:</label>

          <input type="text" class="text-box" [(ngModel)]="accountsSearch.fromAccount" name="fromAccount">

        </div>

        <div class="fx-item-quarter">

          <label>A la cuenta:</label>

          <input type="text" class="text-box" [(ngModel)]="accountsSearch.toAccount" name="toAccount">

        </div>

        <div class="fx-item">

          <label>Nivel:</label>

          <emp-ng-select
            [config]="{clearable: true}"
            [(ngModel)]="accountsSearch.level" name="level"
            [items]="levelsList"
            placeholder="Todos">
          </emp-ng-select>

        </div>

        <div class="fx-item-none">

          <label>Al día:</label>

          <emp-ng-datepicker name="date"
            [(ngModel)]="accountsSearch.date">

          </emp-ng-datepicker>

        </div>

      </div>

      <div class="fx-row-container" [style.marginBottom.px]="8">

        <div class="fx-item-half">

          <label>Tipo de cuenta:</label>

          <emp-ng-select
            [config]="{clearable: true, multiple: true}"
            [(ngModel)]="accountsSearch.types" name="types"
            [items]="accountChartSelected?.accountTypes"
            placeholder="Todos">
          </emp-ng-select>

        </div>

        <div class="fx-item-half">

          <label>Moneda:</label>

          <emp-ng-select
            [config]="{clearable: true, multiple: true}"
            [(ngModel)]="accountsSearch.currencies" name="currencies"
            [items]="accountChartSelected?.currencies"
            bindLabel="fullName"
            placeholder="Todas">
          </emp-ng-select>

        </div>

      </div>

      <div class="fx-row-container">

        <div class="fx-item-half">

          <label>Sector:</label>

          <emp-ng-select
            [config]="{clearable: true, multiple: true}"
            [(ngModel)]="accountsSearch.sectors" name="sectors"
            [items]="accountChartSelected?.sectors"
            bindLabel="fullName"
            placeholder="Todos">
          </emp-ng-select>

        </div>

        <div class="fx-item fx-items-center" [style.height.px]="28" [style.marginTop.px]="12">

          <mat-checkbox name="withSectors"
            [(ngModel)]="accountsSearch.withSectors"
            (click)="$event.stopPropagation">
            Mostrar sectores
          </mat-checkbox>

        </div>

        <ng-container #clearFilterSection>

          <mat-divider vertical="true" class="vertical">

          </mat-divider>

          <div class="fx-item-none fx-items-end" [style.paddingBottom.px]="2">

            <button
              [style.width.px]="100"
              class="btn-base"
              (click)="onClearFilters()">
              Limpiar <mat-icon>filter_list</mat-icon>
            </button>

          </div>

        </ng-container>

      </div>

    </div>

  </div>

</form>
