<form #form="ngForm" autocomplete="off" class="form-section list-selection-header">

  <div fxLayout="column" fxLayoutGap="0.5rem" fxLayoutGap.lt-md="0">

    <div fxLayout="row">

      <div fxFlex="50">

        <label>Catálogo:</label>

        <emp-ng-select
          [config]="{bindByValue: false}"
          [(ngModel)]="accountChartSelected" name="accountsChartUID"
          [items]="accountsChartMasterDataList"
          [loading]="isLoading"
          (changes)="onAccountChartChanges($event)"
          required>
        </emp-ng-select>

      </div>

      <div fxFlex>

        <label>Buscar:</label>

        <input type="text" class="text-box" [(ngModel)]="accountsSearch.keywords" name="keywords">

      </div>

      <div fxFlex="60px" fxLayoutAlign="center end" [style.padding.px]="2">

        <button class="btn-action btn-icon" title="Buscar"
          [disabled]="form.invalid" (click)="onSearchAccountsChartClicked()">

          <mat-icon>search</mat-icon>

        </button>

        <button class="btn-secondary btn-icon" [title]="showFilters ? 'Ocultar filtros' :'Mostrar filtros'">

          <mat-icon (click)="toggleFilters()">
            {{showFilters ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}
          </mat-icon>

        </button>

      </div>

    </div>

    <div *ngIf="showFilters" [@expandCollapse]>

      <mat-divider [style.marginBottom.rem]="0.5">

      </mat-divider>

      <div fxLayout="row" [style.marginBottom.rem]="0.5">

        <div fxFlex="25">

          <label>De la cuenta:</label>

          <input type="text" class="text-box" [(ngModel)]="accountsSearch.fromAccount" name="fromAccount">

        </div>

        <div fxFlex="25">

          <label>A la cuenta:</label>

          <input type="text" class="text-box" [(ngModel)]="accountsSearch.toAccount" name="toAccount">

        </div>

        <div fxFlex>

          <label>Nivel:</label>

          <emp-ng-select
            [config]="{clearable: true}"
            [(ngModel)]="accountsSearch.level" name="level"
            [items]="levelsList"
            placeholder="Todos">
          </emp-ng-select>

        </div>

        <div fxFlex="126px">

          <label>Al día:</label>

          <emp-ng-datepicker name="date"
            [(ngModel)]="accountsSearch.date">

          </emp-ng-datepicker>

        </div>

      </div>

      <div fxLayout="row" [style.marginBottom.rem]="0.5">

        <div fxFlex="50">

          <label>Tipo de cuenta:</label>

          <emp-ng-select
            [config]="{clearable: true, multiple: true}"
            [(ngModel)]="accountsSearch.types" name="types"
            [items]="accountChartSelected?.accountTypes"
            placeholder="Todas">
          </emp-ng-select>

        </div>

        <div fxFlex>

          <label>Rol:</label>

          <emp-ng-select
            [config]="{bindByValue: false, clearable: true, multiple: true}"
            [bindLabel]="null"
            [(ngModel)]="accountsSearch.roles" name="roles"
            [items]="accountChartSelected?.accountRoles"
            placeholder="Todos">
          </emp-ng-select>

        </div>

      </div>

      <div fxLayout="row">

        <div fxFlex="50">

          <label>Sector:</label>

          <emp-ng-select
            [config]="{clearable: true, multiple: true}"
            [(ngModel)]="accountsSearch.sectors" name="sectors"
            [items]="accountChartSelected?.sectors"
            placeholder="Todos">
          </emp-ng-select>

        </div>

        <div fxFlex>

          <label>Moneda:</label>

          <emp-ng-select
            [config]="{clearable: true, multiple: true}"
            [(ngModel)]="accountsSearch.currencies" name="currencies"
            [items]="accountChartSelected?.currencies"
            placeholder="Todas">
          </emp-ng-select>

        </div>

      </div>

    </div>

  </div>

</form>
