<form #form="ngForm" autocomplete="off" class="form-section form-container"
  (keydown.enter)="$event.preventDefault()">

  <div fxLayout="column" fxLayoutGap="0.5rem" fxLayoutGap.lt-md="0">

    <div fxLayout="row">

      <div fxFlex="50">

        <label>Catálogo:</label>

        <emp-ng-select
          [config]="{bindByValue: false}"
          [(ngModel)]="accountChartSelected" name="accountsChartUID"
          [items]="accountsChartMasterDataList"
          [loading]="isLoading"
          (changes)="onAccountChartChanges($event)"
          required>
        </emp-ng-select>

      </div>

      <div fxFlex fxLayoutAlign="start end">

        <div class="input-icon-container" [style.width.%]="100" [style.marginBottom.px]="4">

          <input type="text" class="text-box" name="keywords"
          placeholder="Buscar cuentas..."
          [(ngModel)]="accountsSearch.keywords"
          (keyup.enter)="onSearchAccountsChartClicked()"
          (keyup.escape)="onClearKeyword()">

        </div>

      </div>

      <div fxFlex="36px" fxLayoutAlign="space-around end" [style.paddingBottom.px]="2">

        <button class="btn-icon-action" title="Buscar"
          [disabled]="form.invalid"
          (click)="onSearchAccountsChartClicked()">
          <mat-icon>search</mat-icon>

        </button>

      </div>

      <div #filterOptionsSection>

        <mat-divider vertical="true" [style.marginTop.px]="12"
          [style.marginRight.px]="8" [style.height.px]="28">

        </mat-divider>

        <div fxFlex="117px" fxLayoutAlign="space-around end" [style.paddingBottom.px]="2">

          <button class="btn-base" (click)="toggleFilters()" fxFlex="100%">
            {{showFilters ? 'Ocultar' :'Mostrar'}}
            <mat-icon [style.paddingLeft.px]="8">filter_list</mat-icon>
          </button>

        </div>

      </div>

    </div>

    <div #filterSection *ngIf="showFilters" [@expandCollapse]>

      <mat-divider [style.marginBottom.px]="8" [style.marginRight.px]="8">

      </mat-divider>

      <div fxLayout="row" [style.marginBottom.px]="8">

        <div fxFlex="50">

          <label>Grupo de contabilidades:</label>

          <emp-ng-select
            [config]="{clearable: true}"
            [(ngModel)]="accountsSearch.ledgerGroup" name="ledger"
            name="ledgerGroup"
            [items]="[]"
            placeholder="Todos">
          </emp-ng-select>

        </div>

        <div fxFlex="50">

          <label>Contabilidad:</label>

          <emp-ng-select
            [config]="{clearable: true, multiple: false}"
            [(ngModel)]="accountsSearch.ledger" name="ledger"
            [items]="accountChartSelected?.ledgers"
            bindLabel="fullName"
            placeholder="Todos">
          </emp-ng-select>

        </div>

      </div>


      <div fxLayout="row" [style.marginBottom.px]="8">

        <div fxFlex="25">

          <label>De la cuenta:</label>

          <input type="text" class="text-box" [(ngModel)]="accountsSearch.fromAccount" name="fromAccount">

        </div>

        <div fxFlex="25">

          <label>A la cuenta:</label>

          <input type="text" class="text-box" [(ngModel)]="accountsSearch.toAccount" name="toAccount">

        </div>

        <div fxFlex>

          <label>Nivel:</label>

          <emp-ng-select
            [config]="{clearable: true}"
            [(ngModel)]="accountsSearch.level" name="level"
            [items]="levelsList"
            placeholder="Todos">
          </emp-ng-select>

        </div>

        <div fxFlex="126px">

          <label>Al día:</label>

          <emp-ng-datepicker name="date"
            [(ngModel)]="accountsSearch.date">

          </emp-ng-datepicker>

        </div>

      </div>

      <div fxLayout="row" [style.marginBottom.px]="8">

        <div fxFlex="50">

          <label>Tipo de cuenta:</label>

          <emp-ng-select
            [config]="{clearable: true, multiple: true}"
            [(ngModel)]="accountsSearch.types" name="types"
            [items]="accountChartSelected?.accountTypes"
            placeholder="Todos">
          </emp-ng-select>

        </div>

        <div fxFlex>

          <label>Rol:</label>

          <emp-ng-select
            [config]="{bindByValue: false, clearable: true, multiple: true}"
            [bindLabel]="null"
            [(ngModel)]="accountsSearch.roles" name="roles"
            [items]="accountChartSelected?.accountRoles"
            placeholder="Todos">
          </emp-ng-select>

        </div>

      </div>

      <div fxLayout="row">

        <div fxFlex="50">

          <label>Sector:</label>

          <emp-ng-select
            [config]="{clearable: true, multiple: true}"
            [(ngModel)]="accountsSearch.sectors" name="sectors"
            [items]="accountChartSelected?.sectors"
            bindLabel="fullName"
            placeholder="Todos">
          </emp-ng-select>

        </div>

        <div fxFlex>

          <label>Moneda:</label>

          <emp-ng-select
            [config]="{clearable: true, multiple: true}"
            [(ngModel)]="accountsSearch.currencies" name="currencies"
            [items]="accountChartSelected?.currencies"
            bindLabel="fullName"
            placeholder="Todas">
          </emp-ng-select>

        </div>

        <div #filterOptionsSection>

          <mat-divider vertical="true" [style.marginTop.px]="12"
            [style.marginRight.px]="8" [style.height.px]="28">

          </mat-divider>

          <div fxFlex="117px" fxLayoutAlign="space-around end" [style.paddingBottom.px]="2">

            <button class="btn-base" (click)="onClearFilters()" fxFlex="100%">
              Limpiar
              <mat-icon [style.paddingLeft.px]="8">filter_list</mat-icon>
            </button>

          </div>

        </div>

      </div>

    </div>

  </div>

</form>
