<div class="nav-bar">

  <ul>

    <li *empNgHasPermission="routes.operacion_contable.permission">
      <a [routerLink]='getUrlFromRoutePath(routes.operacion_contable.path)' routerLinkActive='selected'
        [routerLinkActiveOptions]="{exact:false}">
        {{ getMenuTitleFromLayoutType('AccountingOperation') }}
      </a>
    </li>

    <li *empNgHasPermission="routes.tableros.permission">
      <a [routerLink]='getUrlFromRoutePath(routes.tableros.path)' routerLinkActive='selected'
        [routerLinkActiveOptions]="{exact:false}">
        {{ getMenuTitleFromLayoutType('AccountingDashboards') }}
      </a>
    </li>

    <li *empNgHasPermission="routes.reglas_y_catalogos.permission">
      <a [routerLink]='getUrlFromRoutePath(routes.reglas_y_catalogos.path)' routerLinkActive='selected'
        [routerLinkActiveOptions]="{exact:false}">
        {{ getMenuTitleFromLayoutType('AccountingCataloguesAndRules') }}
      </a>
    </li>

    <li *empNgHasPermission="routes.administracion.permission">
      <a [routerLink]='getUrlFromRoutePath(routes.administracion.path)' routerLinkActive='selected'
        [routerLinkActiveOptions]="{exact:false}">
        {{ getMenuTitleFromLayoutType('Management') }}
      </a>
    </li>

  </ul>

</div>
