<div class="nav-bar">
  <ul>
    <li><a routerLink='/operacion-contable' routerLinkActive='selected' [routerLinkActiveOptions]="{exact:false}">OPERACIÓN CONTABLE</a></li>
    <li><a routerLink='/tableros' routerLinkActive='selected' [routerLinkActiveOptions]="{exact:false}">TABLEROS DE INFORMACIÓN</a></li>
    <li><a routerLink='/reportes' routerLinkActive='selected' [routerLinkActiveOptions]="{exact:false}">REPORTES</a></li>
    <li><a routerLink='/reglas-y-catalogos' routerLinkActive='selected' [routerLinkActiveOptions]="{exact:false}">REGLAS Y CATÁLOGOS</a></li>
  </ul>
</div>
