<div class="authentication-section-form">

  <form autocomplete="off" [formGroup]="form">

    <label for="userID">Usuario:</label>
    <div class="login-field-container">
      <input type="text" class="text-box" id="userID" autocomplete="username" autofocus
        formControlName="userID"
        [class.invalid-control]="form.controls.userID.invalid && form.controls.userID.touched">
    </div>

    <label for="password">Contraseña:</label>
    <div class="login-field-container">
      <input [type]="showPassword ? 'text' : 'password'" class="text-box"
        id="password" autocomplete="current-password"
        formControlName="password"
        [class.invalid-control]="form.controls.password.invalid && form.controls.password.touched">
      <mat-icon class="input-icon" *ngIf="showPasswordModeSelected === 'icon'"
        (click)="toggleShowPassword()">
        {{showPassword ? 'visibility_off' : 'visibility'}}
      </mat-icon>
    </div>

    <div class="footer-submit-container">
      <mat-checkbox *ngIf="showPasswordModeSelected === 'check'"
        [checked]="showPassword"
        (click)="$event.stopPropagation"
        (change)="toggleShowPassword()"
        color="warn">
        Mostrar contraseña
      </mat-checkbox>

      <div></div>

      <button type="sumbit" class="btn-warning"
        [class.spinner]="submitted"
        [style.marginRight.px]="8"
        (click)="login()">
        Ingresar
      </button>
    </div>

    <div class="authentication-error">

      <br>

      <div *ngIf="exceptionMsg" class="inline-warning">
        {{exceptionMsg}}
      </div>

    </div>

    <div class="authentication-space sm-hide">

    </div>

  </form>

</div>
