<emp-ng-spinner #spinner [visible]="isLoadingTransaction">

</emp-ng-spinner>

<div class="explorer">

  <div class="primary" [fxHide.xs.notebook]="displayTransactionSlipTabbedView">

    <emp-fa-transaction-slips-explorer
      [transactionSlipsList]="transactionSlipsList"
      [selectedTransactionSlip]="selectedTransactionSlip"
      [fileUrl]="fileUrl"
      [isLoading]="isLoading"
      [commandExecuted]="commandExecuted"
      (transactionSlipsExplorerEvent)="onTransactionSlipsExplorerEvent($event)">
    </emp-fa-transaction-slips-explorer>

  </div>

  <div class="secondary priority" *ngIf="displayTransactionSlipTabbedView">

    <emp-fa-transaction-slip-tabbed-view
      [transactionSlip]="selectedTransactionSlip"
      (transactionSlipTabbedViewEvent)="onTransactionSlipTabbedViewEvent($event)">

    </emp-fa-transaction-slip-tabbed-view>

  </div>

</div>
