<emp-ng-spinner #spinner [visible]="isLoadingSubledgerAccount"></emp-ng-spinner>

<div class="explorer" fxLayoutGap="32px">

  <div class="primary priority" [fxHide.lt-lg]="displaySubledgerAccountTabbed">

    <emp-fa-subledger-accounts-viewer
      [subledgerAccountData]="subledgerAccountData"
      [commandExecuted]="commandExecuted"
      [isLoading]="isLoading"
      (subledgerAccountsViewerEvent)="onSubledgerAccountsViewerEvent($event)">

    </emp-fa-subledger-accounts-viewer>

  </div>

  <div class="secondary" *ngIf="displaySubledgerAccountTabbed">

    <emp-fa-subledger-account-tabbed-view
      [subledgerAccount]="selectedSubledgerAccount"
      (subledgerAccountTabbedViewEvent)="onSubledgerAccountTabbedViewEvent($event)">

    </emp-fa-subledger-account-tabbed-view>

  </div>

</div>

<emp-fa-subledger-account-creator *ngIf="displaySubledgerAccountCreator"
  (subledgerAccountCreatorEvent)="onSubledgerAccountCreatorEvent($event)">

</emp-fa-subledger-account-creator>

<emp-fa-export-report-modal *ngIf="displayExportModal"
  title="Exportar auxiliares"
  [fileUrl]="exportData"
  (exportReportModalEvent)="onExportReportModalEvent($event)">

</emp-fa-export-report-modal>
