<emp-ng-modal-window [config]="{ width: '550px' }">

  <emp-ng-card
    title="Nuevo grupo de saldos"
    hint='Información general del grupo de saldos.'
    (cardClose)="onClose()">

    <div class="card-body-padding">

      <form [formGroup]="form" empNgFormKeyDownEnter
        autocomplete="off" class="form-section">

        <div class="fx-column-container fx-gap-half">

          <div class="fx-row-container">

            <div class="fx-item">
              <label>Catálogo de cuentas:</label>
              <emp-ng-select
                [config]="{selectFirst: !accountsChartDefault?.uid}"
                formControlName="accountsChart"
                [items]="accountsChartMasterDataList"
                [loading]="isLoading"
                [showError]="formHelper.isControlInvalid(form.controls.accountsChart)">
              </emp-ng-select>
            </div>

            <div class="fx-item-none">
              <label>Saldos al día:</label>
              <emp-ng-datepicker
                formControlName="balancesDate"
                [showError]="formHelper.isControlInvalid(form.controls.balancesDate)">

              </emp-ng-datepicker>
            </div>

          </div>

          <mat-divider class="horizontal-slim"></mat-divider>

          <div class="fx-row-container fx-end">

            <div class="fx-item-none">

              <button (click)="onCreateStoredBalanceSetClicked()"
                [class.btn]="!formHelper.isFormReady(form)"
                [class.btn-action]="formHelper.isFormReady(form)">
                Guardar
              </button>

            </div>

          </div>

        </div>

      </form>

    </div>

  </emp-ng-card>

</emp-ng-modal-window>
