<form [formGroup]="form" empNgFormKeyDownEnter autocomplete="off" class="form-section"
  [class.text-white]="isRequiredAction">

  <div fxLayout="column" fxLayoutGap="0.5rem" fxLayoutGap.lt-md="0.5rem">

    <div fxFlex>
      <label for="userID">Usuario:</label>
      <input type="text" id="userID" name="userID" autocomplete="off" class="text-box"
        formControlName="userID"
        [class.invalid-control]="formHelper.isControlInvalid(form.controls.userID)">
    </div>

    <div fxFlex>
      <label for="currentPassword">Contraseña actual:</label>
      <input [type]="showPassword ? 'text' : 'password'"
        id="current-password" name="current-password" autocomplete="current-password" class="text-box"
        formControlName="currentPassword"
        [class.invalid-control]="formHelper.isControlInvalid(form.controls.currentPassword)">
    </div>

    <br>

    <mat-divider class="horizontal-slim" [class.white]="isRequiredAction">

    </mat-divider>

    <br>

    <div fxFlex>
      <label for="new-password">Nueva contraseña:</label>
      <input [type]="showPassword ? 'text' : 'password'"
        id="new-password" name="newPassword" autocomplete="new-password" class="text-box"
        formControlName="newPassword"
        [class.invalid-control]="formHelper.isControlInvalid(form.controls.newPassword)">
    </div>

    <div fxFlex>
      <label for="confirmNewPassword">
        Confirmar nueva contraseña:
        <span class="warning-text" *ngIf="form.errors?.matchOther && !isRequiredAction">
          (Las contraseñas no coinciden)
        </span>
      </label>
      <input [type]="showPassword ? 'text' : 'password'"
        id="confirmNewPassword" name="confirmNewPassword" autocomplete="new-password" class="text-box"
        formControlName="confirmNewPassword"
        [class.invalid-control]="formHelper.isControlInvalid(form.controls.confirmNewPassword) ||
                                 form.errors?.matchOther">
    </div>


    <ng-container *ngIf="!isRequiredAction">

      <ng-container *ngTemplateOutlet="authenticationError">

      </ng-container>

      <mat-divider class="horizontal-slim">

      </mat-divider>

    </ng-container>


    <br *ngIf="isRequiredAction">


    <div fxLayout="row">

      <div fxFlex fxLayoutAlign="start center">

        <mat-checkbox [checked]="showPassword"
          (click)="$event.stopPropagation"
          (change)="showPassword = !showPassword"
          [color]="isRequiredAction ? 'warn' : 'primary'">
          Mostrar contraseñas
        </mat-checkbox>

      </div>

      <div fxFlex fxLayoutAlign="end center">

        <button type="submit"
          [class.btn]="!formHelper.isFormReady(form)"
          [class.btn-action]="formHelper.isFormReady(form) && !isRequiredAction"
          [class.btn-warning]="formHelper.isFormReady(form) && isRequiredAction"
          [class.spinner]="submitted"
          (click)="onUpdateCredentialsClicked()">
          Cambiar contraseña
        </button>

      </div>

    </div>

    <ng-container *ngIf="isRequiredAction">

      <br>

      <ng-container *ngTemplateOutlet="authenticationError">

      </ng-container>

    </ng-container>

  </div>

</form>


<ng-template #authenticationError>

  <div [ngClass]="isRequiredAction ? 'authentication-error' : null">

    <ng-container *ngIf="form.controls.newPassword.errors ||
                         (isRequiredAction && form.errors?.matchOther)">

      <div [ngClass]="isRequiredAction ? 'inline-warning' : 'inline-info'"
        [innerHTML]="newPasswordErrorsText">

      </div>

    </ng-container>

  </div>

</ng-template>
