<div class="outer">

  <div class="authentication-container">

      <div class="authentication-center">

        <div class="authentication-section-logo">
          <img class="logo" src="assets/img/customer/vertical.logo.png" [alt]="appLayoutData.organization"/>
        </div>


        <div class="authentication-section-instruction">
          <div class="bold-text">Cambio de contraseña requerido</div>
          <div class="hint">Ingrese la información requerida para actualizar la contraseña.</div>
        </div>


        <div class="authentication-section-form">

          <emp-ng-change-password-form
            [isRequiredAction]="true"
            [submitted]="submitted"
            (changePasswordFormEvent)="onChangePasswordFormEvent($event)">

          </emp-ng-change-password-form>

        </div>

      </div>

  </div>

</div>
