<emp-ng-card
  [title]='title'
  hint='Se importarán las pólizas a SICOFIN'
  (cardClose)="onClose()">

  <div class="card-body-padding">

    <form [formGroup]="form" [empNgSpinnerHost]="spinner" empNgFormKeyDownEnter
      autocomplete="off" class="form-section">

      <emp-ng-spinner #spinner [visible]="isLoading">

      </emp-ng-spinner>

      <div class="fx-column-container-fill fx-gap-half">

        <div class="fx-row-container sm-fx-column-container">

          <div class="fx-item-one">
            <label>Tipo de importación:</label>
            <mat-radio-group [(ngModel)]="selectedImportType" [ngModelOptions]="{standalone: true}"
              (change)="onImportTypeChange()">

              <ng-container *empNgHasPermission="permissions.FEATURE_POLIZAS_IMPORTACION_DESDE_ARCHIVOS">

                <mat-radio-button [value]="importTypes.excelFile">
                  Archivo Excel
                </mat-radio-button>

                <mat-radio-button [value]="importTypes.txtFile">
                  Archivo de texto plano
                </mat-radio-button>

              </ng-container>

              <mat-radio-button [value]="importTypes.dataBase"
                *empNgHasPermission="permissions.FEATURE_POLIZAS_IMPORTACION_SISTEMAS_TRANSVERSALES">
                De sistemas transversales
              </mat-radio-button>

            </mat-radio-group>
          </div>

        </div>

        <ng-container *ngIf="isExcelImport || isTxtImport">

          <div class="section-title"> Archivo a importar </div>

          <div class="fx-row-container sm-fx-column-container">

            <div class="fx-item-one">
              <label>Archivo:</label>
              <emp-ng-file-control
                [fileControl]="file"
                [showError]="showFileError"
                [config]="{filesTypes: [selectedFileType], autoUpload: true,
                           placeholder: 'Elegir o arrastrar el archivo ' + ( isExcelImport ? 'Excel.' : 'de texto.')}"
                (fileControlChange)="onFileControlChange($event)">

              </emp-ng-file-control>
            </div>

          </div>

          <div class="section-title"> Información sobre las pólizas y parámetros de importación </div>

          <div class="fx-row-container sm-fx-column-container fx-gap-half">

            <div #column1 class="fx-column-container fx-gap-half fx-item">

              <div class="fx-row-container sm-fx-column-container">

                <div class="fx-item-size sm-fx-item" style="--size: 363px">
                  <label>Tipo de póliza:</label>
                  <emp-ng-select
                    formControlName="voucherTypeUID"
                    [items]="voucherTypesList"
                    [loading]="isLoadingDataLists"
                    [showError]="formHelper.isControlInvalid(form.controls.voucherTypeUID)">
                  </emp-ng-select>
                </div>

              </div>

              <!-- <div class="fx-row-container sm-fx-column-container">

                <div class="fx-item-none fx-items-center">

                  <mat-checkbox empNgStopPropagation
                    formControlName="allowUnbalancedVouchers">
                    Permitir pólizas con diferencias entre cargos/abonos.
                  </mat-checkbox>

                </div>

              </div>

              <div class="fx-row-container sm-fx-column-container">

                <div class="fx-item-none fx-items-center">

                  <mat-checkbox empNgStopPropagation
                    formControlName="generateSubledgerAccount">
                    Generar cuentas auxiliares que no existen.
                  </mat-checkbox>

                </div>

              </div>

              <div class="fx-row-container sm-fx-column-container">

                <div class="fx-item-none fx-items-center">

                  <mat-checkbox empNgStopPropagation
                    formControlName="canEditVoucherEntries">
                    Habilitar edición de movimientos.
                  </mat-checkbox>

                </div>

              </div> -->

            </div>

            <div #column2 class="fx-column-container fx-gap-half fx-item-none sm-fx-item">

              <div #accountsChartField class="fx-row-container sm-fx-column-container">

                <div class="fx-item-size sm-fx-item" style="--size: 265px">
                  <label>Tipo de contabilidad:</label>
                  <emp-ng-select
                    formControlName="accountsChartUID"
                    [items]="accountsChartMasterDataList"
                    [loading]="isLoadingDataLists"
                    [showError]="formHelper.isControlInvalid(form.controls.accountsChartUID)"
                    (changes)="onAccountChartChanges($event)">
                  </emp-ng-select>
                </div>

              </div>

              <div #accountingDateField *ngIf="isExcelImport"
                class="fx-row-container sm-fx-column-container">

                <div *ngIf="hasValueDate"
                  class="fx-item-none">
                  <label>Fecha valor:</label>
                  <emp-ng-datepicker
                    formControlName="accountingDate"
                    [showError]="formHelper.isControlInvalid(form.controls.accountingDate)">

                  </emp-ng-datepicker>
                </div>

                <div *ngIf="!hasValueDate"
                  class="fx-item-size sm-fx-item" style="--size: 126px">
                  <label>Fecha de afectación:</label>
                  <emp-ng-select
                    formControlName="accountingDate"
                    [items]="accountingDatesList"
                    [loading]="isLoadingAccountingDates"
                    [showError]="formHelper.isControlInvalid(form.controls.accountingDate)">

                  </emp-ng-select>
                </div>

                <div class="fx-item-none fx-items-end"
                  [style.paddingBottom.px]="2" [style.paddingRight.px]="8">
                  <mat-checkbox empNgStopPropagation
                    [(ngModel)]="hasValueDate" [ngModelOptions]="{standalone: true}"
                    (change)="onHasValueDateChange()">
                    Tiene fecha valor
                  </mat-checkbox>
                </div>

              </div>

            </div>

          </div>

        </ng-container>

        <ng-container *ngIf="executedDryRun || isDataBaseImport">

          <div *ngIf="isExcelImport || isTxtImport"
            class="section-title">
            Información del archivo a importar
          </div>

          <div *ngIf="isDataBaseImport"
            class="fx-row-container section-title">

            <ng-container *ngIf="importVouchersResult.isRunning">
              <span>Información de pólizas en proceso de importación</span>
              <span *ngIf="executedDryRun"
                class="tag tag-success tag-small"
                [style.marginBottom.px]="1">
                En ejecución
              </span>
            </ng-container>

            <ng-container *ngIf="!importVouchersResult.isRunning">
              <span>Información a importar</span>
              <span *ngIf="executedDryRun"
                class="tag tag-error tag-small"
                [style.marginBottom.px]="1">
                Detenido
              </span>
            </ng-container>

          </div>

          <div class="fx-row-container"
            [style.maxHeight]="isDataBaseImport ? '232px' : '200px'"
            [style.minHeight]="isDataBaseImport ? '232px' : 'auto'">

            <emp-fa-vouchers-importer-details-table class="fx-item-one"
              [importVouchersResult]="importVouchersResult"
              [selectionType]="importerDetailsSelectionType"
              [commandExecuted]="executedDryRun"
              [descriptionColumnText]="descriptionColumnText"
              [showItemsStatus]="!isDataBaseImport || importVouchersResult.isRunning"
              [showProcessedCount]="isDataBaseImport && importVouchersResult.isRunning"
              (vouchersImporterDetailsTableEvent)="onVouchersImporterDetailsTableEvent($event)">

            </emp-fa-vouchers-importer-details-table>

          </div>

        </ng-container>

        <mat-divider class="horizontal-slim"></mat-divider>

        <div class="fx-row-container">

          <div class="fx-item fx-end fx-items-center">

            <button *ngIf="isExcelImport || isTxtImport"
              [class.btn]="executedDryRun || !isFileFormValid"
              [class.btn-action]="!executedDryRun && isFileFormValid"
              (click)="onSubmitDryRunImportVouchers()">
              Analizar archivo
            </button>

            <button *ngIf="isDataBaseImport"
              class="btn-action"
              (click)="onGetStatusImportVouchersFromDatabase()">
              Actualizar estado
            </button>

            <button
              [class.btn]="!isReadyForSubmit"
              [class.btn-action]="isReadyForSubmit"
              (click)="onSubmitImportVouchers()">
              Importar pólizas
            </button>

          </div>

        </div>

      </div>

    </form>

  </div>

</emp-ng-card>
