<form #form="ngForm" empNgFormKeyDownEnter autocomplete="off" class="form-section form-container"
  style="margin: 0; padding: 0;">

  <div class="fx-column-container">

      <div class="fx-row-container">

        <div class="fx-item-size" style="--size: 124px">

          <label>Fecha del TC:</label>

          <emp-ng-datepicker name="exchangeRateDate" required
            [(ngModel)]="exchangeRateDate"
            [showError]="!exchangeRateDate"
            (valueChange)="emitExchangeRateDate($event)">

          </emp-ng-datepicker>


        </div>

        <div class="fx-item-size" style="--size: calc((100% - 124px) / 2)">

          <label>Tipo de cambio:</label>

          <emp-ng-select name="exchangeRateTypeUID" required
            [(ngModel)]="exchangeRateTypeUID"
            [items]="exchangeRateTypeList"
            [loading]="isLoading"
            [showError]="!exchangeRateTypeUID"
            [placeholder]="exchangeRateTypePlaceholder"
            (changes)="emitExchangeRateTypeUID(); onExchangeRateTypeChange()"
            (clear)="onExchangeRateTypeClear()">
          </emp-ng-select>

        </div>

        <div class="fx-item-size" style="--size: calc((100% - 124px) / 2)">

          <label>Valorizar a:</label>

          <emp-ng-select name="valuateToCurrrencyUID" required
            [(ngModel)]="valuateToCurrrencyUID"
            [items]="toCurrencyList"
            [showError]="!valuateToCurrrencyUID"
            [placeholder]="exchangeRateTypeUID ? 'Seleccionar' :  'Seleccione el tipo de cambio'"
            (changes)="emitValuateToCurrrencyUID()">
          </emp-ng-select>

        </div>

      </div>

      <div class="fx-row-container" *ngIf="showConsolidateBalancesToTargetCurrency">

        <div class="fx-item-size sm-hide" style="--size: 124px">

        </div>

        <div class="fx-item-size fx-items-center" style="--size: calc(100% - 124px)">

          <mat-checkbox name="consolidateBalancesToTargetCurrency"
            [(ngModel)]="consolidateBalancesToTargetCurrency"
            (click)="$event.stopPropagation"
            (change)="emitConsolidateBalancesToTargetCurrency()">
            Consolidar saldos en la moneda del tipo de cambio
          </mat-checkbox>

        </div>

      </div>

  </div>

</form>
