<div class="card card-border">

  <div class="card-header card-header-flat">

    <div class="card-title">
      Catálogo de cuentas

      <div class="card-hint" empNgProgressText
        loadingText="Cargando cuentas"
        [finalText]="cardHint"
        [isLoading]="isLoading">
      </div>

    </div>

  </div>

  <div class="card-body" [empNgSpinnerHost]="spinner">

    <div fxLayout="column" fxFlexFill>

      <emp-ng-spinner #spinner [visible]="isLoading">

      </emp-ng-spinner>

      <emp-fa-accounts-chart-filter fxFlex="none"
        [(showFilters)]="showFilters"
        (accountsChartFilterEvent)="onAccountsChartFilterEvent($event)">

      </emp-fa-accounts-chart-filter>

      <emp-fa-accounts-chart-list fxFlex
        [accountsChart]="accountsChart"
        (accountsChartListEvent)="onAccountsChartListEvent($event)">

      </emp-fa-accounts-chart-list>

    </div>

  </div>

</div>

<emp-fa-export-report-modal *ngIf="displayExportModal"
  title="Exportar catálogo de cuentas"
  [fileUrl]="excelFileUrl"
  (exportReportModalEvent)="onExportReportModalEvent($event)">

</emp-fa-export-report-modal>
