<form [formGroup]="form" [empNgSpinnerHost]="spinner" empNgFormKeyDownEnter
  autocomplete="off" class="form-section">

  <emp-ng-spinner #spinner [visible]="isLoading"></emp-ng-spinner>

  <div class="fx-column-container fx-gap-half">

  <div class="section-title"> Información de la agrupación </div>

    <div class="fx-row-container">

        <div class="fx-item-third">
          <label>Catálogo de cuentas:</label>
          <emp-ng-select
            formControlName="accountsChartUID"
            [items]="accountsChartMasterDataList"
            [showError]="formHelper.isControlInvalid(form.controls.accountsChartUID)"
            (changes)="onAccountsChartChanged($event)">
          </emp-ng-select>
        </div>

        <div class="fx-item-two-third">
          <label>Agrupación:</label>
          <emp-ng-select
            formControlName="groupUID"
            [items]="filteredGroupsList"
            [showError]="formHelper.isControlInvalid(form.controls.groupUID)"
            [loading]="isLoadingGroups"
            [placeholder]="!!form.controls.accountsChartUID.value ? 'Seleccionar' : 'Seleccionar el catálogo de cuentas'">
          </emp-ng-select>
        </div>

    </div>

    <div class="fx-row-container">

      <div class="fx-item-third">
        <label>Posición:</label>
        <emp-ng-select
          formControlName="positioningRule"
          [items]="positioningRuleList"
          [showError]="formHelper.isControlInvalid(form.controls.positioningRule)"
          (changes)="onPositioningRuleChanged()">
        </emp-ng-select>
      </div>

      <div *ngIf="displayPositioningOffsetConcept"
        class="fx-item-two-third fx-items-end">
        <emp-ng-select [style.width.%]="100"
          formControlName="positioningOffsetConceptUID"
          [items]="financialConceptsList"
          [loading]="isLoadingFinancialConcepts"
          [config]="{virtualScroll: true, searchableFields: ['code', 'name']}"
          [showError]="formHelper.isControlInvalid(form.controls.positioningOffsetConceptUID)"
          [placeholder]="!!form.controls.groupUID.value ? 'Seleccionar' : 'Seleccionar la agrupación'"
          bindLabel="code">
          <ng-template #labelTemplate let-item="item">
            ({{item.code}}) {{item.name}}
          </ng-template>
          <ng-template #optionTemplate let-item="item">
            ({{item.code}}) {{item.name}}
          </ng-template>
        </emp-ng-select>
      </div>

      <div *ngIf="displayPosition"
        class="fx-item-sixth fx-items-end">

        <input type="text" class="text-box text-align-right" empNgInteger
          formControlName="position">

      </div>

    </div>

    <div class="section-title"> Información del concepto </div>

    <div class="fx-row-container">

      <div class="fx-item-third">
        <label>Clave:</label>
        <input type="text" class="text-box"
          formControlName="code"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.code)">
      </div>

      <div class="fx-item">
        <label>Identificador de variable:</label>
        <input type="text" class="text-box" empNgInputKeys
          formControlName="variableID"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.variableID)">
      </div>

      <div class="fx-item-none">
        <label>Fecha inicial:</label>
        <emp-ng-datepicker
          formControlName="startDate"
          [showError]="formHelper.isControlInvalid(form.controls.startDate)">
        </emp-ng-datepicker>
      </div>

      <div class="fx-item-none">
        <label>Fecha final:</label>
        <emp-ng-datepicker
          formControlName="endDate"
          [showError]="formHelper.isControlInvalid(form.controls.endDate)">
        </emp-ng-datepicker>
      </div>

    </div>

    <div class="fx-row-container">

      <div class="fx-item">
        <label>Concepto:</label>
        <input type="text" class="text-box"
          formControlName="name"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.name)">
      </div>

    </div>

    <div class="fx-row-container">

      <div class="fx-item">
        <label>Script de cálculo:</label>
        <textarea class="text-area" empNgTextareaAutoresize [maxHeightTextarea]="null" rows="1"
          formControlName="calculationScript"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.calculationScript)">
        </textarea>
      </div>

    </div>

  </div>

  <ng-container #rowFooter *ngIf="canEdit">

    <mat-divider class="horizontal">

    </mat-divider>

    <div class="fx-row-container">

      <ng-container *ngIf="!isSaved">

        <div class="fx-item fx-end fx-items-center">

          <button (click)="onSubmitForm()"
            [class.btn]="!formHelper.isFormReady(form)"
            [class.btn-action]="formHelper.isFormReady(form)">
            Agregar
          </button>

        </div>

      </ng-container>

      <ng-container *ngIf="isSaved">

        <div *ngIf="editionMode"
          class="fx-item-none fx-items-center">

          <button type="button" class="btn-warning"
            (click)="onRemoveButtonClicked()">
            Eliminar
          </button>

        </div>

        <div class="fx-item fx-end fx-items-center">

          <ng-container *ngIf="editionMode">

            <button
              [class.btn]="!formHelper.isFormReady(form)"
              [class.btn-action]="formHelper.isFormReady(form)"
              (click)="onSubmitForm()">
              Guardar
            </button>

            <button
              class="btn-base uppercase"
              (click)="enableEditor(false)">
              Descartar Cambios
            </button>

          </ng-container>

          <ng-container *ngIf="!editionMode">

            <button
              class="btn-action"
              (click)="enableEditor(true)">
              Editar
            </button>

          </ng-container>

        </div>

      </ng-container>

    </div>

  </ng-container>

</form>
