<form [formGroup]="form" [empNgSpinnerHost]="spinner" empNgFormKeyDownEnter
  autocomplete="off" class="form-section">

  <emp-ng-spinner #spinner [visible]="isLoading"></emp-ng-spinner>

  <div fxLayout="column" fxLayoutGap="0.75rem" fxLayoutGap.lt-md="0.75rem">

  <div class="section-title"> Información de la agrupación </div>

    <div fxLayout="row">

        <div [fxFlex]="100/3">
          <label>Catálogo de cuentas:</label>
          <emp-ng-select
            formControlName="accountsChartUID"
            [items]="accountsChartMasterDataList"
            [showError]="formHelper.isControlInvalid(form.controls.accountsChartUID)"
            (changes)="onAccountsChartChanged($event)">
          </emp-ng-select>
        </div>

        <div [fxFlex]="200/3">
          <label>Agrupación:</label>
          <emp-ng-select
            formControlName="groupUID"
            [items]="filteredGroupsList"
            [showError]="formHelper.isControlInvalid(form.controls.groupUID)"
            [loading]="isLoadingGroups"
            [placeholder]="!!form.controls.accountsChartUID.value ? 'Seleccionar' : 'Seleccionar el catálogo de cuentas'">
          </emp-ng-select>
        </div>

    </div>

    <div fxLayout="row">

      <div [fxFlex]="100/3">
        <label>Posición:</label>
        <emp-ng-select
          formControlName="positioningRule"
          [items]="positioningRuleList"
          [showError]="formHelper.isControlInvalid(form.controls.positioningRule)"
          (changes)="onPositioningRuleChanged()">
        </emp-ng-select>
      </div>

      <div [fxFlex]="200/3" fxLayoutAlign="start end" *ngIf="displayPositioningOffsetConcept">
        <emp-ng-select [fxFlex]="100"
          formControlName="positioningOffsetConceptUID"
          [items]="financialConceptsList"
          [loading]="isLoadingFinancialConcepts"
          [config]="{virtualScroll: true, searchableFields: ['code', 'name']}"
          [showError]="formHelper.isControlInvalid(form.controls.positioningOffsetConceptUID)"
          [placeholder]="!!form.controls.groupUID.value ? 'Seleccionar' : 'Seleccionar la agrupación'"
          bindLabel="code">
          <ng-template #labelTemplate let-item="item">
            ({{item.code}}) {{item.name}}
          </ng-template>
          <ng-template #optionTemplate let-item="item">
            ({{item.code}}) {{item.name}}
          </ng-template>
        </emp-ng-select>
      </div>

      <div [fxFlex]="100/6" fxLayoutAlign="start end" *ngIf="displayPosition">

        <input type="text" class="text-box text-align-right" empNgInteger
          formControlName="position">

      </div>

    </div>

    <div class="section-title"> Información del concepto </div>

    <div fxLayout="row">

      <div [fxFlex]="100/3">
        <label>Clave:</label>
        <input type="text" class="text-box"
          formControlName="code"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.code)">
      </div>

      <div fxFlex>
        <label>Identificador de variable:</label>
        <input type="text" class="text-box" empNgInputKeys
          formControlName="variableID"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.variableID)">
      </div>

      <div fxFlex="none">
        <label>Fecha inicial:</label>
        <emp-ng-datepicker
          formControlName="startDate"
          [showError]="formHelper.isControlInvalid(form.controls.startDate)">
        </emp-ng-datepicker>
      </div>

      <div fxFlex="none">
        <label>Fecha final:</label>
        <emp-ng-datepicker
          formControlName="endDate"
          [showError]="formHelper.isControlInvalid(form.controls.endDate)">
        </emp-ng-datepicker>
      </div>

    </div>

    <div fxLayout="row">

      <div [fxFlex]="100">
        <label>Concepto:</label>
        <input type="text" class="text-box"
          formControlName="name"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.name)">
      </div>

    </div>

    <div fxLayout="row">

      <div [fxFlex]="100">
        <label>Script de cálculo:</label>
        <textarea class="text-area" empNgTextareaAutoresize [maxHeightTextarea]="null" rows="1"
          formControlName="calculationScript"
          [class.invalid-control]="formHelper.isControlInvalid(form.controls.calculationScript)">
        </textarea>
      </div>

    </div>

  </div>

  <ng-container #rowFooter *ngIf="canEdit">

    <mat-divider class="horizontal"></mat-divider>

    <div fxLayout="row">

      <ng-container *ngIf="!isSaved">

        <div fxFlex fxLayoutAlign="end center">

          <button (click)="onSubmitForm()"
            [class.btn]="!formHelper.isFormReady(form)"
            [class.btn-action]="formHelper.isFormReady(form)">
            Agregar
          </button>

        </div>

      </ng-container>

      <ng-container *ngIf="isSaved">

        <div fxFlex fxLayoutAlign="start center" *ngIf="editionMode">

          <button type="button" class="btn-warning"
            (click)="onRemoveButtonClicked()">
            Eliminar
          </button>

        </div>

        <div fxFlex fxLayoutAlign="end center">

          <ng-container *ngIf="editionMode">

            <button (click)="onSubmitForm()"
              [class.btn]="!formHelper.isFormReady(form)"
              [class.btn-action]="formHelper.isFormReady(form)">
              Guardar
            </button>

            <button (click)="enableEditor(false)"
              class="btn-base uppercase">
              Descartar Cambios
            </button>

          </ng-container>

          <ng-container *ngIf="!editionMode">

            <button
              class="btn-action"
              (click)="enableEditor(true)">
              Editar
            </button>

          </ng-container>

        </div>

      </ng-container>

    </div>

  </ng-container>

</form>
