<form #form="ngForm" autocomplete="off" class="form-section form-container"
  [style.padding.px]="0" [style.margin.px]="0" (keydown.enter)="$event.preventDefault()">

  <div fxLayout="column" fxLayoutGap="0.5rem" fxLayoutGap.lt-md="0.5rem">

      <div fxLayout="row" fxLayout.lt-sm="column">

        <div fxFlex="25">

          <label>Tipo de consulta:</label>

          <emp-ng-select name="trialBalanceType" required
            [config]="{selectFirst: true}"
            [(ngModel)]="balanceCommand.trialBalanceType"
            [items]="balanceTypeList"
            [showError]="!balanceCommand.trialBalanceType"
            (changes)="onBalanceTypeChange()">
          </emp-ng-select>

        </div>

        <div fxFlex="25" *ngIf="displayFromAccount">

          <label>Cuenta:</label>

          <input type="text" class="text-box" name="fromAccount" required
            [(ngModel)]="balanceCommand.fromAccount"
            [class.invalid-control]="!balanceCommand.fromAccount"
            (keyup.escape)="balanceCommand.fromAccount = ''">

        </div>

        <div fxFlex="25" *ngIf="displaySubledgerAccount">

          <label>Auxiliar:</label>

          <input type="text" class="text-box" name="subledgerAccount" required
            [(ngModel)]="balanceCommand.subledgerAccount"
            [class.invalid-control]="!balanceCommand.subledgerAccount"
            (keyup.escape)="balanceCommand.subledgerAccount = ''">

        </div>

        <div fxFlex></div>

        <div fxFlex="none">

          <label>Fecha:</label>

          <emp-ng-datepicker name="date" required
            [(ngModel)]="balanceCommand.initialPeriod.fromDate"
            [showError]="!balanceCommand.initialPeriod.fromDate">

          </emp-ng-datepicker>

        </div>

        <div fxFlex="25">

          <label>Grupo de contabilidades:</label>

          <emp-ng-select name="accountsChartUID" required
            [config]="{selectFirst: true}"
            [(ngModel)]="balanceCommand.accountsChartUID"
            [items]="accountsChartMasterDataList"
            [loading]="isLoading"
            [showError]="!balanceCommand.accountsChartUID">
          </emp-ng-select>

        </div>


        <div fxFlex="28px" fxFlex.lt-md="none" [style.paddingTop.px]="13">

          <button [class.btn-icon-action]="form.valid"
            [class.btn-icon]="form.invalid"
            [disabled]="form.invalid"
            (click)="onBuildBalanceClicked()"
            title="Generar balanza">

            <mat-icon>search</mat-icon>

          </button>

        </div>

      </div>

      <div fxLayout="row" *ngIf="displayWithSubledgerAccount">

        <div fxFlex="25">

          <mat-checkbox name="withSubledgerAccount"
            [(ngModel)]="balanceCommand.withSubledgerAccount"
            (click)="$event.stopPropagation">
            Con Auxiliares
          </mat-checkbox>

        </div>

      </div>

  </div>

</form>

<mat-divider [style.margin]="'8px -8px'">

</mat-divider>
