<form #form="ngForm" empNgFormKeyDownEnter autocomplete="off" class="form-section form-container"
  [style.padding.px]="0" [style.margin.px]="0">

  <div class="fx-column-container fx-gap-half">

      <div class="fx-row-container sm-fx-column-container">

        <div class="fx-item-quarter sm-fx-item">

          <label>Catálogo de cuentas:</label>

          <emp-ng-select name="accountsChartUID" required
            [(ngModel)]="formData.accountsChartUID"
            [items]="accountsChartMasterDataList"
            [loading]="isLoadingAccountsCharts"
            [showError]="!formData.accountsChartUID"
            (changes)="onAccountChartChanges()">
          </emp-ng-select>

        </div>

        <div class="fx-item-quarter sm-fx-item">

          <label>Tipo de consulta:</label>

          <emp-ng-select name="trialBalanceType" required
            [(ngModel)]="formData.trialBalanceType"
            [items]="reportTypeList"
            [loading]="isLoadingReportTypes"
            [showError]="!formData.trialBalanceType"
            (changes)="onBalanceTypeChange()">
          </emp-ng-select>

        </div>

        <div class="fx-item sm-fx-item">

          <ng-container *ngIf="displayAccounts">

            <label>Cuentas:</label>

            <emp-ng-input-tags name="accounts" required
              [(ngModel)]="formData.accounts"
              [showError]="!formData.accounts || formData.accounts.length === 0">

            </emp-ng-input-tags>

          </ng-container>

          <ng-container *ngIf="displaySubledgerAccounts">

            <label>Auxiliares:</label>

            <emp-ng-input-tags name="subledgerAccounts" required
              [(ngModel)]="formData.subledgerAccounts"
              [showError]="!formData.subledgerAccounts || formData.subledgerAccounts.length === 0">

            </emp-ng-input-tags>

          </ng-container>

        </div>

        <div class="fx-item-none">

          <label>Fecha:</label>

          <emp-ng-datepicker name="date" required
            [(ngModel)]="formData.toDate"
            [showError]="!formData.toDate">

          </emp-ng-datepicker>

        </div>

        <div class="fx-item-none" [style.marginTop.px]="12">

          <button [class.btn-icon-action]="form.valid"
            [class.btn-icon]="form.invalid"
            [disabled]="form.invalid"
            (click)="onBuildBalanceClicked()"
            title="Generar balanza">

            <mat-icon>search</mat-icon>

          </button>

        </div>

      </div>

      <div class="fx-row-container sm-fx-column-container">

        <div class="fx-item-half sm-fx-item">

          <label>Contabilidad:</label>

          <emp-ng-select name="ledger"
            [config]="{clearable: true, multiple: true}"
            [(ngModel)]="formData.ledgers"
            [items]="accountChartSelected?.ledgers"
            bindLabel="fullName"
            [placeholder]="accountChartSelected ? 'Todas las contabilidades para el grupo seleccionado' : 'Todas'">
          </emp-ng-select>

        </div>

        <div class="fx-item fx-space-between sm-fx-item fx-row-container" [style.paddingTop.px]="12">

          <mat-checkbox name="withSubledgerAccount" *ngIf="displayWithSubledgerAccount"
            [(ngModel)]="formData.withSubledgerAccount"
            (click)="$event.stopPropagation">
            Con Auxiliares
          </mat-checkbox>

          <mat-checkbox name="withAllAccounts"
            [(ngModel)]="formData.withAllAccounts"
            (click)="$event.stopPropagation">
            Incluir cuentas sin saldo
          </mat-checkbox>

        </div>

        <div #clearFilterSection class="fx-item-none fx-row-container" [style.paddingTop.px]="12">

          <mat-divider vertical="true" class="vertical-inline">

          </mat-divider>

          <div class="fx-item-none fx-space-between">

            <button class="btn-base"
              [style.width.px]="100"
              (click)="onClearFilters()" >
              Limpiar <mat-icon>filter_list</mat-icon>
            </button>

          </div>

        </div>

      </div>

  </div>

</form>

<mat-divider [style.margin]="'8px -8px'">

</mat-divider>
