<form #form="ngForm" empNgFormKeyDownEnter autocomplete="off" class="form-section form-container"
  [style.padding.px]="0" [style.margin.px]="0">

  <div fxLayout="column" fxLayoutGap="0.5rem" fxLayoutGap.lt-sm="0.5rem">

      <div fxLayout="row" fxLayout.lt-sm="column">

        <div fxFlex="25">

          <label>Catálogo de cuentas:</label>

          <emp-ng-select name="accountsChartUID" required
            [(ngModel)]="formData.accountsChartUID"
            [items]="accountsChartMasterDataList"
            [loading]="isLoadingAccountsCharts"
            [showError]="!formData.accountsChartUID"
            (changes)="onAccountChartChanges()">
          </emp-ng-select>

        </div>

        <div fxFlex="25">

          <label>Tipo de consulta:</label>

          <emp-ng-select name="trialBalanceType" required
            [(ngModel)]="formData.trialBalanceType"
            [items]="reportTypeList"
            [loading]="isLoadingReportTypes"
            [showError]="!formData.trialBalanceType"
            (changes)="onBalanceTypeChange()">
          </emp-ng-select>

        </div>

        <div fxFlex>

          <ng-container *ngIf="displayFromAccount">

            <label>Cuenta:</label>

            <input type="text" class="text-box" name="fromAccount" required
              [(ngModel)]="formData.fromAccount"
              [class.invalid-control]="!formData.fromAccount"
              (keyup.escape)="formData.fromAccount = ''">

          </ng-container>

          <ng-container *ngIf="displaySubledgerAccount">

            <label>Auxiliar:</label>

            <input type="text" class="text-box" name="subledgerAccount" required
              [(ngModel)]="formData.subledgerAccount"
              [class.invalid-control]="!formData.subledgerAccount"
              (keyup.escape)="formData.subledgerAccount = ''">

          </ng-container>

        </div>

        <div fxFlex="none">

          <label>Fecha:</label>

          <emp-ng-datepicker name="date" required
            [(ngModel)]="formData.toDate"
            [showError]="!formData.toDate"
            (valueChange)="onDatepickerInitialPeriodToDateChange($event)">

          </emp-ng-datepicker>

        </div>

        <div fxFlex="28px" fxFlex.lt-sm="none" [style.paddingTop.px]="13">

          <button [class.btn-icon-action]="form.valid"
            [class.btn-icon]="form.invalid"
            [disabled]="form.invalid"
            (click)="onBuildBalanceClicked()"
            title="Generar balanza">

            <mat-icon>search</mat-icon>

          </button>

        </div>

      </div>

      <div fxLayout="row" fxLayout.lt-sm="column">

        <div fxFlex="50">

          <label>Contabilidad:</label>

          <emp-ng-select name="ledger"
            [config]="{clearable: true, multiple: true}"
            [(ngModel)]="formData.ledgers"
            [items]="accountChartSelected?.ledgers"
            bindLabel="fullName"
            [placeholder]="accountChartSelected ? 'Todas las contabilidades para el grupo seleccionado' : 'Todas'">
          </emp-ng-select>

        </div>

        <div fxFlex fxLayoutAlign="space-between center" [style.height.px]="28" [style.marginTop.px]="12">

          <mat-checkbox name="withSubledgerAccount" *ngIf="displayWithSubledgerAccount"
            [(ngModel)]="formData.withSubledgerAccount"
            (click)="$event.stopPropagation">
            Con Auxiliares
          </mat-checkbox>

          <mat-checkbox name="withAllAccounts"
            [(ngModel)]="formData.withAllAccounts"
            (click)="$event.stopPropagation">
            Incluir cuentas sin saldo
          </mat-checkbox>

        </div>

        <div fxFlex="none" #clearFilterSection>

          <mat-divider vertical="true" class="vertical" [style.marginTop.px]="12">

          </mat-divider>

          <div fxFlex="none" fxFlex.lt-sm="none" fxLayoutAlign="space-around start" [style.marginTop.px]="12">

            <button class="btn-base" (click)="onClearFilters()" fxFlex="100px" [style.marginRight.px]="0">
              Limpiar <mat-icon>filter_list</mat-icon>
            </button>

          </div>

        </div>

      </div>

  </div>

</form>

<mat-divider [style.margin]="'8px -8px'">

</mat-divider>
