<div class="card card-border">

  <div class="card-header card-header-flat">

    <div class="card-title">
      {{ isQuickQuery ? 'Explorador de saldos' : 'Saldos y balanzas de comprobación' }}

      <div class="card-hint" empNgProgressText
        loadingText="Cargando"
        [finalText]="cardHint"
        [isLoading]="isLoading">
      </div>

    </div>

  </div>

  <div class="card-body" [style.padding]="isQuickQuery ? '8px' : '0'">

    <div class="fx-column-container-fill" [empNgSpinnerHost]="spinner">

      <emp-ng-spinner #spinner [visible]="isLoading" >

      </emp-ng-spinner>

      <emp-fa-trial-balance-filter *ngIf="!isQuickQuery"
        class="fx-item-none"
        [(showFilters)]="showFilters"
        (trialBalanceFilterEvent)="onFilterEvent($event)">

      </emp-fa-trial-balance-filter>

      <emp-fa-balance-quick-filter *ngIf="isQuickQuery"
        class="fx-item-none"
        [balancesQuery]="balancesQuery"
        (balanceQuickFilterEvent)="onFilterEvent($event)">

      </emp-fa-balance-quick-filter>

      <emp-ng-data-table class="fx-item"
        [dataTable]="data"
        [executed]="queryExecuted"
        [controlsAligned]="isQuickQuery"
        [selectedEntry]="selectedEntry"
        [canClickRow]="hasPermissionToAccountStatement"
        (dataTableEvent)="onDataTableEvent($event)">

      </emp-ng-data-table>

    </div>

  </div>

</div>


<emp-ng-export-report-modal *ngIf="displayExportModal"
  [title]="'Exportar ' + reportType.name.toLowerCase()"
  [fileUrl]="excelFileUrl"
  (exportReportModalEvent)="onExportReportModalEvent($event)">

</emp-ng-export-report-modal>
