<div class="card card-border">

  <div class="card-header card-header-flat">

    <div class="card-title">
      {{ isQuickQuery ? 'Explorador de saldos' : 'Saldos y balanzas de comprobación' }}

      <div class="card-hint" empNgProgressText
        loadingText="Cargando"
        [finalText]="cardHint"
        [isLoading]="isLoading">
      </div>

    </div>

  </div>

  <div class="card-body" [style.padding]="isQuickQuery ? '8px' : '0'">

    <div fxLayout="column" fxFlexFill [empNgSpinnerHost]="spinner">

      <emp-ng-spinner #spinner [visible]="isLoading" >

      </emp-ng-spinner>

      <emp-fa-trial-balance-filter fxFlex="none" *ngIf="!isQuickQuery"
        [(showFilters)]="showFilters"
        (trialBalanceFilterEvent)="onFilterEvent($event)">

      </emp-fa-trial-balance-filter>

      <emp-fa-balance-quick-filter fxFlex="none" *ngIf="isQuickQuery"
        [balancesQuery]="balancesQuery"
        (balanceQuickFilterEvent)="onFilterEvent($event)">

      </emp-fa-balance-quick-filter>

      <emp-fa-data-table fxFlex
        [dataTable]="data"
        [executed]="queryExecuted"
        [controlsAligned]="isQuickQuery"
        [selectedEntry]="selectedEntry"
        [canClickRow]="hasPermissionToAccountStatement"
        (dataTableEvent)="onDataTableEvent($event)">

      </emp-fa-data-table>

    </div>

  </div>

</div>


<emp-fa-export-report-modal *ngIf="displayExportModal"
  [title]="'Exportar ' + reportType.name.toLowerCase()"
  [fileUrl]="excelFileUrl"
  (exportReportModalEvent)="onExportReportModalEvent($event)">

</emp-fa-export-report-modal>
