<form #form="ngForm" empNgFormKeyDownEnter autocomplete="off" class="form-section form-container">

  <div fxLayout="column" fxLayoutGap="0.5rem" fxLayoutGap.lt-md="0.5rem">

    <ng-container #generalFieldsContainer>

      <div fxLayout="row" fxLayout.lt-sm="column">

        <div fxFlex="50">

          <label>Tipo de consulta:</label>

          <emp-ng-select name="trialBalanceType" required
            [config]="{selectFirst: true}"
            [(ngModel)]="trialBalanceQuery.trialBalanceType"
            [items]="trialBalanceTypeList"
            [showError]="!trialBalanceQuery.trialBalanceType"
            (changes)="onTrialBalanceTypeChange()">
          </emp-ng-select>

        </div>

        <div fxFlex="none" #periodSection>

          <div fxLayout="row" #initialPeriodSection>

            <div *ngIf="displayInitialPeriod" fxFlex="none">

              <label>Período inicial:</label>

              <emp-ng-date-range-picker name="initialPeriod"
                [(startDate)]="trialBalanceQuery.initialPeriod.fromDate"
                [(endDate)]="trialBalanceQuery.initialPeriod.toDate"
                [showError]="!trialBalanceQuery.initialPeriod.fromDate ||
                             !trialBalanceQuery.initialPeriod.toDate">

              </emp-ng-date-range-picker>

            </div>

            <div *ngIf="!displayInitialPeriod" fxFlex="none">

              <label>Fecha:</label>

              <emp-ng-datepicker name="date"
                [(ngModel)]="trialBalanceQuery.initialPeriod.toDate"
                [showError]="!trialBalanceQuery.initialPeriod.toDate"
                (valueChange)="onDatepickerInitialPeriodToDateChange($event)">

              </emp-ng-datepicker>

            </div>

          </div>

          <div fxLayout="row" #finalPeriodSection *ngIf="periodsRequired" [style.marginTop.rem]="0.25">

            <div fxFlex="none">

              <label>Período final:</label>

              <emp-ng-date-range-picker name="finalPeriod" #finalPeriodRangePicker
                [(startDate)]="trialBalanceQuery.finalPeriod.fromDate"
                [(endDate)]="trialBalanceQuery.finalPeriod.toDate"
                [showError]="!trialBalanceQuery.finalPeriod.fromDate ||
                             !trialBalanceQuery.finalPeriod.toDate">

              </emp-ng-date-range-picker>

            </div>

          </div>

        </div>

        <div fxFlex></div>

        <div fxFlex="none" #buttonsSection>

          <div fxLayout="row" #initialPeriodSection [style.paddingTop.px]="12" [style.paddingBottom.px]="2">

            <div fxFlex="36px" fxFlex.lt-md="none">

              <button [class.btn-icon-action]="trialBalanceFormFieldsValid && exchangeRateFormFieldsValid"
                [class.btn-icon]="!trialBalanceFormFieldsValid || !exchangeRateFormFieldsValid"
                [disabled]="!trialBalanceFormFieldsValid || !exchangeRateFormFieldsValid"
                (click)="onBuildTrialBalanceClicked()"
                title="Generar balanza">

                <mat-icon>search</mat-icon>

              </button>

            </div>

            <mat-divider vertical="true" class="vertical" [style.marginTop.px]="0">

            </mat-divider>

            <div fxFlex="117px" fxFlex.lt-md="none">

              <button class="btn-base" (click)="onShowFiltersClicked()" fxFlex="100%">
                {{showFilters ? 'Ocultar' :'Mostrar'}}
                <mat-icon [style.paddingLeft.px]="8">filter_list</mat-icon>
              </button>

            </div>

          </div>

        </div>

      </div>

      <div fxLayout="row" >

        <div fxFlex="50">

          <label>Catálogo de cuentas:</label>

          <emp-ng-select name="accountsChartUID" required
            [config]="{selectFirst: true}"
            [(ngModel)]="trialBalanceQuery.accountsChartUID"
            [items]="accountsChartMasterDataList"
            [loading]="isLoading"
            [showError]="!trialBalanceQuery.accountsChartUID"
            (changes)="onAccountChartChanges($event)">
          </emp-ng-select>

        </div>

        <div fxFlex="50">

          <label>Contabilidad:</label>

          <emp-ng-select name="ledger"
            [config]="{clearable: true, multiple: true}"
            [(ngModel)]="trialBalanceQuery.ledgers"
            [items]="accountChartSelected?.ledgers"
            bindLabel="fullName"
            [placeholder]="accountChartSelected ? 'Todas las contabilidades para el grupo seleccionado' : 'Todas'">
          </emp-ng-select>

        </div>

      </div>

      <div fxLayout="row" fxLayout.lt-sm="column" [style.marginBottom.px]="8">

        <div fxFlex="25">

          <mat-checkbox name="withSubledgerAccount" [disabled]="withSubledgerAccountDisabled"
            [(ngModel)]="trialBalanceQuery.withSubledgerAccount"
            [title]="withSubledgerAccountDisabled && !withSubledgerAccountRequired ? 'No aplica' : ''"
            (click)="$event.stopPropagation">
            Con Auxiliares
          </mat-checkbox>

        </div>

        <div fxFlex="25">

          <mat-checkbox name="showCascadeBalances" [disabled]="showCascadeBalancesDisabled"
            [(ngModel)]="trialBalanceQuery.showCascadeBalances"
            [title]="showCascadeBalancesDisabled && !showCascadeBalancesRequired ? 'No aplica' : ''"
            (click)="$event.stopPropagation">
            Imprimir en cascada
          </mat-checkbox>

        </div>

        <div fxFlex="25">

          <mat-checkbox name="useValuation" [disabled]="exchangeRatesDisabled"
            [(ngModel)]="trialBalanceQuery.useValuation"
            [title]="exchangeRatesDisabled && !exchangeRatesRequired ? 'No aplica' : ''"
            (click)="$event.stopPropagation"
            (change)="onUseValuationChange()">
            Valorizar saldos
          </mat-checkbox>

        </div>

        <div fxFlex="25">

          <mat-checkbox name="useDefaultValuation" *ngIf="trialBalanceQuery.useValuation"
            [disabled]="useDefaultValuationDisabled"
            [(ngModel)]="trialBalanceQuery.useDefaultValuation"
            (click)="$event.stopPropagation"
            (change)="onUseDefaultValuationChange($event.checked)">
            Valorización default
          </mat-checkbox>

        </div>
      </div>

    </ng-container>

    <div *ngIf="showFilters" [@expandCollapse]>

      <mat-divider [style.marginBottom.px]="8" [style.marginRight.px]="8">

      </mat-divider>

      <ng-container #trialBalanceFieldsContainer>

        <div fxLayout="row" [style.marginBottom.px]="8">

          <div fxFlex="25">

            <label>{{displayToAccount ? 'De la cuenta:' : 'Con la cuenta:'}}</label>

            <input type="text" class="text-box" name="fromAccount"
              [(ngModel)]="trialBalanceQuery.fromAccount"
              (keyup.escape)="trialBalanceQuery.fromAccount = ''">

          </div>

          <div fxFlex="25">

            <ng-container *ngIf="displaySubledgerAccount">

              <label>Con el auxiliar:</label>

              <input type="text" class="text-box" name="subledgerAccount"
                [(ngModel)]="trialBalanceQuery.subledgerAccount"
                (keyup.escape)="trialBalanceQuery.subledgerAccount = ''">

            </ng-container>

            <ng-container *ngIf="displayToAccount">

              <label>A la cuenta:</label>

              <input type="text" class="text-box" name="toAccount"
                [(ngModel)]="trialBalanceQuery.toAccount"
                (keyup.escape)="trialBalanceQuery.toAccount = ''">

            </ng-container>

          </div>


          <div fxFlex="50">

            <label>Incluir:</label>

            <emp-ng-select name="balancesType" required
              [(ngModel)]="trialBalanceQuery.balancesType"
              [items]="balancesTypeList"
              [showError]="!trialBalanceQuery.balancesType">
            </emp-ng-select>

          </div>

        </div>

        <div fxLayout="row" [style.marginBottom.px]="8"
          *ngIf="displayLevel || displayWithAverageBalance || displayWithSectorization">

          <div fxFlex="50" *ngIf="displayLevel">

            <label>Nivel:</label>

            <emp-ng-select name="level"
              [config]="{clearable: true}"
              [(ngModel)]="trialBalanceQuery.level"
              [items]="levelsList"
              placeholder="Todos">
            </emp-ng-select>

          </div>

          <div fxFlex="25" fxLayoutAlign="start center" *ngIf="displayWithAverageBalance"
            [style.height.px]="28" [style.marginTop.px]="displayLevel ? 12 : null">

            <mat-checkbox name="withAverageBalance"
              [(ngModel)]="trialBalanceQuery.withAverageBalance"
              (click)="$event.stopPropagation">
              Con saldo promedio
            </mat-checkbox>

          </div>

          <div fxFlex="25" fxLayoutAlign="start center" *ngIf="displayWithSectorization"
            [style.height.px]="28" [style.marginTop.px]="displayLevel ? 12 : null">

            <mat-checkbox name="withSectorization"
              [(ngModel)]="trialBalanceQuery.withSectorization"
              (click)="$event.stopPropagation">
              Con sectorización
            </mat-checkbox>

          </div>

        </div>

      </ng-container>


      <div #exchangeRateFieldsContainer [@expandCollapse]
        *ngIf="trialBalanceQuery.useValuation && !trialBalanceQuery.useDefaultValuation">

        <mat-divider class="horizontal"></mat-divider>

        <div fxLayout="row" fxLayout.lt-md="column" [style.marginBottom.px]="8">

          <div fxFlex="50" fxFlex.lt-md="none" [style.width.%]="100">

            <div class="section-title" *ngIf="periodsRequired"> Período inicial </div>

            <emp-fa-exchange-rate-selector #initialPeriodExchangeRates
              [exchangeRatesList]="trialBalanceQuery.initialPeriod.exchangeRatesList"
              [exchangeRateDate]="trialBalanceQuery.initialPeriod.exchangeRateDate"
              [(exchangeRateTypeUID)]="trialBalanceQuery.initialPeriod.exchangeRateTypeUID"
              [(valuateToCurrrencyUID)]="trialBalanceQuery.initialPeriod.valuateToCurrrencyUID"
              [(consolidateBalancesToTargetCurrency)]="trialBalanceQuery.consolidateBalancesToTargetCurrency"
              (exchangeRateDateChange)="onExchangeRateDateChanged(trialBalanceQuery.initialPeriod, $event)"
              (exchangeRateSelectorEvent)="onExchangeRateSelectorEvent($event, trialBalanceQuery.initialPeriod)">

            </emp-fa-exchange-rate-selector>

          </div>

          <div fxFlex="50" fxFlex.lt-md="none" [style.width.%]="100" *ngIf="periodsRequired">

            <div class="section-title"> Período final </div>

            <emp-fa-exchange-rate-selector #finalPeriodExchangeRates
              [exchangeRatesList]="trialBalanceQuery.finalPeriod.exchangeRatesList"
              [exchangeRateDate]="trialBalanceQuery.finalPeriod.exchangeRateDate"
              [(exchangeRateTypeUID)]="trialBalanceQuery.finalPeriod.exchangeRateTypeUID"
              [(valuateToCurrrencyUID)]="trialBalanceQuery.finalPeriod.valuateToCurrrencyUID"
              [showConsolidateBalancesToTargetCurrency]="false"
              (exchangeRateDateChange)="onExchangeRateDateChanged(trialBalanceQuery.finalPeriod, $event)"
              (exchangeRateSelectorEvent)="onExchangeRateSelectorEvent($event, trialBalanceQuery.finalPeriod)">

            </emp-fa-exchange-rate-selector>

          </div>

        </div>

      </div>


      <ng-container #clearFilterContainer>

        <mat-divider class="horizontal">

        </mat-divider>

        <div fxLayout="row" fxLayoutAlign="end end">

          <mat-divider vertical="true" class="vertical" [style.marginTop.px]="0" [style.marginBottom.px]="2">

          </mat-divider>

          <div fxFlex="117px" [style.paddingBottom.px]="2">

            <button class="btn-base" fxFlex="100%" (click)="onClearFilters()">
              Limpiar
              <mat-icon [style.paddingLeft.px]="8">filter_list</mat-icon>
            </button>

          </div>

        </div>

      </ng-container>

    </div>

  </div>

</form>
