<form #form="ngForm" empNgFormKeyDownEnter autocomplete="off" class="form-section form-container">

  <div class="fx-column-container fx-gap-half">

    <ng-container #generalFieldsContainer>

      <div class="fx-row-container sm-fx-column-container">

        <div class="fx-item-half sm-fx-item">

          <label>Tipo de consulta:</label>

          <emp-ng-select name="trialBalanceType" required
            [(ngModel)]="query.trialBalanceType"
            [items]="reportTypeList"
            [showError]="!query.trialBalanceType"
            [loading]="isLoadingReportTypes"
            (changes)="onTrialBalanceTypeChange()">
          </emp-ng-select>

        </div>

        <div #periodSection class="fx-item-none">

          <div #initialPeriodSection class="fx-row-container">

            <div *ngIf="displayInitialPeriod" class="fx-item-none">

              <label>Período inicial:</label>

              <emp-ng-date-range-picker name="initialPeriod"
                [(startDate)]="query.initialPeriod.fromDate"
                [(endDate)]="query.initialPeriod.toDate"
                [showError]="!query.initialPeriod.fromDate ||
                             !query.initialPeriod.toDate">

              </emp-ng-date-range-picker>

            </div>

            <div *ngIf="!displayInitialPeriod" class="fx-item-none">

              <label>Fecha:</label>

              <emp-ng-datepicker name="date"
                [(ngModel)]="query.initialPeriod.toDate"
                [showError]="!query.initialPeriod.toDate"
                (valueChange)="onDatepickerInitialPeriodToDateChange($event)">

              </emp-ng-datepicker>

            </div>

          </div>

          <div #finalPeriodSection *ngIf="periodsRequired"
            class="fx-row-container" [style.marginTop.rem]="0.25">

            <div class="fx-item-none">

              <label>Período final:</label>

              <emp-ng-date-range-picker name="finalPeriod" #finalPeriodRangePicker
                [(startDate)]="query.finalPeriod.fromDate"
                [(endDate)]="query.finalPeriod.toDate"
                [showError]="!query.finalPeriod.fromDate ||
                             !query.finalPeriod.toDate">

              </emp-ng-date-range-picker>

            </div>

          </div>

        </div>

        <div class="fx-item"></div>

        <div #buttonsSection class="fx-item-none">

          <div #initialPeriodSection class="fx-row-container"
            [style.paddingTop.px]="12" [style.paddingBottom.px]="2">

            <div class="fx-item-none">

              <button title="Generar balanza"
                [class.btn-icon-action]="trialBalanceFormFieldsValid && exchangeRateFormFieldsValid"
                [class.btn-icon]="!trialBalanceFormFieldsValid || !exchangeRateFormFieldsValid"
                [disabled]="!trialBalanceFormFieldsValid || !exchangeRateFormFieldsValid"
                (click)="onBuildTrialBalanceClicked()">

                <mat-icon>search</mat-icon>

              </button>

            </div>

            <mat-divider vertical="true" class="vertical" [style.marginTop.px]="0">

            </mat-divider>

            <div class="fx-item-none">

              <button class="btn-base"
                [style.width.px]="100"
                (click)="onShowFiltersClicked()">
                {{showFilters ? 'Ocultar' :'Mostrar'}} <mat-icon>filter_list</mat-icon>
              </button>

            </div>

          </div>

        </div>

      </div>

      <div class="fx-row-container">

        <div class="fx-item-half">

          <label>Catálogo de cuentas:</label>

          <emp-ng-select name="accountsChartUID" required
            [(ngModel)]="query.accountsChartUID"
            [items]="accountsChartMasterDataList"
            [loading]="isLoadingAccountsCharts"
            [showError]="!query.accountsChartUID"
            (changes)="onAccountChartChanges($event)">
          </emp-ng-select>

        </div>

        <div class="fx-item-half">

          <label>Contabilidad:</label>

          <emp-ng-select name="ledger"
            [config]="{clearable: true, multiple: true}"
            [(ngModel)]="query.ledgers"
            [items]="accountChartSelected?.ledgers"
            bindLabel="fullName"
            [placeholder]="accountChartSelected ? 'Todas las contabilidades para el grupo seleccionado' : 'Todas'">
          </emp-ng-select>

        </div>

      </div>

      <div class="fx-row-container">

        <div class="fx-item-quarter">

          <mat-checkbox name="withSubledgerAccount"
            empNgStopPropagation
            [(ngModel)]="query.withSubledgerAccount"
            [disabled]="withSubledgerAccountDisabled"
            [title]="withSubledgerAccountDisabled && !withSubledgerAccountRequired ? 'No aplica' : ''">
            Con Auxiliares
          </mat-checkbox>

        </div>

        <div class="fx-item-quarter">

          <mat-checkbox name="showCascadeBalances"
            empNgStopPropagation
            [(ngModel)]="query.showCascadeBalances"
            [disabled]="showCascadeBalancesDisabled"
            [title]="showCascadeBalancesDisabled && !showCascadeBalancesRequired ? 'No aplica' : ''">
            Imprimir en cascada
          </mat-checkbox>

        </div>

        <div class="fx-item-quarter">

          <mat-checkbox name="useValuation"
            empNgStopPropagation
            [disabled]="exchangeRatesDisabled"
            [(ngModel)]="query.useValuation"
            [title]="exchangeRatesDisabled && !exchangeRatesRequired ? 'No aplica' : ''"
            (change)="onUseValuationChange()">
            Valorizar saldos
          </mat-checkbox>

        </div>

        <div class="fx-item-quarter">

          <mat-checkbox *ngIf="query.useValuation"
            name="useDefaultValuation"
            empNgStopPropagation
            [(ngModel)]="query.useDefaultValuation"
            [disabled]="useDefaultValuationDisabled"
            (change)="onUseDefaultValuationChange($event.checked)">
            Valorización default
          </mat-checkbox>

        </div>
      </div>

    </ng-container>

    <div *ngIf="showFilters" [@empExpandCollapse]>

      <mat-divider class="horizontal-md">

      </mat-divider>


      <ng-container #trialBalanceFieldsContainer>

        <div class="fx-row-container" [style.marginBottom.px]="8">

          <ng-container *ngIf="displayAccountRange">

            <div class="fx-item-quarter">

              <label>De la cuenta:</label>

              <input type="text" name="fromAccount" class="text-box"
                [(ngModel)]="query.fromAccount"
                (keyup.escape)="query.fromAccount = ''">

            </div>

            <div class="fx-item-quarter">

              <label>A la cuenta:</label>

              <input type="text" name="toAccount" class="text-box"
                [(ngModel)]="query.toAccount"
                (keyup.escape)="query.toAccount = ''">

            </div>

          </ng-container>

          <ng-container *ngIf="displayAccountsLists">

            <div class="fx-item-quarter">

              <label>Con las cuentas:</label>

              <emp-ng-input-tags name="accounts"
                [(ngModel)]="query.accounts">

              </emp-ng-input-tags>

            </div>

            <div class="fx-item-quarter">

              <label>Con los auxiliares:</label>

              <emp-ng-input-tags name="subledgerAccounts"
                [(ngModel)]="query.subledgerAccounts">

              </emp-ng-input-tags>

            </div>

          </ng-container>

          <div class="fx-item-half">

            <label>Incluir:</label>

            <emp-ng-select name="balancesType" required
              [(ngModel)]="query.balancesType"
              [items]="balancesTypeList"
              [showError]="!query.balancesType">
            </emp-ng-select>

          </div>

        </div>

        <div class="fx-row-container" [style.marginBottom.px]="8"
          *ngIf="displayLevel || displayWithAverageBalance || displayWithSectorization">

          <div *ngIf="displayLevel" class="fx-item-half">

            <label>Nivel:</label>

            <emp-ng-select name="level"
              [config]="{clearable: true}"
              [(ngModel)]="query.level"
              [items]="levelsList"
              placeholder="Todos">
            </emp-ng-select>

          </div>

          <div *ngIf="displayWithAverageBalance"
            class="fx-item-quarter fx-items-center"
            [style.height.px]="28" [style.marginTop.px]="displayLevel ? 12 : null">

            <mat-checkbox name="withAverageBalance"
              empNgStopPropagation
              [(ngModel)]="query.withAverageBalance">
              Con saldo promedio
            </mat-checkbox>

          </div>

          <div *ngIf="displayWithSectorization"
            class="fx-item-quarter fx-items-center"
            [style.height.px]="28" [style.marginTop.px]="displayLevel ? 12 : null">

            <mat-checkbox name="withSectorization"
              empNgStopPropagation
              [(ngModel)]="query.withSectorization">
              Con sectorización
            </mat-checkbox>

          </div>

        </div>

      </ng-container>


      <div #exchangeRateFieldsContainer [@empExpandCollapse]
        *ngIf="query.useValuation && !query.useDefaultValuation">

        <mat-divider class="horizontal">

        </mat-divider>

        <div class="fx-row-container sm-fx-column-container" [style.marginBottom.px]="8">

          <div class="fx-item-half sm-fx-item">

            <div *ngIf="periodsRequired" class="section-title"> Período inicial </div>

            <emp-fa-exchange-rate-selector #initialPeriodExchangeRates
              [exchangeRatesList]="query.initialPeriod.exchangeRatesList"
              [exchangeRateDate]="query.initialPeriod.exchangeRateDate"
              [(exchangeRateTypeUID)]="query.initialPeriod.exchangeRateTypeUID"
              [(valuateToCurrrencyUID)]="query.initialPeriod.valuateToCurrrencyUID"
              [(consolidateBalancesToTargetCurrency)]="query.consolidateBalancesToTargetCurrency"
              [showConsolidateBalancesToTargetCurrency]="showConsolidateBalancesToTargetCurrency"
              (exchangeRateDateChange)="onExchangeRateDateChanged(query.initialPeriod, $event)"
              (exchangeRateSelectorEvent)="onExchangeRateSelectorEvent($event, query.initialPeriod)">

            </emp-fa-exchange-rate-selector>

          </div>

          <div *ngIf="periodsRequired" class="fx-item-half sm-fx-item">

            <div class="section-title"> Período final </div>

            <emp-fa-exchange-rate-selector #finalPeriodExchangeRates
              [exchangeRatesList]="query.finalPeriod.exchangeRatesList"
              [exchangeRateDate]="query.finalPeriod.exchangeRateDate"
              [(exchangeRateTypeUID)]="query.finalPeriod.exchangeRateTypeUID"
              [(valuateToCurrrencyUID)]="query.finalPeriod.valuateToCurrrencyUID"
              [showConsolidateBalancesToTargetCurrency]="false"
              (exchangeRateDateChange)="onExchangeRateDateChanged(query.finalPeriod, $event)"
              (exchangeRateSelectorEvent)="onExchangeRateSelectorEvent($event, query.finalPeriod)">

            </emp-fa-exchange-rate-selector>

          </div>

        </div>

      </div>


      <ng-container #clearFilterSection>

        <mat-divider class="horizontal">

        </mat-divider>

        <div class="fx-row-container fx-space-between">

          <button class="btn-base"
            [style.width.px]="100"
            (click)="onCloneFilters()">
            Clonar <mat-icon>filter_list</mat-icon>
          </button>

          <button class="btn-base"
            [style.width.px]="100"
            (click)="onClearFilters()">
            Limpiar <mat-icon>filter_list</mat-icon>
          </button>

        </div>

      </ng-container>

    </div>

  </div>

</form>
