<div class="explorer">

  <div class="primary"
    [class.priority]="!displayReportBreakdown"
    [fxHide.notebook]="displayReportBreakdown">

    <emp-fa-report-viewer
      [reportGroup]="reportGroup"
      [reportQuery]="reportQuery"
      [selectedReportType]="selectedReportType"
      [reportData]="reportData"
      [queryExecuted]="queryExecuted"
      [selectedEntry]="selectedReportBreakdown"
      [fileUrl]="fileUrl"
      [isLoading]="isLoading || isLoadingBreakdown"
      (reportViewerEvent)="onReportViewerEvent($event)">

      <ng-container [ngSwitch]="reportGroup">

        <emp-fa-financial-report-filter fxFlex="none" *ngSwitchCase="ReportGroups.ReportesRegulatorios"
          (financialReportFilterEvent)="onReportFilterEvent($event)">

        </emp-fa-financial-report-filter>

        <emp-fa-operational-report-filter fxFlex="none" *ngSwitchCase="ReportGroups.ReportesOperativos"
          [reportGroup]="reportGroup"
          (operationalReportFilterEvent)="onReportFilterEvent($event)">

        </emp-fa-operational-report-filter>

        <emp-fa-operational-report-filter fxFlex="none" *ngSwitchCase="ReportGroups.ReportesFiscales"
          [reportGroup]="reportGroup"
          (operationalReportFilterEvent)="onReportFilterEvent($event)">

        </emp-fa-operational-report-filter>

      </ng-container>

    </emp-fa-report-viewer>

  </div>


  <div class="secondary priority" *ngIf="displayReportBreakdown">

    <emp-fa-financial-report-breakdown-tabbed-view
      [financialReportBreakdown]="selectedReportBreakdown"
      (financialReportBreakdownTabbedViewEvent)="onReportBreakdownEvent($event)">

    </emp-fa-financial-report-breakdown-tabbed-view>

  </div>

</div>
