<div class="card card-border">

  <div class="card-header card-header-flat">

    <div class="card-title">
      Generación de reportes {{reportGroupName}}

      <div class="card-hint" empNgProgressText
        loadingText="Cargando"
        [finalText]="cardHint"
        [isLoading]="isLoading">
      </div>

    </div>

  </div>

  <div class="card-body" [empNgSpinnerHost]="spinner">

    <div fxLayout="column" fxFlexFill>

      <emp-ng-spinner #spinner [visible]="isLoading">

      </emp-ng-spinner>

      <ng-content>

      </ng-content>

      <emp-fa-data-table fxFlex
        [dataTable]="reportData"
        [executed]="queryExecuted"
        [selectedEntry]="selectedEntry?.financialReportEntry"
        [notQueryExecutedText]="isLoading ? 'Cargando...' : 'No se ha invocado la consulta.'"
        (dataTableEvent)="onDataTableEvent($event)">

      </emp-fa-data-table>

    </div>

  </div>

</div>

<emp-fa-export-report-modal *ngIf="displayExportModal"
  [title]="'Exportar ' + selectedReportType?.name"
  [fileUrl]="fileUrl"
  [exportationTypes]="exportationTypesList"
  (exportReportModalEvent)="onExportReportModalEvent($event)">

</emp-fa-export-report-modal>
