<emp-ng-card [title]="title"
             [hint]="hint"
             (cardClose)="onClose()">

<mat-tab-group [(selectedIndex)]="selectedTabIndex">

    <mat-tab label="Información">

      <emp-fa-voucher-editor
        [voucher]="voucher"
        [canEditVoucher]="canEditVoucher"
        (voucherEditorEvent)="onVoucherEditorEvent($event)">

      </emp-fa-voucher-editor>

    </mat-tab>

    <mat-tab label="Movimientos">

      <emp-fa-voucher-entries-editor
        [voucher]="voucher"
        [canEditVoucher]="canEditVoucher"
        (voucherEntriesEditorEvent)="onVoucherEntriesEditorEvent($event)">

      </emp-fa-voucher-entries-editor>

    </mat-tab>

    <mat-tab label="Impresión">

      <ng-template matTabContent>

        <emp-fa-voucher-printable-viewer [voucherId]="voucher.id">

        </emp-fa-voucher-printable-viewer>

      </ng-template>

    </mat-tab>

</mat-tab-group>

</emp-ng-card>
