<emp-ng-card [title]="title"
             [hint]="hint"
             (cardClose)="onClose()">

<mat-tab-group [(selectedIndex)]="selectedTabIndex">

    <mat-tab label="Información">

      <emp-fa-voucher-editor
        [voucher]="voucher"
        (voucherEditorEvent)="onVoucherEditorEvent($event)">

      </emp-fa-voucher-editor>

    </mat-tab>

    <mat-tab label="Movimientos">

      <emp-fa-voucher-entries-editor
        [voucher]="voucher"
        (voucherEntriesEditorEvent)="onVoucherEntriesEditorEvent($event)">

      </emp-fa-voucher-entries-editor>

    </mat-tab>

    <mat-tab label="Impresión" disabled>

    </mat-tab>

</mat-tab-group>

</emp-ng-card>
