
<ng-container *ngIf="displayAccountsChartList">

  <mat-divider [style.marginBottom.rem]="0.5">

  </mat-divider>

  <emp-fa-accounts-chart-controls [accountsChart]="accountsChart">

  </emp-fa-accounts-chart-controls>

</ng-container>

<div class="list-header">

  <div class="list-header-container">

    <div fxLayout="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="32px">

      <div fxFlex="170px"> Número de cuenta </div>

      <div fxFlex> Nombre </div>

      <div fxFlex="10%"> Rol </div>

      <div fxFlex="10%"> Tipo</div>

      <div fxFlex="10%"> Naturaleza </div>

    </div>

  </div>

</div>

<cdk-virtual-scroll-viewport itemSize="25" style="height: calc(100% - 87px)">

  <div *cdkVirtualFor="let account of accountsChart.accounts;" class="list-item"
    [ngClass]="{'list-item-border-level-1': account.level === 1}"
    [style.borderLeft]="getBorderColorByLevel(account.level)">

    <div class="list-item-container">

      <emp-fa-accounts-chart-list-entry [account]="account">

      </emp-fa-accounts-chart-list-entry>

    </div>

  </div>

  <div *ngIf="!displayAccountsChartList" class="text-not-found">
    Selecciona los filtros.
  </div>

  <div *ngIf="displayAccountsChartList && accountsChart.accounts.length === 0" class="text-not-found">
    No encontre cuentas.
  </div>

</cdk-virtual-scroll-viewport>
