<div class="list-selection-header" [style.top.px]="53">

  <div fxLayout="column" fxLayoutGap="0.5rem" fxLayoutGap.lt-md="0">

    <div fxLayout="row" fxLayoutAlign="space-between center">

      <div fxFlex class="text-small-text">

        {{accountsChart.accounts.length}} cuentas encontradas

      </div>

      <div fxFlex fxLayoutAlign="end" [style.marginRight.px]="8">

        <button class="btn" (click)="onExportButtonClicked()"> Exportar </button>

      </div>

    </div>

  </div>

</div>
