
<div fxLayout="column" fxFlexFill>

  <div #controlsContainer *ngIf="displayAccountsChartList" fxFlex="none">

    <mat-divider [style.marginBottom.px]="8">

    </mat-divider>

    <emp-fa-accounts-chart-controls
      [accountsChart]="accountsChart">

    </emp-fa-accounts-chart-controls>

  </div>

  <div #headerContainer fxFlex="none">

    <emp-fa-accounts-chart-list-entry
      [displayHeader]="true"
      [maxLevel]="maxLevel">

    </emp-fa-accounts-chart-list-entry>

  </div>

  <div #listContainer fxFlex>

    <cdk-virtual-scroll-viewport itemSize="25">

      <div *cdkVirtualFor="let account of accountsChart.accounts;" class="list-item"
        [ngClass]="{'list-item-summary': account.role !== 'Sumaria'}"
        [ngClass]="{'list-item-deleted': account.obsolete}">

        <div class="list-item-container">

          <emp-fa-accounts-chart-list-entry
            [account]="account"
            [maxLevel]="maxLevel"
            (accountClicked)="onAccountClicked($event)">

          </emp-fa-accounts-chart-list-entry>

        </div>

      </div>

      <div *ngIf="!displayAccountsChartList" class="text-not-found">
        No se ha invocado la búsqueda de cuentas.
      </div>

      <div *ngIf="displayAccountsChartList && accountsChart.accounts.length === 0" class="text-not-found">
        No se encontraron cuentas con el filtro proporcionado.
      </div>

    </cdk-virtual-scroll-viewport>

  </div>

</div>
