<div class="list-header" *ngIf="displayHeader">

  <div class="list-header-container">

    <div fxLayout="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="8px">

      <div [fxFlex]="widthByMaxLevel + 'px'"> Número de cuenta </div>

      <div *ngIf="showSectors" fxFlex="22px"> Sct </div>

      <div fxFlex class="list-header-column-border-shadow"> Nombre </div>

      <div fxFlex="7%"> Rol </div>

      <div fxFlex="5%"> Sector </div>

      <div fxFlex="5%"> Auxiliar </div>

      <div fxFlex="7%"> Tipo</div>

      <div fxFlex="7%"> Naturaleza </div>

      <div fxFlex="10%"> Fecha alta </div>

    </div>

  </div>

</div>

<div fxLayout="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="8px" *ngIf="!displayHeader">

  <div [fxFlex]="widthByMaxLevel + 'px'">
    <div class="list-item-name nowrap"
         (click)="onAccountClicked()">
      {{account.role === 'Sumaria' ? '&nbsp;' : '*'}}
      <a>{{account.number}}</a>
    </div>
  </div>

  <div *ngIf="showSectors" fxFlex="22px">
    <div>{{account.sector}}</div>
  </div>

  <div fxFlex class="list-item-column-border-shadow">
    <div class="border-left"></div>
    <div [style.marginLeft.px]="marginLeftByLevel">{{account.name}}</div>
  </div>

  <div fxFlex="7%">
    <div class="nowrap">{{account.role}}</div>
  </div>

  <div fxFlex="5%">
    <div>{{account.usesSector ? "Sí": "No"}}</div>
  </div>

  <div fxFlex="5%">
    <div>{{account.usesSubledger ? "Sí": "No"}}</div>
  </div>

  <div fxFlex="7%">
    <div>{{account.type}}</div>
  </div>

  <div fxFlex="7%">
    <div class="nowrap">{{account.debtorCreditor}}</div>
  </div>

  <div fxFlex="10%">
    <div>{{account.startDate | dateTimeFormat}}</div>
  </div>

</div>
