<div class="controls-container">

  <div class="fx-column-container fx-gap-half">

    <div class="fx-row-container fx-space-between fx-items-center">

      <!-- <div class="fx-item-none">
        <button class="btn-base" (click)="onEditReportHeaderClicked()">
          Editar encabezado del reporte
        </button>
      </div>

      <mat-divider vertical="true" class="vertical" [style.marginLeft.px]="8" [style.marginTop]="0">

      </mat-divider> -->

      <div class="fx-item">

      </div>

      <div class="fx-item-none">

        <button class="btn-base" (click)="onClearButtonClicked()">
          Limpiar selección
        </button>

      </div>

      <mat-divider vertical="true" class="vertical" [style.marginLeft.px]="8" [style.marginTop]="0">

      </mat-divider>

      <div class="fx-item-quarter sm-fx-item-third">

        <div class="input-icon-container">

          <input #filterInput type="text" class="text-box" name="filterInput" autocomplete="off"
            [(ngModel)]="filter"
            placeholder="Buscar en resultado..."
            (keyup.enter)="onFilterData()"
            (keyup.escape)="onClearFilter()">

          <mat-icon class="input-icon" (click)="onFilterData()">search</mat-icon>

        </div>

      </div>

    </div>

  </div>

</div>
