<cdk-virtual-scroll-viewport tvsItemSize="28" [headerHeight]="isFixedRows ? 56 : 28" [bufferMultiplier]="0">

  <table mat-table [dataSource]="dataSource" class="emp-designer">

    <ng-container *ngFor="let column of displayedColumnsHeader; let ci = index;" [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef class="text-align-center"
        [class.designer-column-selected]="selectedColumn.column === column"
        (click)="onColumnClicked(column, ci)">

        <div *ngIf="ci === 0">{{rows.length}}</div>

        <emp-fa-item-menu *ngIf="ci > 0"
          itemType="column"
          [canEdit]="canEditColumns"
          [isSelected]="selectedColumn.column === column"
          (itemMenuEvent)="onColumnMenuEvent($event)">
          {{column}}
        </emp-fa-item-menu>

      </th>
    </ng-container>

    <ng-container matColumnDef="number">
      <th mat-header-cell *matHeaderCellDef></th>

      <td mat-cell *matCellDef="let row;" (click)="onSelectRowClicked(row)">

        <emp-fa-item-menu
          itemType="row"
          [canEdit]="canEditRows"
          [isSelected]="selectedRow.row === row.row"
          (itemMenuEvent)="onRowMenuEvent($event)">
          {{row.row}}
        </emp-fa-item-menu>

      </td>
    </ng-container>

    <ng-container *ngFor="let column of columns; let ci = index;" [matColumnDef]="column.field">

      <th mat-header-cell *matHeaderCellDef class="nowrap header-bold text-align-center"
        (click)="onColumnHeaderClicked(column)"
        [class.designer-column-selected]="selectedColumn.column === column.column"
        [class.nowrap]="column.type === COLUMN_TYPE.decimal"
        [style.width.px]="80"
        [style.minWidth.px]="column.field === 'concept' ? 350 : 80">
        {{column.title}}
      </th>

      <td mat-cell *matCellDef="let row; let ri = index;"
        (click)="onCellSelectClicked(row.row, column.column, row[column.field])"
        [style.minWidth.px]="isFixedCells ? 145 : null"
        [style.maxWidth.px]="isFixedCells ? 145 : null"
        [class]="isFixedCells && row[column.field]?.format ? row[column.field].format : ''"
        [ngClass]="{'text-align-right': column.type === COLUMN_TYPE.decimal,
                    'nowrap': column.type === COLUMN_TYPE.text_nowrap || column.type === COLUMN_TYPE.decimal,
                    'designer-cell-selected': selectedCell.column === column.column && selectedCell.row === row.row,
                    'designer-column-selected': selectedColumn.column === column.column}">

        <ng-container *ngIf="isFixedRows">

          <ng-container [ngSwitch]="column.type">

            <ng-container *ngSwitchCase="COLUMN_TYPE.decimal">
              {{row[column.field] | empDecimal: column.digits}}
            </ng-container>

            <ng-container *ngSwitchDefault>
              {{ row[column.field] }}
            </ng-container>

          </ng-container>

        </ng-container>


        <ng-container *ngIf="isFixedCells">
          {{ row[column.field]?.label ?? '' }}
        </ng-container>

      </td>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumnsHeader; sticky: true;" class="designer-columns-header"></tr>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;" class="designer-columns-subheader"
      [hidden]="isFixedCells"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      [class]="row.format ?? ''"
      [class.fixed-rows-type]="isFixedRows"
      [class.fixed-cells-type]="isFixedCells"
      [class.designer-row-selected]="selectedRow.row === row.row"></tr>

  </table>

  <div *ngIf="isLoading" class="text-not-found">
    Cargando...
  </div>

  <div class="text-not-found" *ngIf="!isLoading && dataSource?.data?.length === 0">
    {{queryExecuted ?
    'No se encontraron datos para el reporte seleccionado.' :
    'No se ha invocado la consulta.'}}
  </div>

</cdk-virtual-scroll-viewport>
