<div class="explorer" [ngClass]="{'fluid': isQuickQuery}">

  <div class="primary" [fxHide.notebook]="displayAccountStatementViewer">

    <emp-fa-trial-balance-viewer
      [isQuickQuery]="isQuickQuery"
      [selectedEntry]="selectedEntry"
      (trialBalanceViewerEvent)="onTrialBalanceViewerEvent($event)">

    </emp-fa-trial-balance-viewer>

  </div>

  <div class="secondary" *ngIf="displayAccountStatementViewer">

    <emp-fa-account-statement-viewer
      [command]="command"
      [entry]="selectedEntry"
      (closeEvent)="onCloseAccountStatementViewer()">

    </emp-fa-account-statement-viewer>

  </div>

</div>
