<form #form="ngForm" autocomplete="off" class="form-section form-container"
  (keydown.enter)="$event.preventDefault()">

  <div fxLayout="column" fxLayoutGap="0.5rem" fxLayoutGap.lt-md="0.5rem">

    <div fxLayout="row" fxLayout.lt-sm="column">

      <div fxFlex="25" *ngIf="typeRequired">

        <label>Tipo:</label>

        <emp-ng-select name="type" required
          [(ngModel)]="formData.type"
          [items]="typeList"
          [showError]="!formData.type"
          placeholder="Todos">
        </emp-ng-select>

      </div>

      <div fxflex="none">

        <ng-container *ngIf="!periodRequired">

          <label>Fecha:</label>
          <emp-ng-datepicker name="fromDate" required
            [(ngModel)]="formData.fromDate"
            [showError]="!formData.fromDate">

          </emp-ng-datepicker>

        </ng-container>

        <ng-container *ngIf="periodRequired">

          <label>Periodo:</label>
          <emp-ng-date-range-picker name="toDate" required
            [(startDate)]="formData.fromDate"
            [(endDate)]="formData.toDate"
            [showError]="!formData.fromDate || !formData.toDate">

          </emp-ng-date-range-picker>

        </ng-container>

      </div>

      <div fxFlex="none" fxFlex.lt-md="none" [style.paddingTop.px]="12" [style.paddingBottom.px]="2">

        <button [title]="'Consultar ' + dataType"
          [class.btn]="form.invalid"
          [class.btn-action]="form.valid"
          [disabled]="form.invalid"
          (click)="onSearchImportedDataClicked()">
          Procesar
        </button>

      </div>

    </div>

  </div>

</form>
