<form #form="ngForm" autocomplete="off" class="form-section form-container"
  (keydown.enter)="$event.preventDefault()">

  <div fxLayout="column" fxLayoutGap="0.5rem" fxLayoutGap.lt-md="0.5rem">

    <div fxLayout="row" fxLayout.lt-sm="column">

      <div [fxFlex]="additionalFieldConfig.show ? null : 25" *ngIf="typeFieldConfig.show">

        <label>{{typeFieldConfig?.label ?? 'Tipo'}}:</label>

        <emp-ng-select name="type" [required]="typeFieldConfig.required"
          [config]="{selectFirst: !typeFieldConfig.multiple,
                     multiple: !!typeFieldConfig.multiple,
                     clearable: !!typeFieldConfig.multiple}"
          [(ngModel)]="formData.type"
          [items]="typeFieldConfig.list"
          [showError]="typeFieldConfig.required ? !formData.type : false"
          [placeholder]="typeFieldConfig.required ? 'Seleccionar' : 'Todos'">
        </emp-ng-select>

      </div>

      <div [fxFlex]="typeFieldConfig.show ? null : 25" *ngIf="additionalFieldConfig.show">

        <label>{{additionalFieldConfig?.label ?? 'Filtro'}}:</label>

        <emp-ng-select name="additional" [required]="additionalFieldConfig.required"
          [config]="{multiple: !!additionalFieldConfig.multiple, clearable: !!additionalFieldConfig.multiple}"
          [(ngModel)]="formData.additional"
          [items]="additionalFieldConfig.list"
          [showError]="additionalFieldConfig.required ? !formData.additional : false"
          placeholder="Todos">
        </emp-ng-select>

      </div>

      <div fxflex="none" *ngIf="!periodRequired">

        <label>Fecha:</label>
        <emp-ng-datepicker name="fromDate" required
          [(ngModel)]="formData.fromDate"
          [showError]="!formData.fromDate">

        </emp-ng-datepicker>

      </div>

      <div fxFlex="225px" *ngIf="periodRequired">

        <label>Periodo:</label>
        <emp-ng-date-range-picker name="toDate" required
          [(startDate)]="formData.fromDate"
          [(endDate)]="formData.toDate"
          [showError]="!formData.fromDate || !formData.toDate">

        </emp-ng-date-range-picker>

      </div>

      <div fxFlex="none" [style.paddingTop.px]="12" [style.paddingBottom.px]="2">

        <button *ngIf="!showIconButtonToSubmit"
          [class.btn]="form.invalid || !isPeriodValid"
          [class.btn-action]="form.valid && isPeriodValid"
          [disabled]="form.invalid || !isPeriodValid"
          (click)="onSearchImportedDataClicked()">
          Procesar
        </button>

        <button [title]="'Consultar ' + dataType" *ngIf="showIconButtonToSubmit"
          [class.btn-icon]="form.invalid || !isPeriodValid"
          [class.btn-icon-action]="form.valid && isPeriodValid"
          [disabled]="form.invalid || !isPeriodValid"
          (click)="onSearchImportedDataClicked()">
          <mat-icon>search</mat-icon>
        </button>

      </div>

    </div>

  </div>

</form>
