<div class="card card-border">

  <div class="card-header card-header-flat">

    <div class="card-title">
      Visualizador de {{dataType}}

      <div class="card-hint" empNgProgressText
        loadingText="Cargando"
        [finalText]="cardHint"
        [isLoading]="isLoading">
      </div>

    </div>

    <div class="card-header-options" *empNgHasPermission="permissionForOptions">

      <button class="btn" *ngIf="showEditData"
        (click)="onEditDataClicked()">
        Edición de {{dataType}}
      </button>

      <button class="btn" *ngIf="showImportData"
        (click)="displayImportModal = true">
        Importar datos operativos
      </button>

    </div>

  </div>

  <div class="card-body" [empNgSpinnerHost]="spinner">

    <div fxLayout="column" fxFlexFill>

      <emp-ng-spinner #spinner [visible]="isLoading">

      </emp-ng-spinner>

      <emp-fa-imported-data-filter fxFlex="none"
        [dataType]="dataType"
        [showIconButtonToSubmit]="showIconButtonToSubmit"
        [periodRequired]="periodRequired"
        [typeFieldConfig]="typeFieldConfig"
        [additionalFieldConfig]="additionalFieldConfig"
        (importDataFilterEvent)="onImportedDataFilterEvent($event)">

      </emp-fa-imported-data-filter>

      <emp-fa-data-table fxFlex
        [dataTable]="data"
        [commandExecuted]="commandExecuted"
        (dataTableEvent)="onDataTableEvent($event)">

      </emp-fa-data-table>

    </div>

  </div>

</div>


<emp-fa-data-importer *ngIf="displayImportModal"
  [dataType]="dataType"
  [importTypeRequired]="importTypeRequired"
  [importTypeList]="importTypeRequired ? typeFieldConfig.list : []"
  [multiFiles]="multiFiles"
  [importerDatasets]="importerDatasets"
  (dataImporterEvent)="onDataImporterEvent($event)">

</emp-fa-data-importer>


<emp-fa-export-report-modal *ngIf="displayExportModal"
  [title]="'Exportar ' + dataType"
  [fileUrl]="fileUrl"
  [exportationTypes]="exportationTypesList"
  (exportReportModalEvent)="onExportReportModalEvent($event)">

</emp-fa-export-report-modal>
