<div class="explorer">

  <div class="primary">

    <emp-fa-imported-data-viewer
      dataType="tipos de cambio"
      [showIconButtonToSubmit]="true"
      [canImportData]="false"
      [canEditData]="true"
      [periodRequired]="true"
      [typeFieldConfig]="{show: true, required: false, multiple: true, list: exchangeRateTypeList}"
      [additionalFieldConfig]="{show: true, label: 'Monedas', required: false, multiple: true, list: currenciesList}"
      [command]="command"
      [commandExecuted]="commandExecuted"
      [data]="exchangeRateData"
      [fileUrl]="excelFileUrl"
      [isLoading]="isLoading"
      (importedDataViewerEvent)="onImportedDataViewerEvent($event)">

    </emp-fa-imported-data-viewer>

  </div>

</div>

<emp-fa-exchange-rates-editor *ngIf="displayExchangeRatesEditor"
  [exchangeRateTypeList]="exchangeRateTypeList"
  (exchangeRatesEditorEvent)="onExchangeRatesEditorEvent($event)">

</emp-fa-exchange-rates-editor>
