<div class="card card-border">

  <div class="card-header card-header-flat">

    <div class="card-title">
      Visualizador de auxiliares

      <div class="card-hint" empNgProgressText
        loadingText="Cargando"
        [finalText]="cardHint"
        [isLoading]="isLoading">
      </div>

    </div>

    <div class="card-header-options">

      <button *empNgHasPermission="permissions.FEATURE_EDICION_AUXILIARES"
        class="btn-action"
        (click)="onCreateSubledgerAccountClicked()">
        Agregar auxiliar
      </button>

    </div>

  </div>

  <div class="card-body" [empNgSpinnerHost]="spinner">

    <div class="fx-column-container-fill">

      <emp-ng-spinner #spinner [visible]="isLoading">

      </emp-ng-spinner>

      <emp-fa-subledger-accounts-filter class="fx-item-none"
        (subledgerAccountsFilterEvent)="onSubledgerAccountsFilterEvent($event)">

      </emp-fa-subledger-accounts-filter>

      <emp-ng-data-table class="fx-item"
        [dataTable]="subledgerAccountData"
        [selectedFieldValue]="{field: 'id', value: selectedSubledgerAccountID}"
        [executed]="queryExecuted"
        (dataTableEvent)="onSubledgerAccountsTableEvent($event)">

      </emp-ng-data-table>

    </div>

  </div>

</div>
