<form #form="ngForm" [empNgSpinnerHost]="spinner" empNgFormKeyDownEnter
  autocomplete="off" class="form-section form-container">

  <emp-ng-spinner #spinner [visible]="isLoading"></emp-ng-spinner>

  <div fxLayout="column" fxLayoutGap="0.5rem" fxLayoutGap.lt-md="0.5rem">

    <div fxLayout="row" fxLayout.lt-sm="column">

      <div [fxFlex]="50">

        <label>Catálogo de cuentas:</label>

        <emp-ng-select name="accountChart" #accountChart="ngModel" required
          [config]="{selectFirst: true, bindByValue: false}"
          [(ngModel)]="subledgerAccountsForm.accountChart"
          [items]="accountsChartMasterDataList"
          [loading]="isLoading"
          [showError]="accountChart.invalid"
          (changes)="onAccountChartChanges()">
        </emp-ng-select>

      </div>

      <div fxFlex fxLayoutAlign="start end">

        <div class="input-search-container">

          <input type="text" class="text-box" name="keywords" #keywords="ngModel" required
            placeholder="Buscar auxiliares..."
            [(ngModel)]="subledgerAccountsForm.keywords"
            [class.invalid-control]="keywords.invalid"
            (keyup.escape)="onClearKeyword()">

        </div>

      </div>

      <div fxFlex="36px" fxFlex.lt-md="none" [style.paddingTop.px]="12" [style.paddingBottom.px]="2">

        <button title="Consultar agrupaciones"
          [class.btn-icon]="form.invalid"
          [class.btn-icon-action]="form.valid"
          [disabled]="form.invalid"
          (click)="onSearchSubledgerAccountsClicked()">

          <mat-icon>search</mat-icon>

        </button>

      </div>

    </div>


    <div fxLayout="row" fxLayout.lt-sm="column">

      <div [fxFlex]="50">

        <label>Contabilidad:</label>

        <emp-ng-select name="ledger" #ledger="ngModel"
          [config]="{bindByValue: false, clearable: true}"
          [(ngModel)]="subledgerAccountsForm.ledger"
          [items]="subledgerAccountsForm.accountChart?.ledgers"
          [placeholder]="subledgerAccountsForm.accountChart ? 'Todas las contabilidades para el grupo seleccionado' : 'Todas'"
          bindLabel="fullName"
          (changes)="onLedgerChanges()">
        </emp-ng-select>

      </div>

      <div [fxFlex]="50">

        <label>Tipo de auxiliar:</label>

        <emp-ng-select name="subledgerType" #subledgerType="ngModel"
          [config]="{clearable: true, bindByValue: false, notFoundText: subledgerAccountsForm.ledger ?
                    'No se encontraron registros' : 'Seleccionar una contabilidad'}"
          [(ngModel)]="subledgerAccountsForm.type"
          [items]="subledgerAccountsForm.ledger?.subledgerAccountsTypes"
          placeholder="Todos">
        </emp-ng-select>

      </div>



    </div>

  </div>

</form>
