<emp-ng-spinner #spinner [visible]="isLoadingFinancialConcept">

</emp-ng-spinner>

<div class="explorer">

  <div class="primary" [fxHide.lt-lg]="displayFinancialConceptTabbed">

    <emp-fa-financial-concepts-viewer
      [financialConceptsList]="financialConceptsList"
      [excelFileUrl]="excelFileUrl"
      [selectedFinancialConcept]="selectedFinancialConcept"
      [isLoading]="isLoading"
      (financialConceptsViewerEvent)="onFinancialConceptsViewerEvent($event)">

    </emp-fa-financial-concepts-viewer>

  </div>

  <div class="secondary priority" *ngIf="displayFinancialConceptTabbed">

    <emp-fa-financial-concept-tabbed-view
      [financialConcept]="selectedFinancialConcept"
      [queryDate]="financialConceptQuery.date"
      [canEdit]="canEditConcepts"
      (financialConceptTabbedViewEvent)="onFinancialConceptTabbedViewEvent($event)">

    </emp-fa-financial-concept-tabbed-view>

  </div>

</div>

<emp-fa-financial-concept-creator *ngIf="displayFinancialConceptCreator"
  [accountsChartUID]="financialConceptQuery.accountsChartUID"
  [groupUID]="financialConceptQuery.groupUID"
  [queryDate]="financialConceptQuery.date"
  (financialConceptCreatorEvent)="onFinancialConceptCreatorEvent($event)">

</emp-fa-financial-concept-creator>
