<div class="explorer">

  <div class="primary priority" [class.md-hide]="displayAccountTabbedView">

    <emp-fa-accounts-lists-viewer
      [accountsListData]="accountsListData"
      [selectedAccountsListEntry]="selectedAccountListEntry"
      [queryExecuted]="queryExecuted"
      [isLoading]="isLoading"
      (accountsListsViewerEvent)="onAccountsListsViewerEvent($event)">

    </emp-fa-accounts-lists-viewer>

  </div>

  <div class="secondary" *ngIf="displayAccountTabbedView">

    <emp-fa-account-list-entry-tabbed-view
      [accountsList]="accountsList"
      [accountListEntry]="selectedAccountListEntry"
      (accountListEntryTabbedViewEvent)="onAccountListEntryTabbedViewEvent($event)">

    </emp-fa-account-list-entry-tabbed-view>

  </div>

</div>


<emp-ng-export-report-modal *ngIf="displayExportModal"
  title="Exportar lista de cuentas"
  [fileUrl]="fileUrl"
  (exportReportModalEvent)="onExportReportModalEvent($event)">

</emp-ng-export-report-modal>


<emp-fa-account-list-entry-creator *ngIf="displayAccountCreator"
  [accountsList]="accountsList"
  (accountListEntryCreatorEvent)="onAccountListEntryCreatorEvent($event)">

</emp-fa-account-list-entry-creator>
