<div class="list-selection-header" [style.top.px]="53">

  <div fxLayout="column" fxLayoutGap="0.5rem" fxLayoutGap.lt-md="0">

    <div fxLayout="row" fxLayoutAlign="space-between center">

      <!-- <div fxFlex="none" [style.paddingRight.px]="8">

        Indice:

      </div>

      <div fxFlex="25">

        <emp-ng-select name="accountsChartUID" fxFlex="100"
          [(ngModel)]="indexSelected"
          [items]="[]"
          (changes)="onFilterData(filterInput.value)">

        </emp-ng-select>

      </div> -->


      <div fxFlex="25">

        <div class="input-icon-container" [style.width.%]="100" [style.marginBottom.px]="0">

          <input #filterInput type="text" class="text-box" name="filterInput" autocomplete="off"
            style="margin: 0;"
            [(ngModel)]="filter"
            placeholder="Buscar en resultado..."
            (keyup.enter)="onFilterData()"
            (keyup.escape)="onClearFilter()">

          <mat-icon class="input-icon" (click)="onFilterData()">search</mat-icon>

        </div>

      </div>

      <div fxFlex fxLayoutAlign="end" [style.marginRight.px]="8">

        <button class="btn"> Exportar </button>

      </div>

    </div>

  </div>

</div>
