<form #form="ngForm" empNgFormKeyDownEnter autocomplete="off" class="form-section form-container">

  <div class="fx-column-container fx-gap-half">

    <div class="fx-row-container">

      <div class="fx-item-half sm-fx-item">

        <label>Catálogo de cuentas:</label>

        <emp-ng-select name="accountsChartUID" required
          [(ngModel)]="query.accountsChartUID"
          [items]="accountsChartMasterDataList"
          [loading]="isLoading"
          [showError]="!query.accountsChartUID">

        </emp-ng-select>

      </div>

      <div class="fx-item sm-hide">

      </div>

      <div class="fx-item-none">

          <label>Período:</label>

          <emp-ng-date-range-picker name="period"
            [(startDate)]="query.fromDate"
            [(endDate)]="query.toDate"
            [showError]="!query.fromDate ||
                         !query.toDate">

          </emp-ng-date-range-picker>

      </div>


      <div class="fx-item-none fx-items-end" [style.paddingBottom.px]="2">

        <button title="Buscar"
          [class.btn-icon]="form.invalid || !periodValid"
          [class.btn-icon-action]="form.valid && periodValid"
          [disabled]="form.invalid || !periodValid"
          (click)="onBuildOperationalReportClicked()">

          <mat-icon>search</mat-icon>

        </button>

      </div>

    </div>

  </div>

</form>
