<emp-ng-card [title]="title"
             [hint]="hint"
             (cardClose)="onClose()">

  <mat-tab-group mat-stretch-tabs="false" [(selectedIndex)]="selectedTabIndex">

    <mat-tab label="Concepto">

      <emp-fa-financial-concept-editor
        [financialConcept]="financialConcept"
        [queryDate]="queryDate"
        [canEdit]="canEdit"
        (financialConceptEditorEvent)="onFinancialConceptEditorEvent($event)">

      </emp-fa-financial-concept-editor>

    </mat-tab>

    <mat-tab label="Integración">

      <emp-fa-financial-concept-integration-edition
        [financialConcept]="financialConcept"
        [queryDate]="queryDate"
        [canEdit]="canEdit"
        (financialConceptIntegrationEditionEvent)="onFinancialConceptIntegrationEditionEvent($event)">

      </emp-fa-financial-concept-integration-edition>

    </mat-tab>

  </mat-tab-group>

</emp-ng-card>
