<form [formGroup]="form" autocomplete="off" class="form-section" empNgFormKeyDownEnter>

  <div class="fx-column-container fx-gap-half">

      <div class="section-title"> Información de la póliza especial </div>

      <div class="fx-row-container sm-fx-column-container fx-wrap">

        <div *ngIf="!voucherSpecialCaseType"
          class="fx-item-one instruction-text" [style.height.px]="42">
          Seleccionar el tipo de póliza
        </div>

        <ng-container *ngIf="!!voucherSpecialCaseType">

          <div *ngIf="voucherSpecialCaseType.askForCalculationDateField"
            class="fx-item-third sm-fx-item">
            <label>{{voucherSpecialCaseType?.calculationDateFieldName}}:</label>
            <emp-ng-datepicker
              formControlName="calculationDate"
              [showError]="formHelper.isControlInvalid(form.controls.calculationDate)">

            </emp-ng-datepicker>
          </div>

          <div *ngIf="voucherSpecialCaseType.askForVoucherNumberField"
            class="fx-item-third sm-fx-item">
            <label>Número de póliza:</label>
            <input type="text" empNgNumeration
              class="text-box"
              formControlName="onVoucherNumber"
              [class.invalid-control]="formHelper.isControlInvalid(form.controls.onVoucherNumber)">
          </div>

          <div *ngIf="voucherSpecialCaseType.allowAllChildrenLedgersSelection"
            class="fx-item-none fx-items-end" [style.paddingBottom.px]="2">
            <mat-checkbox empNgStopPropagation
              formControlName="generateForAllChildrenLedgers">
              Todas las contabilidades excepto Distrito Federal
            </mat-checkbox>
          </div>

        </ng-container>

      </div>

  </div>

</form>
