<emp-ng-card
  title='Nueva póliza'
  hint='Información de la póliza a crear en SICOFIN'
  (cardClose)="onClose()">

  <div class="card-body-padding" [empNgSpinnerHost]="spinner">

    <emp-ng-spinner #spinner [visible]="submitted">

    </emp-ng-spinner>

    <form autocomplete="off" class="form-section" empNgFormKeyDownEnter>

      <div class="fx-row-container sm-fx-column-container" [style.marginBottom.rem]="0.75">

        <div class="fx-item-one">
          <label>Modalidad:</label>
          <mat-radio-group [(ngModel)]="selectedCreatorCase" [ngModelOptions]="{standalone: true}"
            (change)="onCreatorTypeChange()">
            <mat-radio-button [value]="creatorCases.Manual">Póliza manual</mat-radio-button>
            <mat-radio-button [value]="creatorCases.Special">Póliza especial</mat-radio-button>
          </mat-radio-group>
        </div>

      </div>

    </form>

    <div class="section-title"> Información general de la póliza </div>

    <emp-fa-voucher-header #voucherHeader
      [isSpecialCase]="isSpecialCase"
      [allowAllLedgersSelection]="allowAllLedgersSelection"
      (voucherHeaderEvent)="onVoucherHeaderEvent($event)">

    </emp-fa-voucher-header>

    <emp-fa-voucher-special-case-editor #voucherSpecialCaseEditor *ngIf="isSpecialCase"
      [voucherSpecialCaseType]="selectedVoucherType"
      [ledgerUID]="ledgerUIDSelected"
      (voucherSpecialCaseEditorEvent)="onVoucherSpecialCaseEditorEvent($event)">

    </emp-fa-voucher-special-case-editor>

    <mat-divider class="horizontal"></mat-divider>

    <div class="fx-row-container" [style.marginRight.px]="8">

      <div class="fx-item fx-end fx-items-center">

        <button type="button"
          [class.btn]="!readyForSubmit"
          [class.btn-action]="readyForSubmit"
          (click)="onSubmitForm()">
          Guardar
        </button>

      </div>

    </div>

  </div>

</emp-ng-card>
