<form [formGroup]="form" autocomplete="off" class="form-section" empNgFormKeyDownEnter>

  <div fxLayout="column" fxLayout.lt-md="column" fxLayoutGap="0.75rem" fxLayoutGap.lt-md="0">

      <div class="section-title"> Información de la póliza especial </div>

      <div fxLayout="row wrap" fxLayout.lt-md="column">

        <div *ngIf="!voucherSpecialCaseType" [fxFlex]="100" class="instruction-text" [style.height.px]="42">
          Seleccionar el tipo de póliza
        </div>

        <ng-container *ngIf="!!voucherSpecialCaseType">

          <div *ngIf="voucherSpecialCaseType.askForCalculationDateField"
            [fxFlex]="100/3">
            <label>{{voucherSpecialCaseType?.calculationDateFieldName}}:</label>
            <emp-ng-datepicker
              formControlName="calculationDate"
              [showError]="formHelper.isControlInvalid(form.controls.calculationDate)">

            </emp-ng-datepicker>
          </div>

          <div *ngIf="voucherSpecialCaseType.askForVoucherNumberField"
            [fxFlex]="100/3">
            <label>Número de póliza:</label>
            <input type="text" class="text-box" empNgNumeration
              formControlName="onVoucherNumber"
              [class.invalid-control]="formHelper.isControlInvalid(form.controls.onVoucherNumber)">
          </div>

          <div *ngIf="voucherSpecialCaseType.allowAllChildrenLedgersSelection"
            fxFlex="none" fxLayoutAlign="start center" [style.height.px]="28" [style.marginTop.px]="12">
            <mat-checkbox
              formControlName="generateForAllChildrenLedgers"
              (click)="$event.stopPropagation">
              Todas las contabilidades excepto Distrito Federal
            </mat-checkbox>
          </div>

        </ng-container>

      </div>

  </div>

</form>
